@import '../vars';

.spark20pro5g .sec11 {
  padding: px-to-vw(300) 0 0;

  .a_cont {
    position: relative;
  }
  
  .bg_wrap {
    width: 100%;
    height: px-to-vw(1080);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .ctt {
    position: absolute;
    top: 50%;
    left: px-to-vw(143);
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }

  .img_wrap {
    width: px-to-vw(1006);
    margin-top: px-to-vw(-200);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text_wrap {
    width: px-to-vw(600);
  }
}

@media (max-width: $mobwidthPx) {
  .spark20pro5g .sec11 {
    padding: 0 0 px-to-vw-mb(300);

    .bg_wrap {
      height: px-to-vw-mb(1603);
    }

    .ctt {
      top: px-to-vw-mb(60);
      left: 0;
      flex-direction: column-reverse;
      transform: unset;
    }

    .text_wrap {
      width: auto;
      margin: 0 px-to-vw-mb(120);
    }

    .img_wrap {
      width: 100%;
      margin-top: px-to-vw-mb(-50);
    }
  }
}