@import '../vars';

.spark20pro5g .sec11 {
  padding: px-to-vw(300) 0 0;

  .a_cont {
    height: px-to-vw(1080);
  }

  .bg_wrap {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .ctt {
    position: absolute;
    top: 50%;
    left: px-to-vw(143);
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }

  .img_wrap {
    width: px-to-vw(1006);
    margin-top: px-to-vw(-200);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text_wrap {
    width: px-to-vw(600);
  }
}

@media (max-width: $mobwidthPx) {
  .spark20pro5g .sec11 {
    .a_cont {
      height: auto;
    }

    .ctt {
      flex-direction: column-reverse;
    }
  }
}