@import "../var";

.fullVideo {
  position: fixed;
  top: 120%;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background: #000;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;

    .closeIcon {
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 2;
      width: pvw(48);
      height: pvw(48);
      background: url("../../../assets/images/closeIcon.png") no-repeat center /
        cover;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 767px) {
  .fullVideo {
    .inner {
      .closeIcon {
        top: 5%;
        right: 10%;
        width: mvw(48);
        height: mvw(48);
      }
    }
  }
}
