@import '../vars';

.ear571h .sec6 {
  .sec6_wrap {
    padding-top: px-to-vw(86);
  }

  .img_box {
    display: flex;
    height: px-to-vw(560);
    will-change: transform;
  }

  .img_container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .img_wrap {
    flex-shrink: 0;
    width: px-to-vw(426);
    overflow: hidden;

    img {
      transition: all .5s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}