@import "./vars";

* {
  margin: 0;
  padding: 0;
}

.tab30pro {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  color: #000;
  font-family: "Book";
  line-height: initial;
  background-color: #fff;
  background-image: none !important;

  --content-width: 62.5vw;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Book";
  }

  &.false {
    background-image: unset !important;
  }

  video {
    width: auto;
  }

  section {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    margin-top: -1px;
    overflow: hidden;
  }

  span {
    font-size: inherit;
    font-family: inherit;
  }

  img {
    vertical-align: baseline;
  }

  button {
    background-color: unset;
    border: none;
  }

  .mb {
    display: none;
  }

  .img_wrap {
    font-size: 0;

    img {
      width: 100%;
    }
  }

  .equal_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .spec_part {
    position: relative;
    height: px-to-vw(800);
  }

  .spec_bg {
    position: relative;
    height: 100%;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .67;
      content: "";
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .spec_text_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: px-to-vw(1600);
    margin: 0 auto;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .spec_title {
    color: #fff;
    font-size: px-to-vw(91.6);
    font-family: "Bold";
    line-height: 1.3;
  }

  .title_58 {
    font-size: px-to-vw(58);
    font-family: "Medium";
    line-height: 1.2;
  }

  .subtitle_37 {
    margin-top: px-to-vw(16);
    font-size: px-to-vw(37.5);
    font-family: "Regular";
    line-height: 1.2;
  }

  .desc_16 {
    margin-top: px-to-vw(30);
    color: #2e2e2e;
    font-size: px-to-vw(16.6);
    font-family: "Regular";
    line-height: 2;
    opacity: .7;
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro {
    --content-width: calc(670vw / 7.5);

    .pc {
      display: none;
    }

    .mb {
      display: block;
    }

    .spec_part {
      height: px-to-vw-mb(550);
    }

    .spec_text_wrap {
      max-width: px-to-vw-mb(680);
    }

    .spec_title {
      font-size: px-to-vw-mb(62.5);
    }

    .spec_desc {
      margin: px-to-vw-mb(40) 0 0;
      font-size: px-to-vw-mb(25);
      line-height: 1.6;
    }

    .title_58 {
      font-size: px-to-vw-mb(54.1);
      font-family: "Bold";
    }

    .subtitle_37 {
      margin-top: px-to-vw-mb(16);
      font-size: px-to-vw-mb(33.3);
    }

    .desc_16 {
      margin-top: px-to-vw-mb(24);
      font-size: px-to-vw-mb(20.8);
    }
  }
}