@import '../vars';

.tab30pro .sec14 {
  .sec14_wrap {
    position: relative;
    padding: px-to-vw(200) 0;
  }

  .text_wrap {
    display: flex;
    gap: px-to-vw(100);
    justify-content: space-between;
    max-width: var(--content-width);
    margin: 0 auto;

    .left_wrap {
      flex-shrink: 0;
      width: px-to-vw(620);
    }

    .desc_16 {
      margin-top: 0;
    }
  }

  .phone_wrap {
    position: relative;
    z-index: 1;
    width: px-to-vw(1443);
    height: px-to-vw(530);
    margin: px-to-vw(50) 0 0 auto;
  }

  .datas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: var(--content-width);
    min-height: px-to-vw(180);
    margin: px-to-vw(-100) auto 0;

    @include bg("pc/sec14_data_bg_pc.webp", false);

    background-size: 100% 100% !important;

    .data_title {
      font-size: px-to-vw(29);
      font-family: "Regular";
    }

    .data_desc {
      margin-top: px-to-vw(8);
      font-size: px-to-vw(16.6);
      font-family: "Regular";
    }

    .data_line {
      display: block;
      width: 1px;
      height: px-to-vw(53);
      background-color: #000;
    }
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec14 {
    .sec14_wrap {
      padding: px-to-vw-mb(150) 0;
    }

    .text_wrap {
      display: block;

      .left_wrap {
        width: 100%;
      }

      .desc_16 {
        margin-top: px-to-vw-mb(24);
      }
    }

    .phone_wrap {
      width: px-to-vw-mb(734);
      height: px-to-vw-mb(297);
      margin: px-to-vw-mb(50) 0 0 auto;
    }

    .datas {
      min-height: px-to-vw-mb(136);
      margin: px-to-vw-mb(-24) auto 0;
      padding: px-to-vw-mb(24);

      @include bg("mb/sec14_data_bg_mb.webp", false);

      .data_title {
        font-size: px-to-vw-mb(27);
        font-family: "Book";
      }

      .data_desc {
        font-size: px-to-vw-mb(20.8);
      }

      .data_line {
        height: px-to-vw-mb(50);
      }
    }
  }
}