@import '../index';

.sec9.pop8 {

  @include bg('sec9PcText.png');

  &.false {
    background-image: unset !important;

    .sec9_text {
      background-image: unset !important;
    }
  }

  overflow: hidden;
  background-color: #f964b8;
  background-repeat: repeat-y;

  .sec9_text {
    width: fit-content;
    margin: px-to-vw(316) auto px-to-vw(530);
    padding: px-to-vw(65) px-to-vw(153) px-to-vw(109);
    color: #fff;
    font-weight: 700;
    font-size: px-to-vw(96);
    font-family: "HB";
    line-height: 1.2;
    text-align: center;
    background-position: center;

    @include bg('sec9PcBg.png');
  }

  .text_box {
    color: #fff;

    .title {
      font-size: px-to-vw(48);
      font-family: "HB";
      line-height: 90%;
    }
  }

  .params {
    display: flex;

    .big_text {
      color: #fff;
      font-size: px-to-vw(48);
      font-family: "HB";
    }

    .small_text {
      font-size: px-to-vw(18);
      font-family: "HB";
    }
  }
}

@media (width < $mobwidthPx) {
  .sec9.pop8 {
    .circle {
      width: 100%;
      height: px-to-vw-mb(68);
      background-color: #571deb;

      @include bg('sec9MobCircle.png');
    }

    .sec9_text {
      width: px-to-vw-mb(637);
      height: px-to-vw-mb(389);
      margin: px-to-vw-mb(500) auto px-to-vw-mb(410);
      padding: px-to-vw-mb(120) px-to-vw-mb(50);
      font-size: px-to-vw-mb(96);
    }

    .title_box {
      width: 100%;
      padding: 0 px-to-vw-mb(100) 0 px-to-vw-mb(156);
    }
  }
}