@import "../var";

.sec3 {
  padding-top: pvw(280);
  padding-bottom: pvw(0);

  .wrapper {
    overflow: hidden;
  }

  .group {
    display: flex;
    gap: pvw(27);
    width: fit-content;
    padding-right: pvw(330);
    padding-left: pvw(330);
  }

  .box {
    position: relative;
    flex-shrink: 0;
    width: pvw(612);
    height: pvw(822);
    padding-top: pvw(80);
    border-radius: pvw(30);
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-size: 110% 110%;
    }
  }

  .text {
    max-width: 86%;
    margin: auto;
    font-size: pvw(52);
    font-family: "Bold";
    line-height: calc(66 / 52);
    text-align: center;
  }

  .f1 {
    background: url("../../../assets/images/sec3F1.png") no-repeat center /
      cover;
    background-size: 100% 100%;
  }

  .f2 {
    background: url("../../../assets/images/sec3F2.png") no-repeat center /
      cover;
    background-size: 100% 100%;
  }

  .f3 {
    background: url("../../../assets/images/sec3F3.png") no-repeat center /
      cover;
    background-size: 100% 100%;
  }

  .f4 {
    background: url("../../../assets/images/sec3F4.png") no-repeat center /
      cover;
    background-size: 100% 100%;

    .text {
      max-width: 78%;
    }
  }

  .f5 {
    background: url("../../../assets/images/sec3F5.png") no-repeat center /
      cover;
    background-size: 100% 100%;
  }

  .f6 {
    background: url("../../../assets/images/sec3F6.png") no-repeat center /
      cover;
    background-size: 100% 100%;
  }

  .icon {
    position: absolute;
    right: pvw(47);
    bottom: pvw(47);
    width: pvw(63);
    height: pvw(63);
    background: url("../../../assets/images/sec3Icon.png") no-repeat center /
      contain;
    cursor: pointer;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 751px) {
  .sec3 {
    padding-top: mvw(180);
    padding-bottom: mvw(0);

    .group {
      gap: mvw(16);
      margin-left: mvw(34);
      padding-right: mvw(0);
      padding-left: mvw(0);
    }

    .box {
      width: mvw(480);
      height: mvw(700);
      border-radius: mvw(16);
    }

    .icon {
      right: mvw(24);
      bottom: mvw(24);
      width: mvw(36);
      height: mvw(36);
    }

    .btn {
      display: flex;
      gap: mvw(52);
      margin-top: mvw(120);
      margin-left: mvw(544);

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: mvw(60);
        height: mvw(60);
        background: url("../../../assets/images/sec2left.jpg") no-repeat center /
          contain;
        border-radius: 50%;

        &.dis {
          background: url("../../../assets/images/sec3dis.jpg") no-repeat center /
            contain;
        }
      }
    }

    .right {
      transform: rotate(180deg);
      opacity: 0.8;
    }

    .text {
      max-width: 75%;
      font-size: mvw(32);
      line-height: calc(40 / 32);
    }

    .f4 {
      .text {
        max-width: 57%;
      }
    }

    .f5 {
      .text {
        max-width: 60%;
      }
    }
  }
}
