@import '../vars';

.s25ultra .sec1 {
  .sec1_wrap {
    position: relative;
    height: px-to-vw(850);

    @include bg("pc/sec1_bg_pc.webp");
  }

  .phone_wrap {
    position: absolute;
  }

  .phone1 {
    top: px-to-vw(30);
    left: px-to-vw(1192);
    width: px-to-vw(655);
  }

  .phone2 {
    top: px-to-vw(90);
    left: px-to-vw(870);
    width: px-to-vw(535);
  }

  .phone3 {
    top: px-to-vw(26);
    left: px-to-vw(90);
    width: px-to-vw(828);
  }

  .content_wrap {
    position: absolute;
    top: px-to-vw(700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 px-to-vw(50);
  }

  .left {
    display: flex;
    gap: px-to-vw(28);
  }

  .logo {
    width: px-to-vw(309);
  }

  .data_wrap {
    display: flex;
    gap: px-to-vw(16);
    align-items: flex-end;

    .data_item {
      position: relative;
      display: flex;
      gap: px-to-vw(8);
      align-items: center;
      padding-right: px-to-vw(16);

      &:not(:last-child):after {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 2px;
        height: px-to-vw(27);
        background-color: #e9798b;
        transform: translateY(-50%);
        content: "";
      }
    }

    .title {
      font-size: px-to-vw(26);
      font-family: "Regular";
    }

    .desc {
      font-size: px-to-vw(12);
      font-family: "Regular";
    }
  }

  .icon_items {
    display: flex;
    gap: px-to-vw(30);

    .item {
      &:nth-child(1) {
        width: px-to-vw(41);
      }

      &:nth-child(2) {
        width: px-to-vw(43);
      }

      &:nth-child(3) {
        width: px-to-vw(26);
      }

      &:nth-child(4) {
        width: px-to-vw(66);
      }

      &:nth-child(5) {
        width: px-to-vw(38);
      }

      &:nth-child(6) {
        width: px-to-vw(56);
      }
    }
  }
}

@media (max-width: $mobwidthPx) {
  .s25ultra .sec1 {
    .sec1_wrap {
      height: px-to-vw-mb(1060);

      @include bg("mb/sec1_bg_mb.png");
    }

    .content_wrap {
      top: px-to-vw-mb(110);
      display: block;
      padding: 0 px-to-vw-mb(40);
    }

    .left {
      display: block;
    }

    .logo {
      width: px-to-vw-mb(405);
    }

    .data_wrap {
      gap: px-to-vw-mb(12);
      margin-top: px-to-vw-mb(36);

      .data_item {
        padding-right: px-to-vw-mb(12);

        &:not(:last-child):after {
          height: px-to-vw-mb(24);
        }
      }

      .title {
        font-size: px-to-vw-mb(23.5);
      }

      .desc {
        font-size: px-to-vw-mb(9.5);
      }
    }

    .phone1 {
      top: px-to-vw-mb(290);
      left: px-to-vw-mb(330);
      width: px-to-vw-mb(531);
    }

    .phone2 {
      top: px-to-vw-mb(350);
      left: px-to-vw-mb(230);
      width: px-to-vw-mb(418);
    }

    .phone3 {
      top: px-to-vw-mb(480);
      left: px-to-vw-mb(-100);
      width: px-to-vw-mb(358);
    }

    .right {
      position: absolute;
      top: px-to-vw-mb(830);
      right: px-to-vw-mb(40);
    }

    .icon_items {
      gap: px-to-vw-mb(30);

      .item {
        &:nth-child(1) {
          width: px-to-vw-mb(37);
        }

        &:nth-child(2) {
          width: px-to-vw-mb(38);
        }

        &:nth-child(3) {
          width: px-to-vw-mb(23);
        }

        &:nth-child(4) {
          width: px-to-vw-mb(60);
        }

        &:nth-child(5) {
          width: px-to-vw-mb(34);
        }

        &:nth-child(6) {
          width: px-to-vw-mb(50);
        }
      }
    }
  }
}