
$pcwidth: 19.2;
$mobwidth: 10.8;

@mixin position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontsize($fontSize) {
  font-size: calc(#{$fontSize} * (1 / $pcwidth) * 1vw);
}

@mixin bg($url,$size:true) {
  background-image: url('../../../src/assets/img/#{$url}');
  background-repeat: no-repeat;

  @if  $size == true {
    background-size: contain;
  }

  @if  $size == false {
    background-size: cover;
  }
}

@function px-to-vw($value) {

  @return #{$value * calc(1 / $pcwidth)}vw;
}

@function px-to-vw-mb($value) {

  @return #{$value * calc(1 / $mobwidth)}vw;
}

@function px-to-vh($value) {

  @return #{$value * calc(1 / 14.4)}vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pop8 {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  font-family: "HurmeGeometricSans";

  section {
    box-sizing: border-box;
    width: 100%;
    margin-top: -1px;
    overflow: hidden;
  }

  .mob {
    display: none;
  }

  .HBfont {
    font-family: 'HB';
  }

  .HRfont {
    font-family: 'HR';
  }

  .tips {
    display: flex;
    color: rgba(255, 255, 255, .62);
    font-size: px-to-vw(16);
    font-family: "HR";
  }

  .title_box {
    position: relative;
    width: px-to-vw(1320);
    margin: auto;
    color: #fff;
    font-size: px-to-vw(130);
    font-family: 'HB';
    line-height: 90%;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .title_130 {
    font-size: px-to-vw(130) !important;
    word-wrap: break-word;
  }

  .title_48 {
    font-size: px-to-vw(48) !important;
    word-wrap: break-word;
  }

  .desc_18 {
    margin-top: px-to-vw(24);
    font-size: px-to-vw(18) !important;
    word-wrap: break-word;
  }

  .sub {
    font-weight: 700;
  }
}
