@import '../vars';

.tab30pro .sec1 {
  .sec1_wrap {
    position: relative;
    height: px-to-vw(800);
    background-image: linear-gradient(to bottom, #fff 0%, #fff 50%, #f0f0f0 100%);
  }

  .content_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(200);
    transform: translateY(-50%);
  }

  .tips {
    position: absolute;
    bottom: px-to-vw(40);
    left: px-to-vw(200);
    color: #606060;
    font-size: px-to-vw(8.7);
    font-family: "Regular";
  }

  .logo {
    width: px-to-vw(539);
    height: px-to-vw(56);
    margin-bottom: px-to-vw(32);
  }

  .data_wrap {
    display: flex;
    gap: px-to-vw(16);
    align-items: flex-end;
    margin-bottom: px-to-vw(32);

    .data_item {
      position: relative;
      padding-right: px-to-vw(16);
      font-size: px-to-vw(16.6);
      font-family: "Medium";

      &:not(:last-child):after {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        height: px-to-vw(16);
        background-color: #e9798b;
        outline: 1px solid #e9798b;
        transform: translateY(-50%);
        content: "";
      }
    }
  }

  .wps_wrap {
    width: px-to-vw(228);
    height: px-to-vw(35);
  }

  .phone_wrap {
    position: absolute;
  }

  .phone1 {
    top: px-to-vw(200);
    left: px-to-vw(850);
    width: px-to-vw(556);
  }

  .phone2 {
    top: px-to-vw(50);
    left: px-to-vw(1060);
    width: px-to-vw(518);
  }

  .phone3 {
    top: px-to-vw(410);
    left: px-to-vw(560);
    width: px-to-vw(921);
  }

  .phone4 {
    top: px-to-vw(500);
    left: px-to-vw(410);
    width: px-to-vw(1286);
  }

  .carlcare_wrap {
    position: absolute;
    top: px-to-vw(32);
    right: px-to-vw(100);
    width: px-to-vw(157);
  }

  .sign_wrap {
    position: absolute;
    bottom: px-to-vw(30);
    left: px-to-vw(1325);
  }

  .slogn_wrap {
    width: px-to-vw(283);
  }

  .pen_wrap {
    position: absolute;
    top: px-to-vw(-209);
    left: px-to-vw(278);
    width: px-to-vw(219);
  }

  .pen_shadow_wrap {
    position: absolute;
    top: px-to-vw(50);
    left: px-to-vw(280);
    width: px-to-vw(271);
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec1 {
    .sec1_wrap {
      height: px-to-vw-mb(1065);
    }

    .content_wrap {
      top: px-to-vw-mb(200);
      left: px-to-vw-mb(50);
      transform: unset;
    }

    .logo {
      width: px-to-vw-mb(492);
      height: px-to-vw-mb(51);
      margin-bottom: px-to-vw-mb(24);
    }

    .data_wrap {
      gap: px-to-vw-mb(12);
      margin-bottom: px-to-vw-mb(24);

      .data_item {
        padding-right: px-to-vw-mb(12);
        font-size: px-to-vw-mb(15);

        &:not(:last-child) {
          &:after {
            height: px-to-vw-mb(12);
          }
        }
      }
    }

    .wps_wrap {
      width: px-to-vw-mb(170);
      height: px-to-vw-mb(26);
    }

    .carlcare_wrap {
      top: px-to-vw-mb(48);
      right: px-to-vw-mb(40);
      width: px-to-vw-mb(150);
    }

    .phone1 {
      top: px-to-vw-mb(440);
      left: px-to-vw-mb(236);
      width: px-to-vw-mb(405);
    }

    .phone2 {
      top: px-to-vw-mb(395);
      left: px-to-vw-mb(160);
      width: px-to-vw-mb(382);
    }

    .phone3 {
      top: px-to-vw-mb(600);
      left: px-to-vw-mb(40);
      width: px-to-vw-mb(671);
    }

    .phone4 {
      top: px-to-vw-mb(780);
      left: px-to-vw-mb(30);
      width: px-to-vw-mb(623);
    }

    .sign_wrap {
      top: px-to-vw-mb(888);
      left: px-to-vw-mb(290);
    }

    .slogn_wrap {
      width: px-to-vw-mb(236);
    }

    .pen_wrap {
      top: px-to-vw-mb(-183);
      left: px-to-vw-mb(234);
      width: px-to-vw-mb(190);
    }

    .pen_shadow_wrap {
      top: px-to-vw-mb(41);
      left: px-to-vw-mb(234);
      width: px-to-vw-mb(200);
    }

    .tips {
      bottom: px-to-vw-mb(40);
      left: px-to-vw-mb(50);
      font-size: px-to-vw-mb(7.5);
    }
  }
}