
@import '../index';

.sec12.pop8 {
  padding-top: px-to-vw(308);

  .title_box {
    .icon1 {
      width: px-to-vw(213);
      height: px-to-vw(138);

      @include bg('sec12PcIcon1.png');
    }

    .icon2 {
      width: px-to-vw(201);
      height: px-to-vw(147);

      @include bg('sec12PcIcon2.png');
    }

    .icon3 {
      width: px-to-vw(172);
      height: px-to-vw(190);

      @include bg('sec12PcIcon3.png');
    }
  }

  .sec12_content {
    margin-top: px-to-vw(150);
  }
}
