@import '../vars';

.tab30pro .sec6 {
  overflow: unset;

  .sec6_wrap {
    position: relative;
    height: px-to-vw(1096);
  }

  .text_wrap {
    position: relative;
    top: px-to-vw(80);
    z-index: 1;
    max-width: var(--content-width);
    margin: 0 auto;
    color: #fff;
    text-align: center;

    .desc_16 {
      color: #fffefe;
    }
  }

  .phone_wrap {
    width: 100%;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .screen_text_wrap {
    position: absolute;
    top: px-to-vw(530);
    left: px-to-vw(1120);
    width: px-to-vw(212);
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec6 {
    .sec6_wrap {
      height: px-to-vw-mb(1025);
    }

    .text_wrap {
      top: px-to-vw-mb(60);
      text-align: left;
    }

    .screen_text_wrap {
      top: px-to-vw-mb(710);
      left: px-to-vw-mb(470);
      width: px-to-vw-mb(136);
    }
  }
}