@import '../vars';

.tab30pro .sec11 {
  .sec11_wrap {
    position: relative;
    padding: px-to-vw(80) 0 px-to-vw(200);
  }

  .all_text {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;

    .text_wrap:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  .pic_wrap {
    display: flex;
    gap: px-to-vw(15);
    height: px-to-vw(551);
    margin-top: px-to-vw(70);

    .img_wrap {
      flex-shrink: 0;
    }
  }

  .pic_wrap2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: px-to-vw(15);
    width: px-to-vw(785);
  }

  .phone_wrap1 {
    margin-left: px-to-vw(200);
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec11 {
    .sec11_wrap {
      padding: px-to-vw-mb(150) 0;
    }

    .pic_wrap {
      gap: px-to-vw-mb(12);
      height: px-to-vw-mb(513);
      margin-top: px-to-vw-mb(60);
    }

    .phone_wrap1 {
      margin-left: calc((100vw - var(--content-width)) / 2);
    }

    .pic_wrap2 {
      gap: px-to-vw-mb(12);
      justify-content: space-between;
      width: px-to-vw-mb(731);
    }
  }
}