@import '../vars';

.tab30pro .sec11 {
  .sec11_wrap {
    position: relative;
    padding: px-to-vw(80) 0 px-to-vw(200);
  }

  .all_text {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;

    .text_wrap:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  .pic_wrap {
    display: flex;
    gap: px-to-vw(15);
    height: px-to-vw(551);
    margin-top: px-to-vw(70);

    .img_wrap {
      flex-shrink: 0;
    }
  }

  .pic_wrap2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: px-to-vw(15);
    width: px-to-vw(785);
  }

  .phone_wrap1 {
    margin-left: px-to-vw(200);
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec11 {
    .spec_part {
      padding-top: 0;
    }

    .content_wrap {
      height: auto;
      background-color: #f2f2f2;
    }

    .pic_wrap {
      position: relative;
      width: 100%;
      height: px-to-vw-mb(542);
    }

    .all_text {
      position: relative;
      max-width: var(--content-width);
      height: px-to-vw-mb(380);
      margin: 0 auto;
      color: #000;
    }

    .text_wrap {
      top: px-to-vw-mb(80) !important;
      left: 0 !important;
      width: 100% !important;
      max-width: 100% !important;
      text-align: center;

      .title {
        font-size: px-to-vw-mb(54);
        font-family: "Bold";
      }
    }

    .bottom_content {
      position: relative;
      bottom: unset;
      left: unset;
      max-width: var(--content-width);
      height: px-to-vw-mb(260);
      margin: 0 auto;

      button {
        width: px-to-vw-mb(36);
        height: px-to-vw-mb(36);
      }

      .btn_wrap {
        position: absolute;
        top: px-to-vw-mb(52);
        right: 0;
        z-index: 1;
        gap: px-to-vw-mb(20);
      }

      .color_item {
        margin-top: px-to-vw-mb(50);
        color: #000;
      }

      .color_title {
        max-width: 100%;
        font-size: px-to-vw-mb(33);
      }

      .color_desc {
        position: unset;
        margin-top: px-to-vw-mb(24);
        font-size: px-to-vw-mb(16.6);
        transform: unset;
      }
    }
  }
}