@import '../vars';

.spark20proplus .sec4 {
  padding-bottom: px-to-vw(360);

  .title_96 {
    position: relative;
    z-index: 1;

    span {

      @include multcolortext;
    }
  }

  .spark20_container {
    position: relative;

    .datas {
      display: flex;
      gap: px-to-vw(52);
      justify-content: center;
      width: px-to-vw(1440);
      margin: px-to-vw(120) auto 0;
      padding: px-to-vw(61);
      background: linear-gradient(158.66deg, #00132e 55.92%, #002251 89.43%);
      border-radius: px-to-vw(60);
    }
  }

  .video_box {
    position: absolute;
    bottom: px-to-vw(191);
    left: px-to-vw(-43);
    height: px-to-vw(700);
  }
  
  .camera {
    height: px-to-vw(700);
  }

  .right1 {
    position: relative;
    width: px-to-vw(600);
    margin: px-to-vw(450) 0 0 px-to-vw(1130);
  }

  .data_title {
    width: fit-content;
    font-weight: 700;
    font-size: px-to-vw(32);
    font-family: "HB";

    @include multcolortext;
  }

  .data_desc {
    font-size: px-to-vw(16);
  }

  .container2 {
    display: flex;
    justify-content: center;
    margin-top: px-to-vw(360);

    .left2, .right2 {
      position: relative;
      flex-shrink: 0;
      width: px-to-vw(715);
      height: px-to-vw(715);
      overflow: hidden;
      border-radius: px-to-vw(8);
    }

    .night_pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      &.off {
        opacity: .5;
      }
    }

    .right2 {
      margin-left: px-to-vw(10);
      padding: px-to-vw(70);
      background: linear-gradient(158.66deg, #00132e 55.92%, #002251 89.43%);
    }

    .datas {
      display: flex;
      flex-wrap: wrap;
      gap: px-to-vw(24);
      justify-content: space-between;
      width: 90%;
      margin-top: px-to-vw(48);
    }

    .icon {
      position: absolute;
      right: px-to-vw(-122);
      bottom: px-to-vw(-122);
      width: px-to-vw(629);
      height: px-to-vw(629);
    }
  }
}

@media (max-width: $mobwidthPx) {
  .spark20proplus .sec4 {
    padding-bottom: px-to-vw-mb(360);

    .title_96 {
      font-size: px-to-vw-mb(66);
    }

    .spark20_container {
      margin-top: px-to-vw-mb(360);

      .datas {
        flex-wrap: wrap;
        gap: px-to-vw-mb(78) px-to-vw-mb(30);
        justify-content: space-between;
        width: px-to-vw-mb(960);
        margin-top: 0;
        padding: px-to-vw-mb(80);
      }
    }

    .video_box {
      position: unset;
      height: px-to-vw-mb(596);
      margin-left: px-to-vw-mb(-44);
    }

    .camera {
      height: px-to-vw-mb(596);
    }

    .right1 {
      width: px-to-vw-mb(880);
      margin: px-to-vw-mb(86) 0 0 px-to-vw-mb(120);
    }

    .datas {
      gap: px-to-vw-mb(34);
      width: 100%;
      margin-top: 0;

      .data_title {
        font-size: px-to-vw-mb(48);
      }

      .data_desc {
        font-size: px-to-vw-mb(24);
      }
    }

    .container2 {
      flex-direction: column;
      align-items: center;
      margin-top: px-to-vw-mb(410);

      .left2, .right2 {
        width: px-to-vw-mb(960);
        height: px-to-vw-mb(960);
      }

      .right2 {
        margin: px-to-vw-mb(16) 0 0;
        padding: px-to-vw-mb(100) px-to-vw-mb(88) px-to-vw-mb(98);

        .datas {
          width: 90%;
          margin-top: px-to-vw-mb(50);
        }

        .title_48 {
          font-size: px-to-vw-mb(50);
        }

        .subtitle_24 {
          margin-top: px-to-vw-mb(32);
          font-size: px-to-vw-mb(32);
        }

        .desc_18 {
          margin-top: px-to-vw-mb(32);
        }
      }

      .icon {
        right: px-to-vw-mb(-165);
        bottom: px-to-vw-mb(-165);
        width: px-to-vw-mb(844);
        height: px-to-vw-mb(844);
      }
    }
  }
}