@import '../vars';

.tab30pro .sec10 {
  .sec10_wrap {
    position: relative;
    height: px-to-vw(1115);
  }

  .part {
    padding: px-to-vw(190) 0;
  }

  .text_wrap {
    position: relative;
    z-index: 1;
    max-width: var(--content-width);
    margin: 0 auto;
  }

  .part1 {
    .desc_16 {
      max-width: 44%;
    }

    .phone_wrap1 {
      position: absolute;
      top: px-to-vw(285);
      left: px-to-vw(450);
      width: px-to-vw(1201);
    }

    .phone_wrap2 {
      position: absolute;
      top: px-to-vw(262);
      left: px-to-vw(1520);
      width: px-to-vw(305);
    }
  }

  .part2 {
    transform: translateX(100%);

    .desc_16 {
      max-width: 32%;
    }

    .phone_wrap1 {
      position: absolute;
      top: px-to-vw(390);
      left: px-to-vw(720);
      width: px-to-vw(1074);
    }

    .phone_wrap2 {
      position: absolute;
      top: px-to-vw(170);
      left: px-to-vw(1307);
      width: px-to-vw(369);
    }
  }

  .part3 {
    transform: translateX(100%);

    .text_wrap {
      max-width: px-to-vw(520);
      margin: 0 0 0 px-to-vw(360);
    }

    .phone_wrap1 {
      position: absolute;
      top: px-to-vw(120);
      left: px-to-vw(1025);
      width: px-to-vw(647);
    }

    .phone_wrap2 {
      position: absolute;
      top: px-to-vw(488);
      left: px-to-vw(1078);
      width: px-to-vw(187);
    }

    .phone_wrap3 {
      position: absolute;
      top: px-to-vw(490);
      left: px-to-vw(1154);
      width: px-to-vw(187);
    }

    .wps_wrap {
      width: px-to-vw(205);
      margin-top: px-to-vw(24);
    }
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec10 {
    .sec10_wrap {
      display: block;
      padding: px-to-vw-mb(160) 0 0;
    }

    .pic_wrap {
      width: var(--content-width);
      height: px-to-vw-mb(780);
    }

    .phone1 {
      top: px-to-vw-mb(60);
      left: px-to-vw-mb(-24);
      width: px-to-vw-mb(200);
    }

    .phone7 {
      top: px-to-vw-mb(320);
      left: px-to-vw-mb(570);
      width: px-to-vw-mb(156);
    }

    .text_items {
      position: relative;
      top: unset;
      left: unset;
      max-width: var(--content-width);
      height: px-to-vw-mb(400);
      margin: px-to-vw-mb(50) auto 0;

      .text_wrap {
        position: absolute;
        top: 0;
        left: 0;
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        padding: 0;
      }

      .title {
        font-size: px-to-vw-mb(54);
        font-family: "Bold";
        line-height: 1.1;
      }
    }
  }
}