@import '../vars';

.tab30pro .sec19 {
  .sec19_wrap {
    position: relative;
    max-width: px-to-vw(1520);
    margin: 0 auto;
    padding: 0 0 px-to-vw(200);
  }

  .box_wrap {
    display: flex;
    gap: px-to-vw(10);
    height: px-to-vw(618);

    &>div {
      flex: 1;
    }
  }

  .box_item {
    display: flex;
    flex-direction: column;
    gap: px-to-vw(30);
    justify-content: center;
    padding: px-to-vw(32) px-to-vw(64);
    text-align: center;
    background-color: #f1f1f1;
    border-radius: px-to-vw(20);

    .title {
      color: #2e2e2e;
      font-size: px-to-vw(25);
      font-family: "Book";
    }

    .desc_16 {
      margin-top: px-to-vw(12);
    }
  }

  .left_wrap {
    .box_item {
      height: 100%;
    }
  }

  .right_wrap {
    display: flex;
    flex-direction: column;
    gap: px-to-vw(10);

    &>div {
      flex: 1;
    }
  }

  .img_wrap {
    margin: 0 auto;
  }

  .img_wrap1 {
    width: px-to-vw(624);
  }

  .img_wrap2 {
    width: px-to-vw(136);
  }

  .img_wrap3 {
    width: px-to-vw(485);
  }

  .tips_wrap {
    margin-top: px-to-vw(90);
    padding: px-to-vw(80) px-to-vw(220);
    background-color: #f1f1f1;
    border-radius: px-to-vw(20);

    .note {
      font-size: px-to-vw(25);
      font-family: "Book";
    }
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec19 {
    .sec19_wrap {
      max-width: var(--content-width);
      padding: 0 0 px-to-vw-mb(150);
    }

    .box_wrap {
      flex-direction: column;
      gap: px-to-vw-mb(10);
      height: auto;

      .box_item {
        &:nth-child(1) {
          padding: px-to-vw-mb(56) px-to-vw-mb(0) px-to-vw-mb(36);
        }
      }
    }

    .left_wrap {
      .box_item {
        padding: px-to-vw-mb(57) px-to-vw-mb(48) px-to-vw-mb(86);
      }
    }

    .right_wrap {
      flex-direction: row;
      gap: px-to-vw-mb(10);

      &>div {
        flex: unset;
        width: calc((100% - px-to-vw-mb(10)) / 2);
      }
    }

    .box_item {
      gap: 0;
      padding: px-to-vw-mb(36);
      border-radius: px-to-vw-mb(20);

      .title {
        font-size: px-to-vw-mb(33.3);
      }
    }

    .img_wrap1 {
      width: auto;
      height: px-to-vw-mb(286);
      margin: px-to-vw-mb(48) auto 0;

      img {
        width: auto;
        height: 100%;
      }
    }

    .img_wrap2 {
      width: auto;
      height: px-to-vw-mb(133);
      margin: px-to-vw-mb(20) auto 0;

      img {
        width: auto;
        height: 100%;
      }
    }

    .img_wrap3 {
      width: auto;
      height: px-to-vw-mb(43);
      margin: px-to-vw-mb(100) auto 0;

      img {
        width: auto;
        height: 100%;
      }
    }

    .tips_wrap {
      padding: px-to-vw-mb(50) px-to-vw-mb(32);
      border-radius: px-to-vw-mb(20);

      .note {
        font-size: px-to-vw-mb(25);
      }
    }
  }
}