@import '../vars';

.spark20 .sec8 {
  position: relative;
  height: px-to-vw(1080);
  margin-top: 0;

  .sec8Swiper {
    img {
      display: block;
      width: 100%;
      height: px-to-vw(1080);
    }
  }

  .color_content {
    position: absolute;
    top: px-to-vw(554);
    left: px-to-vw(240);
    z-index: 2;
    display: flex;
    align-items: center;
  }

  .color_text {
    margin-right: px-to-vw(32);
    color: #000;
    font-size: px-to-vw(24);
    font-family: "HB";
  }

  .button_wrapper {
    display: flex;

    button {
      display: flex;
      align-items: center;
      margin-right: px-to-vw(24);
      background: unset;
      border: unset;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      .circle_big {
        position: relative;
        width: px-to-vw(31);
        height: px-to-vw(31);
        border: 2px solid transparent;
        border-radius: 50%;
      }

      .circle_small {
        position: absolute;
        top: 50%;
        left: 50%;
        width: px-to-vw(20);
        height: px-to-vw(20);
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(1) {
        &.active {
          .circle_big {
            border-color: #8ec3e2;
          }
        }

        .circle_small {
          background-color: #8ec3e2;
        }
      }

      &:nth-child(2) {
        &.active {
          .circle_big {
            border-color: #383b3f;
          }
        }

        .circle_small {
          background-color: #383b3f;
        }
      }

      &:nth-child(3) {
        &.active {
          .circle_big {
            border-color: #ffebc6;
          }
        }

        .circle_small {
          background-color: #ffebc6;
        }
      }

      &:nth-child(4) {
        &.active {
          .circle_big {
            border-color: #e5f6f3;
          }
        }

        .circle_small {
          background-color: #e5f6f3;
        }
      }
    }
  }
}

@media (max-width: $mobwidthPx) {
  .spark20 .sec8 {
    height: auto;

    .sec8Swiper {
      img {
        height: px-to-vw-mb(1296);
      }
    }

    .color_content {
      position: unset;
      justify-content: center;
      margin-top: px-to-vw-mb(47);
    }

    .color_text {
      margin-right: px-to-vw-mb(47);
      font-size: px-to-vw-mb(36);
    }

    .button_wrapper {
      button {
        margin-right: px-to-vw-mb(36);

        .circle_big {
          width: px-to-vw-mb(50);
          height: px-to-vw-mb(50);
        }

        .circle_small {
          width: px-to-vw-mb(30);
          height: px-to-vw-mb(30);
        }
      }
    }
  }
}