@import "../var";

.sec4 {
  position: relative;
  max-width: 80%;
  height: calc(100vh - 44px);
  margin: auto;
  padding-top: pvw(0);

  .colorText {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    inset: 0;
  }
}

@media screen and (max-width: 751px) {
  .sec4 {
    height: fit-content;
    padding: mvw(360) 0 mvw(200);

    .colorText {
      position: relative;
    }
  }
}
