@import '../vars';

.spark20pro5g .sec1 {
  .ctt {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: px-to-vw(100);
  }

  .left {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: px-to-vw(113);
  }

  .product_logo {
    width: px-to-vw(447);
  }

  .items {
    display: flex;
    align-items: center;
    margin-top: px-to-vw(58);
  }

  .item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      &:after {
        width: px-to-vw(1);
        height: px-to-vw(25);
        margin: 0 px-to-vw(16);
        background: #fff;
        content: '';
      }
    }
  }

  .item_title {
    font-size: px-to-vw(30);
  }

  .item_desc {
    margin-left: px-to-vw(8);
    font-size: px-to-vw(12);
  }

  .slogn {
    width: px-to-vw(645);
    margin-top: px-to-vw(64);
  }

  .phone_img_wapper {
    flex-shrink: 0;
    width: px-to-vw(1238);
    margin-left: px-to-vw(-100);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $mobwidthPx) {
  .spark20pro5g .sec1 {
    .ctt {
      flex-direction: column;
      padding-top: px-to-vw-mb(240);
    }

    .left {
      margin-left: 0;
    }

    .product_logo {
      width: px-to-vw-mb(605);
    }

    .items {
      margin-top: px-to-vw-mb(80);
    }

    .item {
      &:not(:last-child) {
        &:after {
          height: px-to-vw-mb(35);
          margin: 0 px-to-vw-mb(25);
        }
      }
    }

    .item_title {
      font-size: px-to-vw-mb(41);
    }

    .item_desc {
      font-size: px-to-vw-mb(16);
    }

    .slogn {
      width: px-to-vw-mb(873);
      margin-top: px-to-vw-mb(86);
    }

    .phone_img_wapper {
      width: 100%;
    }
  }
}