@import '../vars';

.spark20proplus .sec13 {
  padding-bottom: px-to-vw(100);
  overflow: visible;

  .title_96 {
    span {
      
      @include multcolortext4;
    }
  }

  .spark20_container {
    position: relative;
    margin-top: px-to-vw(380);

    .text_wrapper {
      position: relative;
      z-index: 1;
      width: px-to-vw(850);
      margin: 0 auto;
      text-align: center;

      .desc_18 {
        width: 93%;
      }
    }

    .pic_box {
      height: px-to-vw(800);
      margin-top: px-to-vw(-200);
      text-align: center;
    }

    .sound {
      height: px-to-vw(800);
      clip-path: inset(2px);
    }

    .box {
      position: relative;
      display: flex;
      align-items: center;
      max-width: px-to-vw(1600);
      margin: px-to-vw(-160) auto 0;
    }

    .left {
      flex-shrink: 0;
      width: px-to-vw(762);
      margin-right: px-to-vw(60);
      padding: px-to-vw(40) px-to-vw(80);
      background: #ffffff1a;
      border-radius: px-to-vw(20);

      .item {
        margin-bottom: px-to-vw(34);

        &:last-child {
          margin-bottom: 0;
        }
      }

      .title {
        width: fit-content;
        font-size: px-to-vw(16);

        @include multcolortext4;

        span {
          font-size: px-to-vw(32);
        }
      }

      .line {
        height: px-to-vw(5);
        margin-top: px-to-vw(10);
        background: linear-gradient(90deg, #ffd67c 0%, #ffd987 10%, #ffe1a6 27%, #fff0d8 50%, #feecd1 55%, #fde2be 62%, #fcd29f 70%, #fabc73 80%, #f8a03d 90%, #f68100 100%);
        border-radius: px-to-vw(5);
      }

      .line1 {
        width: px-to-vw(150);
      }

      .line2 {
        width: 100%;
      }
    }

    .datas {
      display: flex;
      flex-wrap: wrap;
      gap: px-to-vw(24) px-to-vw(60);
      height: fit-content;
    }

    .dts-img {
      width: px-to-vw(73);
      height: px-to-vw(29);
      margin-bottom: px-to-vw(8);

      img {
        width: 100%;
      }
    }

    .Hi-Res-img {
      width: px-to-vw(129);
      height: px-to-vw(70);

      img {
        width: 100%;
      }
    }
  }

  .data_title {
    width: fit-content;
    font-weight: 700;
    font-size: px-to-vw(32);
    font-family: "HB";

    @include multcolortext4;
  }

  .data_desc {
    margin: 0;
    font-size: px-to-vw(16);
  }

  .mic_box {
    width: px-to-vw(1440);
    margin: px-to-vw(360) auto 0;
    padding: px-to-vw(120) 0 px-to-vw(88);
    background: linear-gradient(180deg, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .1) 100%);
    border-radius: px-to-vw(36);

    .text_wrapper {
      max-width: px-to-vw(730);
      margin: 0 auto;
      text-align: center;
    }

    .img_box {
      position: relative;
      margin-top: px-to-vw(78);
      text-align: center;
    }
    
    .mic_icon {
      position: relative;
      z-index: 2;
      height: px-to-vw(173);
    }
    
    .voice_red {
      position: absolute;
      top: 50%;
      left: 0;
      width: 50%;
      height: px-to-vw(45);
      overflow: hidden;
      transform: translate(0, -50%);
      
      img {
        position: absolute;
        right: 0;
        height: 100%;
        animation: voice 4s linear infinite;
      }
    }
    
    .voice_blue {
      position: absolute;
      top: 50%;
      right: 0;
      width: 50%;
      height: px-to-vw(45);
      overflow: hidden;
      transform: translate(0, -50%);
      
      img {
        position: absolute;
        right: 0;
        height: 100%;
        animation: voice 3s linear infinite;
      }
    }

    @keyframes voice {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(calc(100% - px-to-vw(720)));
      }
    }
  }

  .container2 {
    position: relative;
    height: px-to-vw(1080);
    margin-top: px-to-vw(100);
    padding-top: px-to-vw(360);
    overflow: hidden;

    .pic_box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask-image: linear-gradient(240deg,transparent 40%,#000 60%);
      mask-image: linear-gradient(240deg,transparent 40%,#000 60%);
      -webkit-mask-size: 220% 100%;
      mask-size: 220% 100%;
      -webkit-mask-position: 0 0;
      mask-position: 0 0;

      img {
        width: 100%;
      }
    }

    .box {
      position: relative;
      z-index: 2;
      margin: 0 px-to-vw(240);
    }

    .left {
      width: px-to-vw(524);
    }

    .datas {
      display: flex;
      gap: px-to-vw(66);
      align-items: flex-end;
      margin-top: px-to-vw(116);
    }

    .data_title {

      @include multcolortext5;
    }
  }

  .container3 {
    position: relative;
    height: 200vh;

    .sticky_wrapper {
      position: sticky;
      top: 0;
      height: 100vh;
      overflow: hidden;
    }

    .pic_box {
      position: absolute;
      top: 0;
      right: 0;
      width: px-to-vw(1769);
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right center;
      }
    }

    .box {
      position: absolute;
      top: 56%;
      left: px-to-vw(245);
      width: px-to-vw(520);
      transform: translateY(-50%);
    }
  }
}

.sec13_bottom_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

@media (max-width: $mobwidthPx) {
  .spark20proplus .sec13 {
    padding-bottom: px-to-vw-mb(0);

    .spark20_container {
      .text_wrapper {
        width: auto;
        margin: 0 px-to-vw-mb(120);

        .desc_18 {
          width: 95%;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .pic_box {
        height: px-to-vw-mb(525);
        margin-top: px-to-vw-mb(-100);
      }

      .sound {
        width: 100%;
        height: px-to-vw-mb(525);
      }

      .box {
        display: block;
        max-width: unset;
        margin: px-to-vw-mb(-80) px-to-vw-mb(80) 0;
      }

      .left {
        width: 100%;
        padding: px-to-vw-mb(60) px-to-vw-mb(86);
        border-radius: px-to-vw-mb(30);

        .item {
          margin-bottom: px-to-vw-mb(40);
        }

        .title {
          font-size: px-to-vw-mb(24);

          span {
            font-size: px-to-vw-mb(48);
          }
        }

        .line {
          height: px-to-vw-mb(7);
          margin-top: px-to-vw-mb(15);
        }

        .line1 {
          width: px-to-vw-mb(166);
        }
      }

      .datas {
        gap: px-to-vw-mb(40);
        justify-content: space-between;
        margin: px-to-vw-mb(88) px-to-vw-mb(40) 0;
      }

      .data {
        width: 100%;

        &:nth-child(2) {
          order: -2;
          width: fit-content;
        }

        &:nth-child(3) {
          order: -1;
          width: fit-content;
        }
      }

      .dts-img {
        width: px-to-vw-mb(93);
        height: px-to-vw-mb(40);
        font-size: 0;
      }

      .Hi-Res-img {
        width: px-to-vw-mb(173);
        height: px-to-vw-mb(95);
      }
    }

    .data_title {
      font-size: px-to-vw-mb(41);
    }

    .data_desc {
      font-size: px-to-vw-mb(24);
    }

    .mic_box {
      width: px-to-vw-mb(960);
      margin: px-to-vw-mb(360) auto 0;
      padding: px-to-vw-mb(160) 0 px-to-vw-mb(180);
      border-radius: px-to-vw-mb(36);

      .text_wrapper {
        max-width: px-to-vw-mb(730);
      }

      .title_48 {
        font-size: px-to-vw-mb(48);
      }

      .subtitle_24 {
        margin-top: px-to-vw-mb(24);
        font-size: px-to-vw-mb(24);
      }

      .desc_18 {
        font-size: px-to-vw-mb(18);
      }

      .img_box {
        margin-top: px-to-vw-mb(74);

        .mic_icon {
          height: px-to-vw-mb(346);
        }
      }

      .voice_red {
        height: px-to-vw-mb(80);

        img {
          animation: voicemb 6s linear infinite;
        }
      }

      .voice_blue {
        height: px-to-vw-mb(80);

        img {
          animation: voicemb 6s linear infinite;
        }
      }

      @keyframes voicemb {
        0% {
          transform: translateX(0);
        }
  
        100% {
          transform: translateX(calc(100% - px-to-vw-mb(480)));
        }
      }
    }

    .container2 {
      height: auto;
      margin-top: px-to-vw-mb(300);

      .box {
        flex-direction: column;
        margin: px-to-vw-mb(-160) px-to-vw-mb(110) 0;
      }

      .pic_box {
        position: unset;
        width: px-to-vw-mb(1992);
        height: px-to-vw-mb(1120);
        margin-top: px-to-vw-mb(-250);
        margin-left: px-to-vw-mb(-160);

        img {
          height: 100%;
        }
      }

      .left {
        position: relative;
        z-index: 2;
        width: auto;
        margin-top: px-to-vw-mb(136);
      }

      .datas {
        position: relative;
        z-index: 2;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 20% 20% 40%;
        gap: px-to-vw-mb(80);
        order: -1;
        margin-top: px-to-vw-mb(-100);
        text-align: left;
      }

      .data_title {
        margin: 0;
        font-size: px-to-vw-mb(48);
      }

      .data_desc {
        font-size: px-to-vw-mb(24);
      }
    }

    .container3 {
      height: px-to-vw-mb(1726);
      margin-top: px-to-vw-mb(300);
      overflow: hidden;

      .pic_box {
        right: px-to-vw-mb(-220);
        width: px-to-vw-mb(2565);
        height: px-to-vw-mb(1650);

        img {
          // width: auto;
        }
      }

      .box {
        top: px-to-vw-mb(235);
        width: px-to-vw-mb(780);
        transform: unset;

        .desc_18 {
          max-width: 85%;
        }
      }
    }
  }
}