/* stylelint-disable media-feature-range-notation */

body {
  margin: 0;
  padding: 0;
}

.pova5Pro {
  width: 100%;
  overflow: hidden;

  @font-face {
    font-family: 'HurmeGeometricSans';
    src: url('../../assets/font/HurmeGeometricSans_No3_4_Regular.otf');
  }

  @font-face {
    font-family: 'HBold';
    src: url('../../assets/font/HurmeGeometricSans_No3_6_Bold.otf');
  }

  @font-face {
    font-family: 'Korataki';
    src: url('../../assets/font/korataki-rg.otf');
  }

  @function px-to-vw($value) {

    @return #{$value * calc(1 / 19.2)}vw;
  }

  @function pxm-to-vw($value) {

    @return #{$value * calc(1 / 10.8)}vw;
  }

  @mixin bg($url,$size:true) {
    background-image: url('../../assets/img/#{$url}');
    background-repeat: no-repeat;

    @if  $size == true {
      background-size: contain;
    }

    @if  $size == false {
      background-size: cover;
    }
  }

  @mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mob {
    display: none;
  }

  .section {
    margin-top: -1px;
    background: #000;
  }

  .bigtitle {
    max-width: 80%;
    margin: auto;
    color: #fff;
    font-size: px-to-vw(64);
    font-family: "Korataki";
    line-height: 1.2;
    text-align: center;
  }

  .bigtext {
    width: fit-content;
    height: fit-content;
    color: transparent;
    line-height: 1.2;
    text-transform: uppercase;
    background: linear-gradient(277.57deg, #4f75a5 .08%, #d1e4f3 100.08%);

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .smalltitle {
    max-width: 80%;
    margin: px-to-vw(32) auto 0;
    color: #fff;
    font-size: px-to-vw(32);
    font-family: "Korataki";
    line-height: 1.2;
    text-align: center;
  }

  .title {
    max-width: 80%;
    margin: auto;
    color: #fff;
    font-size: px-to-vw(36);
    font-family: "Korataki";
    line-height: 1.2;
  }

  .subgroup {
    box-sizing: content-box;
    margin: px-to-vw(40) auto 0;

    .f1 {
      position: relative;
      width: 100%;
      height: 1px;
      background-color: rgba(202, 222, 236, 1);
      box-shadow: 0 .2534px .0845px 0 rgba(52, 68, 83, 1);

      &:before {
        position: absolute;
        bottom: 0%;
        left: px-to-vw(-8);
        width: px-to-vw(86);
        height: px-to-vw(9);
        content: '';

        @include bg('sec32/top.png');
      }
    }

    .f2 {
      position: relative;
      width: 100%;
      height: 1px;
      background-color: rgba(202, 222, 236, 1);
      box-shadow: 0 .2534px .0845px 0 rgba(52, 68, 83, 1);

      &:before {
        position: absolute;
        top: 0%;
        right: px-to-vw(-8);
        width: px-to-vw(86);
        height: px-to-vw(9);
        content: '';

        @include bg('sec32/bot.png');
      }
    }
  }

  .subtitle {
    margin: 12px 0;
    color: #fff;
    font-weight: 700;
    font-size: px-to-vw(32);
    font-family: "HBold";
    line-height: 1.2;
    text-align: center;
  }

  .weight {
    font-weight: 700;
  }

  .desc {
    max-width: 80%;
    margin: px-to-vw(40) auto 0;
    color: #fff;
    font-size: px-to-vw(24);
    font-family: "HurmeGeometricSans";
    line-height: 1.2;
  }

  .sec1 {
    position: relative;
    height: px-to-vw(1021);

    @include bg('sec1/bg.png');

    .phone {
      position: absolute;
      bottom: 0;
      left: px-to-vw(846);
      width: px-to-vw(1250);
      height: px-to-vw(954);

      @include bg('sec1/phone.png');
    }

    .slogen {
      position: absolute;
      top: px-to-vw(286);
      left: px-to-vw(87);
      width: px-to-vw(610);
      height: px-to-vw(190);

      @include bg('sec1/slogen.png');
    }

    .params {
      position: absolute;
      top: px-to-vw(724);
      left: px-to-vw(87);
      display: flex;
      align-items: center;
      font-size: px-to-vw(23);

      span {
        display: inline;
        font-size: px-to-vw(34);
      }
    }

    .param {
      color: #000;
      font-weight: 700;
      font-family: "HurmeGeometricSans";
      line-height: 1.2;
      text-align: center;
    }

    .add {
      display: block;
      height: px-to-vw(67);
    }

    .line {
      width: 1px;
      height: px-to-vw(55);
      margin: 0 px-to-vw(32);
      background: rgba(0, 0, 0, 1);
    }
  }

  .sec2 {
    padding-top: px-to-vw(240);

    .video {
      position: relative;
      width: px-to-vw(1536);
      height: px-to-vw(864);
      margin: auto;
      border: 4px solid rgba(181, 197, 211, 1);

      &:before {
        position: absolute;
        top: px-to-vw(-15);
        right: 0;
        left: 0;
        width: px-to-vw(137);
        height: px-to-vw(13);
        margin: auto;
        content: " ";

        @include bg('sec2/top.png');
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: px-to-vw(-15);
        left: 0;
        width: px-to-vw(137);
        height: px-to-vw(13);
        margin: auto;
        content: " ";

        @include bg('sec2/bot.png');
      }

      .play {
        width: px-to-vw(126);
        height: px-to-vw(126);

        &.true {
          display: none;
        }

        @include center;

        @include bg('sec2/play.png');
      }

      video {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sec3 {
    padding-top: px-to-vw(240);

    // padding-bottom: px-to-vw(180);

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      margin: auto;
      row-gap: px-to-vw(19);
    }

    .box {
      position: relative;
      width: px-to-vw(745);
      height: px-to-vw(204);

      .text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: px-to-vw(118);
        max-width: px-to-vw(340);
        height: fit-content;
        margin: auto;
        color: #000;
        font-size: px-to-vw(30);
        font-family: "Korataki";
        line-height: 1.2;
      }
    }

    @for $i from 0 through 5 {
      .f#{$i} {

        @include bg('sec3/f#{$i}.png');
      }
    }
  }

  .open {
    position: relative;
    height: px-to-vw(1764);
    background-color: #000;

    &.sec4 {
      background-color: #fff;

      .top {

        @include bg('/sec4/top.png',false);
      }

      .bot {

        @include bg('/sec4/bot.png',false);
      }
    }

    .top {
      position: absolute;
      top: px-to-vw(270);
      z-index: 2;
      width: 100%;
      height: px-to-vw(689);

      @include bg('/sec7/top.png',false);
    }

    .bot {
      position: absolute;
      bottom: px-to-vw(270);
      z-index: 2;
      width: 100%;
      height: px-to-vw(660);

      @include bg('/sec7/bot.png',false);
    }

    .content {
      box-sizing: border-box;
      width: 100%;
      padding: px-to-vw(250) 20%;
      color: #fff;
      font-size: px-to-vw(64);
      font-family: "Korataki";
      line-height: 1.2;
      text-align: center;
      text-align: left;
      background: black;

      @include center;
    }
  }

  .sec5 {
    padding-top: px-to-vw(180);
    padding-bottom: px-to-vw(240);

    .title {
      color: #000;
      text-align: center;
    }

    .subtitle {
      color: #000;
    }

    .subgroup {
      width: px-to-vw(440);
    }

    .desc {
      color: #000;
      text-align: center;
    }

    .imgbox {
      position: relative;
      width: px-to-vw(1544);
      height: px-to-vw(615);
      margin: px-to-vw(48) auto 0;

      @include bg('sec5/bg.png');

      div {
        width: px-to-vw(1300);
        height: px-to-vw(491);

        @include center;
      }

      .light {
        transition: all .5s;

        &.false {
          opacity: 0;
        }

        @include bg('sec5/light.png',false);
      }

      .dark {
        opacity: 0;
        transition: all .5s;

        &.false {
          opacity: 1;
        }

        @include bg('sec5/dark.png',false);
      }
    }

    .switch {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: px-to-vw(290);
      height: px-to-vw(80);
      margin: px-to-vw(36) auto 0;
      padding: 0 px-to-vw(62);

      @include bg('sec5/btnbg.png');

      .text {
        color: rgba(144, 148, 152, 1);
        font-size: px-to-vw(31);
        font-family: "Korataki";
        line-height: 1.2;
      }
    }

    .btns {
      position: absolute;
      top: 0;
      bottom: 0;
      left: px-to-vw(40);
      width: px-to-vw(118);
      height: px-to-vw(64);
      margin: auto;
      transition: all .5s;

      &.true {
        left: px-to-vw(132);
      }

      &.false {
        left: px-to-vw(40);
      }

      @include bg('sec5/btn.png');
    }

    .right {
      display: flex;
      justify-content: flex-end;
      box-sizing: border-box;
      width: 100%;
      margin-top: px-to-vw(209);
      padding-right: px-to-vw(187);

      .contnet {
        position: relative;
        width: px-to-vw(996);
        height: px-to-vw(274);

        @include bg('sec5/box.png');
      }

      .text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: px-to-vw(170);
        max-width: px-to-vw(493);
        height: fit-content;
        margin: auto;
        color: rgba(110, 116, 122, 1);
        font-size: px-to-vw(24);
        font-family: "Korataki";
      }

      .phone {
        position: absolute;
        right: px-to-vw(100);
        bottom: px-to-vw(31);
        width: px-to-vw(183);
        height: px-to-vw(338);

        @include bg('sec5/f1.png');
      }
    }

    .left {
      display: flex;
      justify-content: flex-start;
      box-sizing: border-box;
      width: 100%;
      margin-top: px-to-vw(100);
      padding-left: px-to-vw(197);

      .contnet {
        position: relative;
        width: px-to-vw(996);
        height: px-to-vw(274);

        @include bg('sec5/box.png');
      }

      .text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: px-to-vw(411);
        max-width: px-to-vw(493);
        height: fit-content;
        margin: auto;
        color: rgba(110, 116, 122, 1);
        font-size: px-to-vw(24);
        font-family: "Korataki";
      }

      .phone {
        position: absolute;
        bottom: px-to-vw(14);
        left: px-to-vw(102);
        width: px-to-vw(202);
        height: px-to-vw(338);

        @include bg('sec5/f2.png');
      }
    }
  }

  .sec6 {
    position: relative;
    height: px-to-vw(1305);
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;

      @include bg('sec6/bg.png');
    }

    .img2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @include bg('sec6/bg2.png', false);
    }
  }

  .sec7 {
    margin-top: px-to-vw(-540);
    background: transparent;

    & > .pin-spacer {
      background: red;
    }

    .top {
      background-color: transparent;

      // background-color: black;

      @include bg('/sec7/top.png',false);
    }

    .bot {
      background-color: transparent;

      // background-color: black;

      @include bg('/sec7/bot.png',false);
    }
  }

  .sec8 {
    position: relative;
    height: px-to-vw(1073);
    margin-top: px-to-vw(-80);

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
    }

    .content {
      position: relative;
      z-index: 3;
      height: 100%;
    }

    .title {
      max-width: 100%;
      margin-left: 0;
      text-align: left;
    }

    .left {
      width: 23vw;
    }

    .subgroup {
      margin-left: 0;
      padding-left: px-to-vw(8);

      .subtitle {
        padding-left: px-to-vw(16);
        text-align: left;
      }
    }

    .desc {
      max-width: 100%;
      text-align: left;
    }

    .box {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0 10%;

      .subgroup {
        width: px-to-vw(281);
      }

      .right {
        display: flex;
        gap: px-to-vw(70);

        .big {
          font-size: px-to-vw(30);
          font-family: "Korataki";
        }

        .small {
          color: #fff;
          font-size: px-to-vw(22);
          font-family: "HurmeGeometricSans";
          line-height: 1.2;
        }
      }
    }

    .box1 {
      opacity: 1;

      .subgroup {
        width: px-to-vw(273);
      }
    }

    .box2 {
      .subgroup {
        width: px-to-vw(419);
      }
    }

    .box3 {
      .subgroup {
        width: px-to-vw(382);
      }
    }
  }

  .sec9 {
    margin-top: -17vw;
    background: linear-gradient(transparent, transparent 18.8%, black 18.8%);

    .top {
      background-color: transparent;
    }
  }

  .sec10 {
    position: relative;
    margin-top: -5vw;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-left: 10%;
    }

    .left {
      width: px-to-vw(546);
    }

    .title {
      max-width: 100%;
      margin-left: 0;
      text-align: left;
    }

    .subgroup {
      width: px-to-vw(419);
      margin-left: 0;
    }

    .subtitle {
      padding-left: px-to-vw(16);
      text-align: left;
    }

    .desc {
      max-width: 100%;
    }

    .right {
      position: relative;
      box-sizing: border-box;
      width: px-to-vw(960);
      height: px-to-vw(1080);
    }

    .outbox {
      position: absolute;
      top: 0;
      right: 0;
      width: px-to-vw(960);
    }

    .out {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: px-to-vw(1080);
      padding: 5px;
      background: linear-gradient(179.68deg, #b5c5d3 30.52%, #a7b4c1 60.8%);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8) inset;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: px-to-vw(-12);
        width: px-to-vw(14);
        height: px-to-vw(137);
        margin: auto;
        content: "";

        @include bg('sec10/icon.png');
      }

      .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .sec11 {
    position: relative;
    min-height: 100vh;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: px-to-vw(240);
      padding-right: px-to-vw(192);
      padding-bottom: px-to-vw(83);
      padding-left: px-to-vw(130);
      opacity: 1;
    }

    .content2 {
      position: absolute;
      top: px-to-vw(240);
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      padding-right: px-to-vw(192);
      padding-left: px-to-vw(130);

      .left2 {
        position: relative;
        width: px-to-vw(911);
        height: px-to-vw(583);
      }

      .right {
        width: px-to-vw(566);
      }

      .title {
        max-width: 100%;
      }

      .desc {
        max-width: 100%;
      }
    }

    .left {
      position: relative;
      width: px-to-vw(911);
      height: px-to-vw(583);

      @include bg('sec11/bg.png');

      .video {
        position: absolute;
        top: 6%;
        left: 8%;
        width: px-to-vw(750);
        height: px-to-vw(493);
        object-fit: cover;
        background: #000;
        border-radius: px-to-vw(60);
      }
    }

    .right {
      width: px-to-vw(566);
    }

    .title {
      max-width: 100%;
    }

    .desc {
      max-width: 100%;
    }

    .params {
      display: flex;
      justify-content: space-between;
      margin-top: px-to-vw(82);

      .big {
        font-size: px-to-vw(24);
        font-family: "Korataki";
      }

      .small {
        color: #fff;
        font-size: px-to-vw(17);
        line-height: 1.2;
      }
    }
  }

  .sec12 {
    padding-bottom: px-to-vw(120);

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-right: px-to-vw(153);
      padding-left: px-to-vw(192);
    }

    .left {
      width: px-to-vw(546);
    }

    .right {
      width: px-to-vw(980);
      height: px-to-vw(980);
    }

    .title {
      max-width: 100%;
      margin-left: 0;
      text-align: left;
    }

    .subgroup {
      width: px-to-vw(347);
      margin-left: 0;
      padding-left: px-to-vw(8);
    }

    .desc {
      max-width: 100%;
    }

    .video {
      width: 100%;
      height: 100%;
    }
  }

  .sec13 {
    position: relative;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-right: px-to-vw(192);
    }

    .left {
      position: relative;
      box-sizing: border-box;
      width: px-to-vw(960);
      height: px-to-vw(1080);
    }

    .outbox {
      position: absolute;
      top: 0;
      left: 0;
      width: px-to-vw(960);
    }

    .out {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: px-to-vw(1080);
      padding: 5px;
      background: linear-gradient(179.68deg, #b5c5d3 30.52%, #a7b4c1 60.8%);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8) inset;

      &:before {
        position: absolute;
        top: 0;
        right: px-to-vw(-12);
        bottom: 0;
        width: px-to-vw(14);
        height: px-to-vw(137);
        margin: auto;
        content: "";

        @include bg('sec13/icon.png');
      }

      .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .right {
      width: px-to-vw(546);
    }

    .title {
      max-width: 100%;
      margin-left: 0;
    }

    .subgroup {
      width: px-to-vw(419);
      margin-left: 0;
      padding-left: px-to-vw(16);
    }

    .subtitle {
      padding-left: px-to-vw(8);
      text-align: left;
    }

    .desc {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .sec14 {
    padding-top: px-to-vw(240);

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-left: px-to-vw(192);
    }

    .left {
      width: px-to-vw(546);
    }

    .title {
      max-width: 100%;
      margin-left: 0;
    }

    .subgroup {
      width: px-to-vw(368);
      margin-left: 0;
      padding-left: px-to-vw(8);
    }

    .desc {
      max-width: 100%;
    }

    .right {
      position: relative;
      width: px-to-vw(1057);
      height: px-to-vw(766);

      @include bg('sec14/bg.png');
    }

    .icon {
      position: absolute;
      top: px-to-vw(189);
      left: px-to-vw(389);
      width: px-to-vw(189);
      height: px-to-vw(192);

      @include bg('sec14/icon.png');
    }
  }

  .sec15 {
    padding-top: px-to-vw(152);

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-right: px-to-vw(198);
      padding-left: px-to-vw(129);
    }

    .left {
      width: px-to-vw(846);
      height: px-to-vw(846);

      .video {
        width: 100%;
        height: 100%;
      }
    }

    .right {
      width: px-to-vw(617);
    }

    .title {
      max-width: 100%;
      margin-left: 0;
    }

    .subgroup {
      width: px-to-vw(603);
      margin-left: 0;
      padding-left: px-to-vw(16);
    }

    .desc {
      max-width: 100%;
    }
  }

  .sec16 {
    margin-top: -6vw;
  }

  .sec17 {
    position: relative;
    min-height: 100vh;
    padding-top: px-to-vw(180);

    .title {
      text-align: center;
    }

    .subgroup {
      width: px-to-vw(514);
    }

    .desc {
      text-align: center;
    }

    .img {
      position: relative;
      z-index: 2;
      width: px-to-vw(457);
      height: px-to-vw(457);
      margin: px-to-vw(75) auto 0;

      @include bg('sec17/f1.png');
    }

    .bigimg {
      position: absolute;
      top: 27%;
      right: 0;
      left: 28.2%;
      width: 92.229vw;
      height: 202.229vw;
      margin: px-to-vw(75) auto 0;
      margin: auto;

      @include bg('sec17/f2.png');
    }
  }

  .sec18 {
    position: relative;
    padding-top: px-to-vw(240);

    .img {
      width: px-to-vw(1050);
      height: px-to-vw(615);
      margin: auto;

      @include bg('sec18/f1.png');
    }

    .imgbox {
      box-sizing: border-box;
      width: 100%;
      padding-left: 20%;
      overflow: hidden;
    }

    .imgb {
      display: flex;
      gap: px-to-vw(100);
    }

    .title {
      max-width: 100%;
      margin-top: px-to-vw(60);
      text-align: center;
    }

    .f2 {
      .img {
        width: px-to-vw(1050);
        height: px-to-vw(615);
        margin: auto;

        @include bg('sec18/f2.png');
      }
    }
  }

  .sec19 {
    box-sizing: content-box !important;
    min-height: 100vh;
    padding-top: px-to-vw(240);

    .title {
      text-align: center;
    }

    .subgroup {
      width: px-to-vw(414);
    }

    .desc {
      text-align: center;
    }

    .imgbox {
      position: relative;
      width: px-to-vw(1151);
      height: px-to-vw(562);
      margin: px-to-vw(47) auto 0;
      padding: 5px;
      background: linear-gradient(179.68deg, #b5c5d3 30.52%, #a7b4c1 60.8%);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8) inset;

      .text {
        margin-top: px-to-vw(35);
        margin-left: px-to-vw(35);
        color: #fff;
        font-size: px-to-vw(36);
        font-family: "HurmeGeometricSans";
      }
    }

    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background-position: center center;

      @include center;

      @include bg('sec19/f1.png');
    }

    .fa {
      z-index: 1;
      clip-path: inset(0% 0 0);

      @include bg("sec19/f1.jpg",false);
    }

    .fb {
      z-index: 2;
      clip-path: inset(100% 0 0);

      @include bg("sec19/f2.jpg",false);
    }

    .fc {
      z-index: 3;
      clip-path: inset(100% 0 0);

      @include bg("sec19/f3.jpg",false);
    }

    .fd {
      z-index: 4;
      clip-path: inset(100% 0 0);

      @include bg("sec19/f4.jpg",false);
    }
  }

  .sec20 {
    padding-top: px-to-vw(240);

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-right: 20%;
      padding-left: 20%;
    }

    .left {
      width: px-to-vw(530);
    }

    .title {
      max-width: 100%;
      margin-left: 0;
      text-align: left;
    }

    .subgroup {
      width: px-to-vw(513);
      margin-left: 0;
    }

    .subtitle {
      padding-left: px-to-vw(8);
      text-align: left;
    }

    .desc {
      max-width: 100%;
    }

    .right {
      position: relative;
      width: px-to-vw(363);
      height: px-to-vw(792);

      .box {
        position: absolute;
        z-index: 2;
        width: px-to-vw(363);
        height: px-to-vw(792);

        @include bg('sec20/bg.png');
      }

      .video {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sec21 {
    box-sizing: content-box !important;
    min-height: 100vh;
    padding-top: px-to-vw(240);

    .title {
      text-align: center;
    }

    .imgBox {
      box-sizing: border-box;
      width: 100%;
      margin-top: px-to-vw(80);
      padding-left: px-to-vw(192);
      overflow: hidden;
    }

    .imgs {
      display: flex;
      gap: px-to-vw(18);

      div {
        flex-shrink: 0;
      }
    }

    .img1 {
      width: px-to-vw(908);
      height: px-to-vw(681);

      @include bg('sec21/f1.png');
    }

    .img2 {
      width: px-to-vw(908);
      height: px-to-vw(681);

      @include bg('sec21/f2.png');
    }

    .img3 {
      width: px-to-vw(908);
      height: px-to-vw(681);

      @include bg('sec21/f3.png');
    }

    .img4 {
      width: px-to-vw(908);
      height: px-to-vw(681);

      @include bg('sec21/f4.png');
    }
  }

  .sec22 {
    .a {
      font-family: "Korataki";
    }

    .b {
      margin-top: px-to-vw(48);
      color: rgba(114, 114, 114, 1);
      font-size: px-to-vw(42);
      font-family: "HurmeGeometricSans";
      line-height: 1.2;
    }
  }

  .sec23 {
    padding-top: px-to-vw(240);

    .title {
      text-align: center;
    }

    .subgroup {
      width: px-to-vw(350);
    }

    .desc {
      text-align: center;
    }

    .myswiper {
      display: flex;
      justify-content: space-between;
      margin: px-to-vw(80) auto 0;
      padding: 0 px-to-vw(316);

      .swiper-button-prev {
        display: none;
      }

      .swiper-button-next {
        display: none;
      }
    }

    .left {
      position: relative;
      width: px-to-vw(69);

      .btn {
        position: absolute;
        top: 34%;
        width: px-to-vw(69);
        height: px-to-vw(62);
        background-color: unset;
        border: unset;

        @include bg('sec23/left.png');
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: px-to-vw(904);
      height: px-to-vw(694);

      .swiper {
        height: px-to-vw(694);
      }

      .swiper-wrapper {
        height: px-to-vw(579);
        margin-top: px-to-vw(57);
      }
    }

    .video {
      width: 100%;
    }

    .group {
      display: flex;
      flex-direction: column;
      width: fit-content;
      opacity: .5;
      transition: all .5s;

      &.active {
        transform: scale(1.2);
        opacity: 1;
      }

      .phone {
        width: px-to-vw(238);
        height: px-to-vw(518);

        @include bg('sec23/phone.png');
      }

      .text {
        margin-top: px-to-vw(37);
        color: #fff;
        font-size: px-to-vw(20);
        font-family: "Korataki";
        text-align: center;
      }
    }

    .right {
      position: relative;
      width: px-to-vw(69);

      .btn {
        position: absolute;
        top: 34%;
        width: px-to-vw(69);
        height: px-to-vw(62);
        background-color: unset;
        border: unset;

        @include bg('sec23/right.png');
      }
    }
  }

  .sec24 {
    padding-top: px-to-vw(240);

    .params {
      position: relative;
      width: px-to-vw(1849);
      height: px-to-vw(469);
      margin: px-to-vw(240) auto 0;

      @include bg('sec24/bg.png');
    }

    .box1 {
      position: absolute;
      top: px-to-vw(119);
      left: px-to-vw(173);
      width: px-to-vw(510);

      .title {
        max-width: 100%;
        margin-left: 0;
      }

      .desc {
        max-width: 100%;
      }
    }

    .box2 {
      position: absolute;
      top: px-to-vw(161);
      left: px-to-vw(833);
      display: flex;
      gap: px-to-vw(72);

      .big {
        font-weight: 700;
        font-size: px-to-vw(48);
        font-family: "HurmeGeometricSans";
      }

      .small {
        margin-top: px-to-vw(5);
        color: #fff;
        font-size: px-to-vw(16);
        font-family: "HurmeGeometricSans";
        line-height: 1.2;
      }
    }
  }

  .sec25 {
    height: px-to-vw(1161);
    overflow: hidden;

    @include bg('sec25/bg.png');

    .box {
      width: px-to-vw(635);
      margin-top: px-to-vw(277);
      margin-left: px-to-vw(1093);
    }

    .title {
      margin-left: 0;
    }

    .subgroup {
      width: px-to-vw(541);
      margin-left: 0;
      padding-left: px-to-vw(16);

      .subtitle {
        padding-left: px-to-vw(7);
        text-align: left;
      }
    }

    .desc {
      max-width: 100%;
    }

    .params {
      display: flex;
      gap: px-to-vw(147);
      margin-top: px-to-vw(64);
    }

    .param {
      display: flex;
      flex-direction: column;
      gap: px-to-vw(15);
    }

    .up {
      width: px-to-vw(50);
      height: px-to-vw(54);

      @include bg('sec25/up.png');
    }

    .down {
      width: px-to-vw(50);
      height: px-to-vw(54);

      @include bg('sec25/down.png');
    }

    .big {
      font-weight: 700;
      font-size: px-to-vw(48);
      font-family: "HurmeGeometricSans";
    }

    .small {
      color: #fff;
      font-size: px-to-vw(16);
      line-height: 1.2;
    }
  }

  .sec26 {
    .title {
      text-align: center;
    }

    .subgroup {
      width: px-to-vw(728);
    }

    .desc {
      text-align: center;
    }

    .img {
      width: px-to-vw(1271);
      height: px-to-vw(624);
      margin: auto;

      @include bg('sec26/bg.png');
    }
  }

  .sec27 {
    padding-top: px-to-vw(240);
    overflow: hidden;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin: px-to-vw(240) auto 0;
    }

    .title {
      margin-left: 0;
    }

    .subgroup {
      padding-left: px-to-vw(8);
    }

    .desc {
      max-width: 100%;
    }

    .left {
      width: px-to-vw(690);
    }

    .right {
      position: relative;
      width: px-to-vw(515);
      height: px-to-vw(677);

      .f1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: px-to-vw(310);
        height: px-to-vw(677);

        @include bg('sec27/left.png');
      }

      .f2 {
        position: absolute;
        top: 3%;
        left: 51%;
        z-index: 1;
        width: px-to-vw(268);
        height: px-to-vw(632);

        @include bg('sec27/right.png');
      }
    }

    .params {
      display: flex;
      gap: px-to-vw(82);
      margin-top: px-to-vw(88);
    }

    .param {
      display: flex;
      flex-direction: column;
      gap: px-to-vw(4);

      .img {
        width: px-to-vw(92);
        height: px-to-vw(92);
      }
    }

    .text {
      color: #fff;
      font-size: px-to-vw(17);
      line-height: 1.2;
      white-space: nowrap;
    }

    .fa {

      @include bg('sec27/f1.png');
    }

    .fb {

      @include bg('sec27/f2.png');
    }

    .fc {

      @include bg('sec27/f3.png');
    }

    .fd {

      @include bg('sec27/f4.png');
    }
  }

  .sec28 {
    padding-top: px-to-vw(240);

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      height: px-to-vw(814);
      margin: auto;
      padding-right: px-to-vw(192);
      padding-left: px-to-vw(93);
    }

    .subgroup {
      width: px-to-vw(428);
      margin-left: 0;
      padding-left: px-to-vw(8);
    }

    .desc {
      max-width: 100%;
      margin-left: 0;
    }

    .left {
      flex: 1;
      width: px-to-vw(910);
      height: 100%;

      @include bg('sec28/bg.png');
    }

    .right {
      width: px-to-vw(523);
    }

    .title {
      margin-left: 0;
    }
  }

  .sec29 {
    position: relative;
    padding: px-to-vw(120) 0 px-to-vw(653);

    .title {
      position: relative;
      z-index: 2;
      text-align: center;
    }

    .subgroup {
      position: relative;
      z-index: 2;
      width: px-to-vw(480);
    }

    .desc {
      position: relative;
      z-index: 2;
      text-align: center;
    }

    .img {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: px-to-vw(1621);
      height: px-to-vw(912);
      margin: auto;

      @include bg('sec29/bg.png');
    }
  }

  .sec30 {
    padding-top: px-to-vw(240);

    .title {
      text-align: center;
    }

    .subgroup {
      width: px-to-vw(364);
    }

    .desc {
      text-align: center;
    }

    .mySwiper {
      height: 100%;

      .swiper-pagination-bullet {
        width: px-to-vw(18);
        height: px-to-vw(18);
        margin: 0 px-to-vw(18);
        background-color: #fff;
      }
    }

    .img {
      width: 100%;
      height: 47vw;

      .imgs {
        width: 100%;
        height: 100%;
      }
    }

    .fa {
      video {
        width: 100%;
        height: 100%;
      }
    }

    .fb {

      @include bg('sec30/f2.jpg');
    }

    .fc {

      @include bg('sec30/f3.jpg');
    }

    .fd {

      @include bg('sec30/f4.png');
    }
  }

  .sec31 {
    position: relative;
    padding: px-to-vw(240) 0 px-to-vw(664);
    background-position: center bottom;

    .img {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: px-to-vw(1616);
      height: px-to-vw(909);
      margin: auto;

      @include bg('sec31/bg.png');
    }

    .mask {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: px-to-vw(1616);
      height: px-to-vw(909);
      margin: auto;
      background: linear-gradient(0deg, #000 -4.35%, rgba(0, 0, 0, 0) 6.54%),
        linear-gradient(180deg, #000 13.48%, #000 18.64%, rgba(0, 0, 0, 0) 50.06%);
    }

    .title {
      text-align: center;
    }

    .subgroup {
      position: relative;
      z-index: 3;
      width: px-to-vw(550);
    }

    .desc {
      position: relative;
      z-index: 3;
      text-align: center;
    }
  }

  .sec32 {
    padding: px-to-vw(240) 0 px-to-vw(478);

    .title {
      text-align: center;
    }

    .subgroup {
      width: px-to-vw(350);
      margin-top: px-to-vw(114);
    }

    a {
      display: block;
      text-decoration: underline !important;
      cursor: pointer;
      transition: all .8s;
      text-decoration-color: #fff !important;

      &:hover {
        transform: scale(1.2);
      }
    }

    .group {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      margin: px-to-vw(112) auto 0;
      row-gap: px-to-vw(87);

      .out {
        display: flex;
        flex-direction: column;
        gap: px-to-vw(24);
        align-items: center;
        justify-content: space-between;
        width: 25%;

        .img {
          width: px-to-vw(82);
          height: px-to-vw(82s);

          @include bg('sec32/f1.png');
        }
      }

      .text {
        color: #fff;
        font-size: px-to-vw(23);
        line-height: 1.2;
        text-align: center;
      }
    }
  }

  @media  (max-width: 1081px) {
    .mob {
      display: block;
    }

    .pc {
      display: none;
    }

    .title {
      font-size: pxm-to-vw(48);
    }

    .bigtitle {
      font-size: pxm-to-vw(48);
    }

    .smalltitle {
      margin-top: pxm-to-vw(60);
      font-size: pxm-to-vw(32);
    }

    .subtitle {
      font-size: pxm-to-vw(42);
    }

    .subgroup {
      margin-top: pxm-to-vw(42);

      .subtitle {
        margin: pxm-to-vw(16) 0;
      }
    }

    .desc {
      margin-top: pxm-to-vw(42);
      font-size: pxm-to-vw(32);
    }

    .open {
      height: 150vw;

      .content {
        padding-right: pxm-to-vw(150);
        padding-left: pxm-to-vw(141);
        font-size: pxm-to-vw(64);
      }

      &.sec4 {
        height: 111vw;

        .top {
          width: 100%;
          height: pxm-to-vw(515);

          @include bg('sec4m/f1.png');
        }

        .bot {
          width: 100%;
          height: pxm-to-vw(510);

          @include bg('sec4m/f2.png');
        }
      }

      .top {
        width: 100%;
        height: pxm-to-vw(677);

        @include bg('sec4m/f3.png');
      }

      .bot {
        width: 100%;
        height: pxm-to-vw(657);

        @include bg('sec4m/f4.png');
      }
    }

    .sec1 {
      height: pxm-to-vw(1620);
      margin-top: pxm-to-vw(160);

      @include bg('sec1m/bg.png');

      .phone {
        top: pxm-to-vw(360);
        right: 0;
        left: unset;
        width: pxm-to-vw(994);
        height: pxm-to-vw(1061);

        @include bg('sec1m/phone.png');
      }

      .params {
        display: none ;
      }
    }

    .sec2 {
      padding-top: pxm-to-vw(147);

      .video {
        width: pxm-to-vw(960);
        height: pxm-to-vw(1706);
        background-size: cover;

        .play {
          width: pxm-to-vw(225);
          height: pxm-to-vw(225);
        }
      }
    }

    .sec3 {
      padding-top: pxm-to-vw(300);
      padding-bottom: pxm-to-vw(240);

      .content {
        width: pxm-to-vw(840);
        row-gap: pxm-to-vw(40);
      }

      .box {
        width: pxm-to-vw(840);
        height: pxm-to-vw(230);

        .text {
          left: pxm-to-vw(134);
          max-width: 35vw;
          font-size: pxm-to-vw(32);
        }
      }

      .f6 {
        display: none;
      }
    }

    .sec5 {
      .subgroup {
        width: pxm-to-vw(586);
      }

      .imgbox {
        width: pxm-to-vw(959);
        height: pxm-to-vw(954);
        margin-top: pxm-to-vw(120);

        @include bg('sec5m/bg.png');

        div {
          width: pxm-to-vw(726);
          height: pxm-to-vw(812);
        }

        .light {

          @include bg('sec5m/light.png');
        }

        .dark {

          @include bg('sec5m/dark.png');
        }
      }

      .switch {
        width: pxm-to-vw(330);
        height: pxm-to-vw(86);
        margin-top: pxm-to-vw(80);
        padding: 0 pxm-to-vw(73);

        .btns {
          width: pxm-to-vw(121);
          height: 6.2vw;

          &.false {
            left: 3vw;
          }

          &.true {
            left: 15.5vw;
          }
        }

        .text {
          font-size: pxm-to-vw(36);
        }
      }

      .right {
        justify-content: center;
        margin-top: pxm-to-vw(158);
        padding-right: 0;

        .contnet {
          width: pxm-to-vw(960);
          height: pxm-to-vw(255);
        }

        .text {
          left: pxm-to-vw(163);
          max-width: 45vw;
          font-size: pxm-to-vw(24);
        }

        .phone {
          right: 12.5vw;
          bottom: 2.33vw;
          width: pxm-to-vw(176);
          height: pxm-to-vw(325);
        }
      }

      .left {
        justify-content: center;
        margin-top: pxm-to-vw(133);
        padding-left: 0;

        .contnet {
          width: pxm-to-vw(960);
          height: pxm-to-vw(255);
        }

        .text {
          left: pxm-to-vw(369);
          max-width: 45vw;
          font-size: pxm-to-vw(24);
        }

        .phone {
          bottom: .7291vw;
          left: 14.3125vw;
          width: 18.520vw;
          height: 29.604vw;
        }
      }
    }

    .sec6 {
      height: pxm-to-vw(1664);
      min-height: 100vh;

      .img {

        @include bg('sec6m/f1.png',false);

        background-position: center;
      }

      .img2 {

        @include bg('sec6m/f2.png',false);

        background-position: center;
      }
    }

    .sec7 {
      .bot {
        background-color: #000;
      }
    }

    .sec8 {
      height: pxm-to-vw(1980);
      margin-top: 0;

      .swiper {
        width: 100%;
        height: 100%;
      }

      .box {
        flex-direction: column;
        gap: pxm-to-vw(652);
        justify-content: flex-start;
        padding: 0;
      }

      .content {
        box-sizing: border-box;
        padding-top: pxm-to-vw(240);
      }

      .left {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .right {
        gap: 0;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(543) !important;
        margin: pxm-to-vw(50) auto 0;

        .subtitle {
          font-size: pxm-to-vw(36);
          text-align: center;
        }
      }

      .desc {
        max-width: 100%;
        margin-left: unset;
        text-align: center;
      }

      .big {
        font-size: pxm-to-vw(40) !important;
      }

      .small {
        font-size: pxm-to-vw(24) !important;
        text-align: center;
      }

      .box1 {
        background-position: center 88%;

        @include bg('sec8m/f1.png');
      }

      .box2 {
        background-position: center 88%;

        @include bg('sec8m/f2.png');
      }

      .box3 {
        background-position: center 88%;

        @include bg('sec8m/f3.png');

        .right {
          box-sizing: border-box;
          padding: 0 10%;
        }
      }

      .swiper-pagination-bullet {
        width: pxm-to-vw(30);
        height: pxm-to-vw(30);
        margin: 0 px-to-vw(50);
        background-color: #fff;
      }

      canvas {
        top: unset;
        bottom: 0;
        width: pxm-to-vw(1080);
        height: pxm-to-vw(1100);
        object-fit: cover;
      }
    }

    .sec9 {
      margin-top: 0;
      background: #000;
    }

    .sec10 {
      margin-top: 0;
      padding-top: pxm-to-vw(240);

      .content {
        flex-direction: column;
        padding-left: 0;
      }

      .outbox {
        display: none;
      }

      .left {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(558);
        margin-left: auto;

        .subtitle {
          text-align: center;
        }
      }

      .desc {
        text-align: center;
      }

      .right {
        width: 100%;
        height: pxm-to-vw(1080);
        margin-top: pxm-to-vw(120);

        .out {
          width: 100%;
          height: 100%;

          &:before {
            display: none;
          }
        }
      }
    }

    .sec11 {
      min-height: unset;

      .pc {
        display: none !important;
      }

      .content {
        position: relative;
        flex-direction: column;
        padding-top: pxm-to-vw(300);
        padding-right: pxm-to-vw(60);
        padding-left: pxm-to-vw(60);
      }

      .swiper-slide {
        padding-bottom: pxm-to-vw(106);
      }

      .right {
        width: 100%;
      }

      .title {
        text-align: center;
      }

      .desc {
        text-align: center;
      }

      .left {
        position: absolute;
        top: 58vw;
        right: 0;
        left: 0;
        order: 2;
        width: pxm-to-vw(960);
        height: pxm-to-vw(608);
        margin: auto;

        .video {
          left: 7.8%;
          width: 72.278vw;
          height: 47.3vw;
        }
      }

      .big {
        font-size: pxm-to-vw(48) !important;
      }

      .small {
        font-size: pxm-to-vw(24) !important;
      }

      .params {
        margin-top: pxm-to-vw(828);
      }

      .swiper-pagination-bullet {
        width: pxm-to-vw(30);
        height: pxm-to-vw(30);
        margin: 0 px-to-vw(50);
        background-color: #fff;
      }

      .content2 {
        position: relative;
        top: 0;

        .left {
          position: relative;
          top: 0;
          margin-top: pxm-to-vw(158);
        }

        .desc {
          margin-top: pxm-to-vw(70);
        }

        .right {
          width: 100%;
        }
      }
    }

    .sec12 {
      padding-top: pxm-to-vw(300);

      .content {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
      }

      .left {
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 0 10%;
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(462);
        margin-left: auto;
      }

      .desc {
        text-align: center;
      }

      .right {
        width: 100%;
        height: pxm-to-vw(1080);
        margin-top: pxm-to-vw(-100);
      }
    }

    .sec13 {
      padding-top: pxm-to-vw(150);

      .content {
        flex-direction: column;
        padding-right: 0;
      }

      .right {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(741);
        margin-left: auto;

        .subtitle {
          text-align: center;
        }
      }

      .desc {
        text-align: center;
      }

      .left {
        order: 2;
        width: 100%;
        height: pxm-to-vw(607);
        margin-top: pxm-to-vw(196);

        &:before {
          display: none;
        }
      }

      .outbox {
        display: none !important;
      }
    }

    .sec14 {
      .content {
        flex-direction: column;
        padding-left: 0;
      }

      .left {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(482);
        margin-left: auto;

        .subtitle {
          text-align: center;
        }
      }

      .desc {
        text-align: center;
      }

      .right {
        align-items: flex-end;
        width: pxm-to-vw(971);
        height: pxm-to-vw(681);
        margin-top: pxm-to-vw(120);
        background-size: cover;
      }

      .icon {
        top: 16.843vw;
        left: 33.260vw;
        width: pxm-to-vw(170);
        height: pxm-to-vw(170);
      }
    }

    .sec15 {
      padding-top: pxm-to-vw(300);

      .content {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
      }

      .right {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .left {
        order: 2;
        width: pxm-to-vw(1010);
        height: pxm-to-vw(1010);
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(813);
        margin-left: auto;

        .subtitle {
          text-align: center;
        }
      }

      .desc {
        text-align: center;
      }
    }

    .sec17 {
      min-height: unset;
      padding-top: pxm-to-vw(300);

      .subgroup {
        width: pxm-to-vw(667);

        .subtitle {
          text-align: center;
        }
      }

      .bigimg {
        display: none;
      }

      .img {
        width: pxm-to-vw(524);
        height: pxm-to-vw(524);
        margin-top: pxm-to-vw(200);
      }
    }

    .sec18 {
      padding-top: pxm-to-vw(300);

      .f1 {
        .img {
          width: pxm-to-vw(985);
          height: pxm-to-vw(924);

          @include bg('sec18m/f1.png');
        }

        padding-bottom: pxm-to-vw(80);
      }

      .f2 {
        .img {
          width: pxm-to-vw(985);
          height: pxm-to-vw(924);

          @include bg('sec18m/f2.png');
        }
      }

      .title {
        max-width: 80%;
        padding-bottom: pxm-to-vw(80);
        font-size: pxm-to-vw(48);
        text-align: center;
      }

      .swiper-pagination-bullet {
        width: pxm-to-vw(30);
        height: pxm-to-vw(30);
        margin: 0 px-to-vw(50);
        background-color: #fff;
      }
    }

    .sec19 {
      box-sizing: border-box !important;
      min-height: 100vh;
      padding-top: pxm-to-vw(300);

      .subgroup {
        width: pxm-to-vw(543);
      }

      .imgbox {
        width: pxm-to-vw(943);
        height: pxm-to-vw(943);
        margin-top: pxm-to-vw(120);
      }
    }

    .sec20 {
      .content {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
      }

      .left {
        box-sizing: border-box;
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
      }

      .title {
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(683);
        margin-left: auto;

        .subtitle {
          text-align: center;
        }
      }

      .desc {
        text-align: center;
      }

      .right {
        width: pxm-to-vw(462);
        height: pxm-to-vw(1020);
        margin-top: pxm-to-vw(120);

        .box {
          width: pxm-to-vw(462);
          height: pxm-to-vw(1020);
        }
      }
    }

    .sec21 {
      min-height: unset;
      padding-top: pxm-to-vw(300);

      .sec21swiper {
        width: pxm-to-vw(840);
        height: 70vw;
        margin-top: pxm-to-vw(120);

        .img {
          width: pxm-to-vw(840);
          height: pxm-to-vw(630);
        }
      }

      .swiper-pagination-bullet {
        width: pxm-to-vw(30);
        height: pxm-to-vw(30);
        margin: 0 px-to-vw(50);
        background-color: #fff;
      }
    }

    .sec22 {
      .b {
        font-size: pxm-to-vw(42);
      }
    }

    .sec23 {
      padding-top: pxm-to-vw(240);

      .subgroup {
        width: pxm-to-vw(466);
      }

      .myswiper {
        margin-top: pxm-to-vw(155);
        padding: 0;

        .left, .right {
          display: none;
        }

        .content {
          width: 100%;
          height: fit-content;
        }

        .swiper {
          height: 90vw;
          margin-left: -20px;
        }

        .swiper-wrapper {
          width: fit-content;
          margin-top: 7vw;
        }

        .phone {
          width: pxm-to-vw(315) !important;
          height: pxm-to-vw(689) !important;
        }

        .text {
          font-size: pxm-to-vw(23) !important;
        }
      }
    }

    .sec24 {
      .params {
        width: pxm-to-vw(994);
        height: pxm-to-vw(1117);
        margin-top: pxm-to-vw(300);
        overflow: hidden;

        @include bg('sec24m/bg.png');
      }

      .box1 {
        position: relative;
        top: unset;
        left: unset;
        width: pxm-to-vw(680);
        margin: pxm-to-vw(132) auto 0;
      }

      .box2 {
        position: relative;
        top: unset;
        left: unset;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
        margin-top: pxm-to-vw(106);
        padding: 0 pxm-to-vw(115);
        row-gap: pxm-to-vw(70);
        column-gap: 10vw;

        .big {
          font-size: pxm-to-vw(90);
        }

        .small {
          margin-top: pxm-to-vw(15);
          font-size: pxm-to-vw(28);
        }
      }

      .title {
        text-align: center;
      }

      .desc {
        text-align: center;
      }
    }

    .sec25 {
      height: 135vw;
      padding-top: pxm-to-vw(300);

      @include bg('sec25m/bg.png');

      background-position: center bottom;
      background-size: pxm-to-vw(1080) pxm-to-vw(1080);

      .box {
        box-sizing: border-box;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding: 0 10%;
      }

      .title {
        margin-left: auto;
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(840);

        .subtitle {
          text-align: center;
        }
      }

      .params {
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        margin-top: pxm-to-vw(85);
        padding: 0 pxm-to-vw(80);
      }

      .param {
        flex-direction: row;
        gap: pxm-to-vw(34);
      }

      .up, .down {
        width: pxm-to-vw(69);
        height: pxm-to-vw(75);
      }

      .big {
        font-size: pxm-to-vw(68);
      }

      .small {
        font-size: pxm-to-vw(24);
      }
    }

    .sec26 {
      padding-top: pxm-to-vw(300);

      .subgroup {
        width: pxm-to-vw(722);

        .subtitle {
          text-align: center;
        }
      }

      .img {
        margin-top: pxm-to-vw(30);
      }
    }

    .sec27 {
      .content {
        flex-direction: column;
        width: 100%;
        padding: 0;
        padding-top: pxm-to-vw(300);
      }

      .title {
        margin-left: auto;
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(894);
        margin-left: auto;

        .subtitle {
          text-align: center;
        }
      }

      .left {
        box-sizing: border-box;
        width: 100%;
        padding: 0 9%;
      }

      .desc {
        text-align: center;
      }

      .params {
        gap: 0;
        justify-content: space-between;
        width: 100%;
        margin-top: pxm-to-vw(112);

        .img {
          width: pxm-to-vw(136);
          height: pxm-to-vw(136);
        }
      }

      .right {
        width: 100%;
        height: pxm-to-vw(725);
        margin-top: pxm-to-vw(122);

        .f1 {
          left: pxm-to-vw(266);
          width: pxm-to-vw(331);
          height: pxm-to-vw(725);
        }

        .f2 {
          width: pxm-to-vw(287);
          height: pxm-to-vw(677);
        }
      }
    }

    .sec28 {
      padding-top: pxm-to-vw(300);

      .content {
        flex-direction: column;
        height: fit-content;
        padding-right: 0;
        padding-left: 0;
      }

      .right {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
      }

      .title {
        margin-left: auto;
        text-align: center;
      }

      .subgroup {
        width: pxm-to-vw(570);
        margin-left: auto;
      }

      .desc {
        text-align: center;
      }

      .left {
        flex: unset;
        order: 2;
        width: 100%;
        height: pxm-to-vw(671);
        margin-top: pxm-to-vw(114);
        background-position: center;
      }
    }

    .sec29 {
      padding-top: pxm-to-vw(300);
      padding-bottom: 0;

      .subgroup {
        width: pxm-to-vw(640);
      }

      .img {
        position: relative;
        width: 100%;
        height: 58vw;
        margin-top: pxm-to-vw(-130);
        background-position: center;
      }
    }

    .sec30 {
      padding-top: pxm-to-vw(300);

      .subgroup {
        width: pxm-to-vw(466);
      }

      .desc {
        max-width: 100%;
        padding: 0 4%;
      }

      .img {
        height: 52vw;
        margin-top: pxm-to-vw(50);
      }

      .mySwiper {
        .swiper-pagination-bullet {
          width: pxm-to-vw(18);
          height: pxm-to-vw(18);
          margin: 0 pxm-to-vw(20);
        }
      }
    }

    .sec31 {
      padding-top: pxm-to-vw(300);
      padding-bottom: 0;

      .subgroup {
        width: pxm-to-vw(714);
      }

      .img {
        position: relative;
        width: 100%;
        height: 57vw;
        margin-top: pxm-to-vw(-100);
        background-position: center;
      }

      .mask {
        display: none;
      }
    }

    .sec32 {
      padding-top: pxm-to-vw(300);

      .subgroup {
        width: pxm-to-vw(466);
        margin-top: pxm-to-vw(120);
      }

      .group {
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        margin-top: pxm-to-vw(120);
        padding: 0 pxm-to-vw(230);
        column-gap: pxm-to-vw(260);
        row-gap: pxm-to-vw(116);

        .text {
          margin-top: pxm-to-vw(35);
          white-space: nowrap;
        }

        .out {
          gap: 0;

          .img {
            width: pxm-to-vw(115);
            height: pxm-to-vw(115);
          }
        }
      }
    }
  }
}
