@import "./vars";

* {
  margin: 0;
  padding: 0;
}

.s25ultra {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  color: #000;
  font-family: "Book";
  line-height: initial;
  background-color: #fff;
  background-image: none !important;

  --content-width: 62.5vw;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Book";
  }

  &.false {
    background-image: unset !important;
  }

  video {
    width: auto;
  }

  section {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    margin-top: -1px;
    overflow: hidden;
  }

  span {
    font-size: inherit;
    font-family: inherit;
  }

  img {
    vertical-align: baseline;
  }

  button {
    background-color: unset;
    border: none;
  }

  .mob {
    display: none;
  }

  .img_wrap {
    font-size: 0;

    img {
      width: 100%;
    }
  }

  .spec_part {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }

  .spec_text_wrap {
    // max-width: var(--content-width);
    max-width: px-to-vw(1250);
    margin: 0 auto;
    text-align: center;
  }

  .spec_title {
    font-size: px-to-vw(150);
    font-family: "Bold";
    line-height: 1;
  }

  .spec_desc {
    margin: px-to-vw(60) 0 0;
    color: #010101;
    font-size: px-to-vw(25);
    line-height: 2;
    opacity: .8;
  }

  .title_75 {
    font-size: px-to-vw(75);
    font-family: "Medium";
    line-height: 1.2;
  }

  .desc_16 {
    margin-top: px-to-vw(30);
    color: #000;
    font-size: px-to-vw(16);
    font-family: "Regular";
    line-height: 2;
    opacity: .8;
  }
}

@media (max-width: $mobwidthPx) {
  .s25ultra {
    --content-width: px-to-vw-mb(670);

    .pc {
      display: none;
    }

    .mob {
      display: block;
    }
  }
}