@import '../vars';

.tab30pro .sec8 {
  .sec8_wrap {
    position: relative;
    height: px-to-vw(1157);
  }

  .bg_wrap {
    height: 100%;

    img {
      height: 100%;
    }
  }

  .content_wrap {
    position: absolute;
    top: px-to-vw(160);
    right: 0;
    left: 0;
    max-width: var(--content-width);
    margin: 0 auto;
  }

  .desc_16 {
    max-width: 50%;
  }

  .datas {
    margin-top: px-to-vw(80);
  }

  .data {
    width: fit-content;
    padding: px-to-vw(10) px-to-vw(40);
    color: #fff;
    font-size: px-to-vw(37.5);
    line-height: 1.3;
    background-image: linear-gradient(to right, #3d8bf7 0%, #a6cbff 100%);
    border-radius: px-to-vw(34);

    &:not(:last-child) {
      margin-bottom: px-to-vw(43);
    }
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec8 {
    .sec8_wrap {
      height: px-to-vw-mb(1420);
    }

    .content_wrap {
      top: px-to-vw-mb(160);
    }

    .desc_16 {
      max-width: 100%;
    }

    .datas {
      margin-top: px-to-vw-mb(56);
    }

    .data {
      padding: px-to-vw-mb(8) px-to-vw-mb(30);
      font-size: px-to-vw-mb(33);
      border-radius: px-to-vw-mb(29);

      &:not(:last-child) {
        margin-bottom: px-to-vw-mb(36);
      }
    }
  }
}