@import '../vars';

.ear571h .sec10 {
  .content_wrap {
    display: flex;
    gap: px-to-vw(45);
  }

  .text_wrap {
    margin: px-to-vw(195) px-to-vw(100) 0 0;
  }

  .pdp_desc {
    margin-top: px-to-vw(8);
  }

  .img_wrap {
    flex-shrink: 0;
    width: px-to-vw(580);
    height: px-to-vw(776);
  }
}