@import '../vars';

.s25ultra .sec5 {
  .sec5_wrap {
    position: relative;
    height: px-to-vw(950);
    margin-top: px-to-vw(100);
    padding: px-to-vw(50) 0;
    background-size: 100% 100% !important;

    @include bg("pc/sec5_bg_pc.png");
  }

  .text_wrap {
    position: relative;
    z-index: 1;
    max-width: var(--content-width);
    margin: 0 auto;
    text-align: center;
  }

  .pic_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .phone_wrap {
    width: px-to-vw(100%);
    height: px-to-vw(930);
  }

  .mask_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .light_wrap {
    position: absolute;
    top: px-to-vw(400);
    left: px-to-vw(800);
    width: 100%;
    height: px-to-vw(200);
    background-color: rgba(255, 255, 255, .4);
    transform: rotate(-55deg);
  }

  .nit_wrap {
    position: absolute;
    top: px-to-vw(472);
    left: px-to-vw(720);
    width: px-to-vw(744);
    opacity: .8;
  }
}

@media (max-width: $mobwidthPx) {}