@import '../vars';

.s25ultra .sec5 {
  .sec5_wrap {
    position: relative;
    height: px-to-vw(950);
    padding: px-to-vw(50) 0;

    @include bg("pc/sec5_bg_pc.png");

    background-size: 100% 100%;
  }

  .text_wrap {
    max-width: var(--content-width);
    margin: 0 auto;
    text-align: center;
  }

  .pic_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .phone_wrap {
    width: px-to-vw(100%);
    height: px-to-vw(930);
  }

  .phone_mask_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: px-to-vw(200);
    background-color: #fff;
    opacity: .5;
  }

  .nit_wrap {
    position: absolute;
    top: px-to-vw(472);
    left: px-to-vw(720);
    width: px-to-vw(744);
    opacity: .8;
  }
}

@media (max-width: $mobwidthPx) {}