@import '../vars';

.tab30pro .sec13 {
  .sec13_wrap {
    position: relative;
    height: px-to-vw(1008);
    padding-top: px-to-vw(100);
  }

  .text_wrap {
    position: relative;
    z-index: 1;
    max-width: px-to-vw(680);
    margin: 0 0 0 px-to-vw(360);
  }

  .processor_wrap {
    position: absolute;
    top: px-to-vw(230);
    left: px-to-vw(1002);
    width: px-to-vw(602);
  }

  .datas {
    display: flex;
    flex-wrap: wrap;
    gap: px-to-vw(24) 5%;
    margin-top: px-to-vw(60);
    opacity: 0;

    .data_item {
      width: 45%;
    }

    .data_title {
      color: #2e2e2e;
      font-size: px-to-vw(16.6);
      font-family: "Medium";
    }

    .desc_16 {
      margin-top: px-to-vw(8);
      line-height: 1.2;
    }
  }

  .compare_wrap {
    margin-top: px-to-vw(70);
    opacity: 0;
  }

  .processor_modal_wrap {
    display: flex;
    gap: px-to-vw(24);
  }

  .processor_name {
    display: flex;
    gap: px-to-vw(7);
    align-items: center;
    color: #2e2e2e;
    font-size: px-to-vw(16.6);
    font-family: "Regular";

    &:before {
      display: block;
      width: px-to-vw(14);
      height: px-to-vw(14);
      background-color: #979797;
      border-radius: 50%;
      content: "";
    }

    &:first-child {
      &:before {
        background-image: linear-gradient(to right, #ff073c 0%, #ff6407 100%);
      }
    }
  }

  .score_line {
    height: px-to-vw(6);
    border-radius: px-to-vw(3);
  }

  .improve_wrap {
    display: flex;
    gap: px-to-vw(24) 5%;
    margin-top: px-to-vw(28);
  }

  .improve_item {
    width: 45%;
  }

  .improve {
    font-size: px-to-vw-mb(16.6);
    font-family: "Medium";
  }

  .new_score {
    width: px-to-vw(190);
    margin-top: px-to-vw(18);
    background-image: linear-gradient(to right, #ff6407 0%, #ff073c 100%);
  }

  .old_score {
    width: px-to-vw(130);
    margin-top: px-to-vw(10);
    background-image: linear-gradient(to right, #dcdcdc 0%, #a2a2a2 100%);
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec13 {
    .sec13_wrap {
      height: px-to-vw-mb(1365);
      padding-top: px-to-vw-mb(150);
    }

    .bg_wrap {
      img {
        height: 100%;
        object-fit: contain;
        object-position: center bottom;
      }
    }

    .datas {
      .data_title {
        font-size: px-to-vw-mb(20.8);
      }
    }

    .compare_wrap {
      margin-top: px-to-vw-mb(50);
    }

    .processor_modal_wrap {
      gap: px-to-vw-mb(26);
    }

    .processor_name {
      gap: px-to-vw-mb(8);
      font-size: px-to-vw-mb(20.8);

      &:before {
        width: px-to-vw-mb(16);
        height: px-to-vw-mb(16);
      }
    }

    .processor_wrap {
      top: unset;
      bottom: px-to-vw-mb(227);
      left: px-to-vw-mb(33);
      width: px-to-vw-mb(610);
    }

    .text_wrap {
      max-width: var(--content-width);
      margin: 0 auto;
    }

    .improve_wrap {
      flex-direction: column;
      gap: px-to-vw-mb(40);
      margin-top: px-to-vw-mb(42);
    }

    .improve_item {
      width: 100%;
    }

    .improve {
      font-size: px-to-vw-mb(20.8);
    }

    .score_line {
      height: px-to-vw-mb(5);
    }

    .new_score {
      width: px-to-vw-mb(190);
      margin-top: px-to-vw-mb(16);
    }

    .old_score {
      width: px-to-vw-mb(130);
      margin-top: px-to-vw-mb(10);
    }
  }
}