@import '../vars';

.ear571h {
  .pdp_navbar {
    position: fixed;
    right: 0;
    bottom: px-to-vw(35);
    left: 0;
    z-index: 10;
    display: flex;
    width: px-to-vw(694);
    margin: 0 auto;
    background: rgba(255, 255, 255, .15);
    border: 1px solid #fff;
    border-radius: 1px;
    backdrop-filter: blur(5px);
    transition: all .5s;

    &.active {
      width: px-to-vw(424);

      .nav_item:after {
        opacity: 0;
      }
    }

    &.is_white {
      background: rgba(235, 235, 235, .70);
      border: 1px solid #d5d5d5;
      backdrop-filter: blur(5px);

      .nav_item {
        &.active {
          color: #333;

          .text {
            border-bottom: 1px solid #333;
          }
        }
      }
    }

    .nav_item {
      position: relative;
      width: calc(100% / 3);
      color: #fff;
      font-size: px-to-vw(14);
      line-height: px-to-vw(41);
      text-align: center;

      &:not(:last-child):after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: px-to-vw(25);
        background: #fff;
        transform: translateY(-50%);
        transition: all .5s;
        content: "";
      }

      .text {
        padding-bottom: px-to-vw(4);
        color: inherit;
        text-decoration: unset;
        cursor: pointer;
        transition: all .5s;
      }

      &.active {
        color: #fff;

        .text {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}