@import '../vars';

.spark20 .sec4 {
  padding-bottom: px-to-vw(360);

  .title_96 {
    position: relative;
    z-index: 1;

    span {
      background-image: linear-gradient(90deg, #eba9d9 0%, #fdedcf 53%, #f5dbff 100%);
    }
  }

  .spark20_container {
    position: relative;
  }

  .video_box {
    position: absolute;
    top: px-to-vw(-90);
    left: px-to-vw(50);
    height: px-to-vw(420);
    transform: rotate(-25deg);
  }
  
  .camera {
    height: px-to-vw(420);
  }

  .right1 {
    position: relative;
    width: px-to-vw(600);
    margin: px-to-vw(473) 0 0 px-to-vw(1086);
  }

  .datas {
    display: flex;
    flex-wrap: wrap;
    gap: px-to-vw(24);
    justify-content: space-between;
    width: 90%;
    margin-top: px-to-vw(48);
  }

  .data_title {
    width: fit-content;
    color: transparent;
    font-weight: 700;
    font-size: px-to-vw(32);
    font-family: "HB";
    background: linear-gradient(90deg, #eba9d9 0%, #fdedcf 53%, #f5dbff 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }

  .data_desc {
    font-size: px-to-vw(16);
  }

  .container2 {
    display: flex;
    justify-content: center;
    margin-top: px-to-vw(360);

    .left2, .right2 {
      position: relative;
      flex-shrink: 0;
      width: px-to-vw(715);
      height: px-to-vw(715);
      overflow: hidden;
      border-radius: px-to-vw(8);
    }

    .night_pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      &.off {
        opacity: .5;
      }
    }

    .right2 {
      margin-left: px-to-vw(10);
      padding: px-to-vw(70);
      background: linear-gradient(158.66deg, #00132e 55.92%, #002251 89.43%);
    }

    .icon {
      position: absolute;
      right: px-to-vw(-122);
      bottom: px-to-vw(-122);
      height: px-to-vw(629);
    }
  }
}

@media (max-width: $mobwidthPx) {
  .spark20 .sec4 {
    padding-bottom: px-to-vw-mb(360);

    .title_96 {
      font-size: px-to-vw-mb(66);
    }

    .spark20_container {
      margin-top: px-to-vw-mb(360);
    }

    .video_box {
      position: unset;
      height: px-to-vw-mb(400);
      margin-left: px-to-vw-mb(100);
    }

    .camera {
      height: px-to-vw-mb(400);
    }

    .right1 {
      width: px-to-vw-mb(750);
      margin: px-to-vw-mb(200) 0 0 px-to-vw-mb(120);
    }

    .datas {
      gap: px-to-vw-mb(34);
      width: 100%;
      margin-top: px-to-vw-mb(36);

      .data_title {
        font-size: px-to-vw-mb(48);
      }

      .data_desc {
        font-size: px-to-vw-mb(24);
      }
    }

    .container2 {
      flex-direction: column;
      align-items: center;
      margin-top: px-to-vw-mb(410);

      .left2, .right2 {
        width: px-to-vw-mb(960);
        height: px-to-vw-mb(960);
      }

      .right2 {
        margin: px-to-vw-mb(16) 0 0;
        padding: px-to-vw-mb(111) px-to-vw-mb(98) px-to-vw-mb(98);

        .datas {
          width: 90%;
          margin-top: px-to-vw-mb(64);
        }
      }

      .icon {
        right: px-to-vw-mb(-165);
        bottom: px-to-vw-mb(-165);
        height: px-to-vw-mb(844);
      }
    }
  }
}