@import '../vars';

.s25ultra .sec13 {
  .sec13_wrap {
    position: relative;
  }

  .spec_part {
    position: absolute;
    z-index: 2;
    width: 100%;
  }

  .content_wrap {
    height: 100vh;
  }

  .part {
    width: 100%;
    height: 100vh;
    padding-top: px-to-vw(60);
  }

  .text_wrap {
    max-width: var(--content-width);
    margin: 0 auto;
  }

  .clip_light_wrap1,
  .clip_light_wrap2 {
    img {
      mix-blend-mode: lighten;
    }
  }

  .part1 {
    .text_wrap {
      .desc_16 {
        max-width: 43%;
      }
    }

    .phone_wrap {
      position: absolute;

      // bottom: px-to-vw(-180);
      top: px-to-vw(280);
      right: 0;
      width: px-to-vw(1818);
      margin: 0 0 0 auto;
    }

    .chip_wrap1 {
      position: absolute;
      top: px-to-vw(265);

      // left: px-to-vw(925);
      right: px-to-vw(645);
      width: px-to-vw(335);
    }

    .clip_light_circle_wrap1 {
      position: absolute;
      top: px-to-vw(463);

      // left: px-to-vw(866);
      right: px-to-vw(613);
      width: px-to-vw(423);
    }

    .clip_light_wrap1 {
      position: absolute;
      top: px-to-vw(286);

      // left: px-to-vw(845);
      right: px-to-vw(612);
      width: px-to-vw(446);
    }

    .chip_wrap2 {
      position: absolute;
      top: px-to-vw(312);

      // left: px-to-vw(1232);
      right: px-to-vw(309);
      width: px-to-vw(362);
    }

    .clip_light_circle_wrap2 {
      position: absolute;
      top: px-to-vw(450);

      // left: px-to-vw(1140);
      right: px-to-vw(236);
      width: px-to-vw(519);
    }

    .clip_light_wrap2 {
      position: absolute;
      top: px-to-vw(300);

      // left: px-to-vw(1182);
      right: px-to-vw(309);
      width: px-to-vw(411);
    }

    .data_wrap {
      position: absolute;
      right: 0;
      bottom: px-to-vw(100);
      left: 0;
      display: flex;
      justify-content: space-between;
      width: px-to-vw(1200);
      margin: 0 auto;
      padding: px-to-vw(40) px-to-vw(80);

      @include bg("pc/sec13_data_bg_pc.webp");

      background-size: 100% 100% !important;

      .data {
        width: 45%;
      }

      .data_subtitle {
        font-size: px-to-vw(25);
        font-family: "Medium";
      }

      .data_title {
        font-size: px-to-vw(50);
        font-family: "Medium";
      }

      .data_desc {
        font-size: px-to-vw(25);
        font-family: "Medium";
      }
    }
  }

  .part2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);

    .phone_wrap {
      position: absolute;
      top: px-to-vw(353);
      right: 0;

      // bottom: 0;
      width: px-to-vw(1817);
    }

    .chip_wrap1 {
      position: absolute;
      top: px-to-vw(414);

      // left: px-to-vw(660);
      right: px-to-vw(899);
      width: px-to-vw(342);
    }

    .clip_light_circle_wrap1 {
      position: absolute;
      top: px-to-vw(587);

      // left: px-to-vw(602);
      right: px-to-vw(863);
      width: px-to-vw(440);
    }

    .clip_light_wrap1 {
      position: absolute;
      top: px-to-vw(400);

      // left: px-to-vw(584);
      right: px-to-vw(867);
      width: px-to-vw(452);
    }
  }
}

@media (max-width: $mobwidthPx) {}