@import '../vars';

.s25ultra .sec13 {
  .sec13_wrap {
    position: relative;
  }

  .spec_part {
    position: absolute;
    z-index: 2;
    width: 100%;
  }

  .content_wrap {
    height: 100vh;
  }

  .part {
    width: 100%;
    height: 100vh;
    padding-top: px-to-vw(60);
  }

  .text_wrap {
    max-width: var(--content-width);
    margin: 0 auto;
  }

  .clip_light_wrap1,
  .clip_light_wrap2 {
    img {
      mix-blend-mode: lighten;
    }
  }

  .part1 {
    .text_wrap {
      .desc_16 {
        max-width: 43%;
      }
    }

    .phone_wrap {
      position: absolute;
      top: px-to-vw(80);
      width: 100%;
    }

    .chip_wrap {
      position: absolute;
      top: px-to-vw(80);
      width: 100%;
    }

    .light_wrap {
      position: absolute;
      top: px-to-vw(80);
      width: 100%;
    }

    .data_wrap {
      position: absolute;
      right: 0;
      bottom: px-to-vw(100);
      left: 0;
      display: flex;
      justify-content: space-between;
      width: px-to-vw(1200);
      margin: 0 auto;
      padding: px-to-vw(40) px-to-vw(80);

      @include bg("pc/sec13_data_bg_pc.webp");

      background-size: 100% 100% !important;

      .data {
        width: 45%;
      }

      .data_subtitle {
        font-size: px-to-vw(25);
        font-family: "Medium";
      }

      .data_title {
        font-size: px-to-vw(50);
        font-family: "Medium";
      }

      .data_desc {
        font-size: px-to-vw(25);
        font-family: "Medium";
      }
    }
  }

  .part2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);

    .text_wrap {
      max-width: px-to-vw(680);
      margin: 0 0 0 px-to-vw(360);
    }

    .phone_wrap {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .chip_wrap {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .light_wrap {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

@media (max-width: $mobwidthPx) {}