@import '../index';

.sec11.pop8 {
  position: relative;
  padding-top: px-to-vw(308);

  &.false {
    .left_circle,.right_circle,.sec11_phone,.sec11_text,.icon1,.icon2,.icon3 {
      background-image: unset !important;
    }
  }

  .title_box {
    .icon1 {
      width: px-to-vw(164);
      height: px-to-vw(165);

      @include bg('sec11PcIcon1.png');
    }

    .icon2 {
      width: px-to-vw(175);
      height: px-to-vw(137);

      @include bg('sec11PcIcon2.png');
    }

    .icon3 {
      width: px-to-vw(221);
      height: px-to-vw(157);

      @include bg('sec11PcIcon3.png');
    }
  }

  .left_circle {
    position: absolute;
    top: 37%;
    left: 9%;
    width: px-to-vw(871);
    height: px-to-vw(871);

    @include bg('sec11PcLeftCircle.png');
  }

  .right_circle {
    position: absolute;
    top: 34%;
    right: 4%;
    z-index: 4;
    width: px-to-vw(1112);
    height: px-to-vw(1112);

    @include bg('sec11PcRightCircle.png');
  }

  .sec11_phone {
    position: absolute;
    top: 46%;
    left: 12%;
    z-index: 8;
    width: px-to-vw(373);
    height: px-to-vw(805);

    @include bg('sec11Phone.png');
  }

  .sec11_text {
    position: absolute;
    top: 79%;
    left: 31%;
    z-index: 5;
    width: px-to-vw(290);
    height: px-to-vw(216);

    @include bg('sec11Text.png');
  }

  .content_box {
    padding-top: px-to-vw(480);
    padding-left: px-to-vw(100);
    color: #fff;
  }

  .text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: px-to-vw(496);
    font-size: px-to-vw(48);
    font-family: "HB";
    line-height: 90%;
  }

  .desc_18 {
    width: 27.2vw;
  }

  .params {
    gap: px-to-vw(61);
    margin-top: px-to-vw(57);

    .big_text {
      color: rgba(250, 255, 0, 1);
      font-size: px-to-vw(35);
    }
  }

  .tips {
    margin-top: px-to-vw(1100);
    padding-bottom: px-to-vw(40);
    padding-left: px-to-vw(253);
  }
}

@media (width < $mobwidthPx) {
  .sec11.pop8 {
    padding-top: px-to-vw-mb(375);
    padding-bottom: px-to-vw-mb(2200);

    .title_box {
      .icon1 {
        width: px-to-vw-mb(135);
        height: px-to-vw-mb(135);
      }
      
      .icon2 {
        width: px-to-vw-mb(140);
        height: px-to-vw-mb(110);
      }
      
      .icon3 {
        width: px-to-vw-mb(182);
        height: px-to-vw-mb(128);
      }
    }

    .left_circle {
      top: 25%;
      left: 0;
      width: px-to-vw-mb(842);
      height: px-to-vw-mb(1056);

      @include bg('sec11MobF1.png');
    }

    .right_circle {
      top: 44%;
      right: 0;
      width: px-to-vw-mb(1080);
      height: px-to-vw-mb(1205);

      @include bg('sec11MobF3.png');
    }

    .sec11_phone {
      top: 29%;
      left: px-to-vw-mb(85);
      z-index: 6;
      width: px-to-vw-mb(408);
      height: px-to-vw-mb(881);
    }

    .sec11_text {
      top: 51%;
      left: 45%;
      width: px-to-vw-mb(400);
      height: px-to-vw-mb(305);

      @include bg('sec11MobF2.png');
    }

    .content_box {
      padding-top: px-to-vw-mb(600);
      padding-left: px-to-vw-mb(300);
    }
    
    .text_box {
      .title {
        width: px-to-vw-mb(700);
        font-size: px-to-vw-mb(48);
      }

      .desc_18 {
        width: px-to-vw-mb(700);
      }
    }

    .params {
      position: absolute;
      bottom: px-to-vw-mb(-220);
      left: px-to-vw-mb(75);
      flex-wrap: wrap;
      gap: px-to-vw-mb(34) px-to-vw-mb(63);

      .param:nth-child(3) {
        order: -1;
        width: 100%;
      }

      .big_text {
        font-size: px-to-vw-mb(54);
      }

      .small_text {
        font-size: px-to-vw-mb(32);
      }
    }
  }
}