$pcwidth: 19.2;
$mobwidth: 7.5;
/* stylelint-disable-next-line scss/dollar-variable-pattern */
$mobwidthPx: 750px;

@font-face {
  font-family: 'Regular';
  src: url('/src/assets/font/MarkOT.otf');
}

@font-face {
  font-family: 'Book';
  src: url('/src/assets/font/MarkOT-Book.otf');
}

@font-face {
  font-family: 'Bold';
  src: url('/src/assets/font/MarkOT-Bold.otf');
}

@font-face {
  font-family: 'Light';
  src: url('/src/assets/font/MarkOT-Light.otf');
}

@font-face {
  font-family: 'Medium';
  src: url('/src/assets/font/MarkOT-Medium.otf');
}

@mixin position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontsize($fontSize) {
  font-size: calc(#{$fontSize} * (1 / $pcwidth) * 1vw);
}

@mixin bg($url, $size: true) {
  background-image: url("../../../../src/assets/s25ultra/images/#{$url}");
  background-repeat: no-repeat;

  @if $size == true {
    background-size: contain;
  }

  @if $size == false {
    background-size: cover;
  }
}

@function px-to-vw($value) {

  @return #{$value * calc(1 / $pcwidth)}vw;
}

@function px-to-vw-mb($value) {

  @return #{$value * calc(1 / $mobwidth)}vw;
}

@function px-to-vh($value) {

  @return #{$value * calc(1 / 14.4)}vh;
}