@import '../vars';

.ear571h .sec32 {
  position: relative;

  .sec32_wrap {
    position: relative;
    width: var(--content-width);
    height: 100%;
    margin: 0 auto;
  }

  .video_wrap {
    position: absolute;
    position: sticky;
    top: px-to-vw(30);
    left: px-to-vw(0);
    width: px-to-vw(1800);

    video {
      width: 100%;
    }
  }

  .part {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: px-to-vw(80) 0 0;
  }

  .part2 {
    .pdp_title,
    .pdp_desc,
    .action_wrap,
    .voice_wrap {
      transform: translateY(100px);
      opacity: 0;
    }

    .pdp_desc {
      margin-top: px-to-vw(8);
    }

    .action_wrap {
      display: flex;
      gap: px-to-vw(30);
      margin-top: px-to-vw(32);
    }

    .action_box {
      display: flex;
      align-items: center;

      button {
        display: flex;
        flex-direction: column;
        gap: px-to-vw(8);
        align-items: center;
        justify-content: center;
        width: px-to-vw(80);
        height: px-to-vw(80);
        background: #333;
      }

      .icon_desc {
        color: #fff;
        font-size: px-to-vw(12);
      }
    }

    .play_icon {
      width: px-to-vw(12);
    }

    .link_icon {
      width: px-to-vw(28);
    }

    .btn_desc {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 px-to-vw(16);
      color: #333;
      font-size: px-to-vw(18);
      background: #e5e5e5;
      border: 1px solid #d3d3d3;
    }

    .voice_wrap {
      width: px-to-vw(510);
      overflow: hidden;

      video {
        width: px-to-vw(660);
        margin-left: px-to-vw(-80);
      }
    }
  }
}