@import "../../var";

.colorText {
  --gradient-angle: 0%;
  --gradient-angle1: 100%;
  --gradient-angle2: 200%;
  --gradient-angle3: 300%;

  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: pvw(140);
  font-family: "Bold";
  line-height: calc(177 / 140);
  text-align: center;
  background: linear-gradient(
    90deg,
    #000 var(--gradient-angle),
    #000 var(--gradient-angle1),
    #4facfe var(--gradient-angle2),
    #00f2fe var(--gradient-angle3)
  );
  -webkit-background-clip: text !important;
  background-clip: text !important;
  transform: scale(1.2);
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 751px) {
  .colorText {
    font-size: mvw(60);
    line-height: calc(76 / 60);
  }
}
