@import '../vars';

.tab30pro .sec9 {
  .sec9_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: px-to-vw(1100);
  }

  .bg_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .text_wrap {
    position: relative;
    display: flex;
    gap: px-to-vw(100);
    max-width: px-to-vw(1200);
    margin: 0 auto;

    .left_wrap {
      flex-shrink: 0;
      width: 43%;
    }

    .desc_16 {
      margin-top: 0;
    }
  }

  .box_wrap {
    position: relative;
    width: px-to-vw(1520);
    height: px-to-vw(567);
    margin: px-to-vw(32) auto 0;
    padding: px-to-vw(96) px-to-vw(160);
    background-color: #fff;
    border-radius: px-to-vw(20);
  }

  .switch_content {
    position: relative;
    z-index: 1;
    height: px-to-vw(360);
  }

  .line_wrap {
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);

    .active_line {
      position: absolute;
      top: 0;
      left: -1px;
      width: 4px;
      height: calc(100% / 3);
      background-color: #ff073c;
      transition: all .5s;
    }
  }

  .datas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: px-to-vw(330);
    height: 100%;
    margin-left: px-to-vw(24);

    .data_wrap {
      overflow: hidden;
      transition: all .5s;

      // &.active_data {
      //   .tran_wrap {
      //     grid-template-rows: 1fr;
      //   }

      //   .desc_16 {
      //     margin-top: px-to-vw(12);
      //   }
      // }
    }

    .data_title {
      font-size: px-to-vw(25);
      font-family: "Medium";
      cursor: pointer;
      opacity: .4;
    }

    .tran_wrap {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
    }

    .desc_16 {
      min-height: 0;
      margin-top: 0;
    }
  }

  .pic_wrap {
    opacity: 0;
    transition: all .5s;

    // &.active_pic_wrap {
    //   opacity: 1;
    // }

    &:nth-child(1) {
      opacity: 1;
    }
  }

  .phone1_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(545);
    width: px-to-vw(596);
    transform: translateY(-50%);
  }

  .phone2_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(1215);
    width: px-to-vw(155);
    transform: translateY(-50%);
  }

  .wave_wrap1 {
    position: absolute;
    top: 50%;
    left: px-to-vw(1102);
    width: px-to-vw(378);
    transform: translateY(-50%);
  }

  .phone3_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(687);
    width: px-to-vw(528);
    transform: translateY(-50%);
  }

  .phone4_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(1266);
    width: px-to-vw(140);
    transform: translateY(-50%);
  }

  .wave_wrap2 {
    position: absolute;
    top: px-to-vw(20);
    left: px-to-vw(578);
    width: px-to-vw(275);
  }

  .wave_wrap3 {
    position: absolute;
    bottom: 0;
    left: px-to-vw(1181);
    width: px-to-vw(306);
  }

  .phone5_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(536);
    width: px-to-vw(605);
    transform: translateY(-50%);
  }

  .phone6_wrap {
    position: absolute;
    top: 50%;
    left: px-to-vw(1213);
    width: px-to-vw(141);
    transform: translateY(-50%);
  }

  .wave_wrap4 {
    position: absolute;
    top: 50%;
    left: px-to-vw(1102);
    width: px-to-vw(357);
    transform: translateY(-50%);
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec9 {
    .sec9_wrap {
      height: px-to-vw-mb(1400);
    }

    .text_wrap {
      display: block;
      max-width: var(--content-width);

      .left_wrap {
        width: 100%;
      }

      .desc_16 {
        margin-top: px-to-vw-mb(24);
      }
    }

    .box_wrap {
      width: var(--content-width);
      height: px-to-vw-mb(753);
      margin: px-to-vw-mb(30) auto 0;
      padding: px-to-vw-mb(40) px-to-vw-mb(36);
    }

    .switch_content {
      height: px-to-vw-mb(330);
    }

    .datas {
      max-width: unset;
      margin-left: px-to-vw-mb(34);

      .data_title {
        font-size: px-to-vw-mb(33.3);
      }
    }

    .phone1_wrap {
      top: px-to-vw-mb(452);
      left: px-to-vw-mb(55);
      width: px-to-vw-mb(360);
      transform: unset;
    }

    .phone2_wrap {
      top: px-to-vw-mb(472);
      left: px-to-vw-mb(457);
      width: px-to-vw-mb(94);
      transform: unset;
    }

    .wave_wrap1 {
      top: px-to-vw-mb(464);
      left: px-to-vw-mb(389);
      width: px-to-vw-mb(228);
      transform: unset;
    }

    .phone3_wrap {
      top: px-to-vw-mb(453);
      left: px-to-vw-mb(98);
      width: px-to-vw-mb(362);
      transform: unset;
    }

    .phone4_wrap {
      top: px-to-vw-mb(472);
      left: px-to-vw-mb(495);
      width: px-to-vw-mb(96);
      transform: unset;
    }

    .wave_wrap2 {
      top: px-to-vw-mb(379);
      left: px-to-vw-mb(23);
      width: px-to-vw-mb(188);
      transform: unset;
    }

    .wave_wrap3 {
      top: px-to-vw-mb(553);
      left: px-to-vw-mb(436);
      width: px-to-vw-mb(210);
      transform: unset;
    }

    .phone5_wrap {
      top: px-to-vw-mb(431);
      left: px-to-vw-mb(62);
      width: px-to-vw-mb(372);
      transform: unset;
    }

    .phone6_wrap {
      top: px-to-vw-mb(499);
      left: px-to-vw-mb(479);
      width: px-to-vw-mb(87);
      transform: unset;
    }

    .wave_wrap4 {
      top: px-to-vw-mb(464);
      left: px-to-vw-mb(410);
      width: px-to-vw-mb(220);
      transform: unset;
    }
  }
}