@import '../vars';

.sec2 {
  .content {
    position: relative;
    padding: px-to-vw(240) 0;
    background-color: #fff;
  }

  .items {
    position: relative;
    display: flex;
    gap: px-to-vw(16);
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    .sec2_tips {
      position: absolute;
      bottom: px-to-vw(-30);
      left: 0;
      color: #adadad;
      font-size: px-to-vw(15);
    }
  }

  .sec2_col {
    display: flex;
    flex-direction: column;
    gap: px-to-vw(20);
    justify-content: space-between;
  }

  .sec2_row {
    display: flex;
    gap: px-to-vw(20);
    justify-content: space-between;
  }

  .item {
    position: relative;
    overflow: hidden;
    color: unset;
    text-decoration: unset;
    border-radius: px-to-vw(36);

    .img_wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text_wrapper {
      position: relative;
    }

    .title {
      width: fit-content;
      color: transparent;
      line-height: 1;
      -webkit-background-clip: text;
      background-clip: text;
      
      div {
        position: relative;
        width: inherit;
        background: inherit;

        span {
          position: relative;
          z-index: 1;
          white-space: nowrap;
          background: inherit;
        }
      }
    }
  }

  .item1 {
    width: px-to-vw(562);
    height: px-to-vw(332);
    padding: px-to-vw(26) px-to-vw(42);
    background-color: #000;

    .title {
      font-size: px-to-vw(40);
      background-image: linear-gradient(90deg, #70d7ff 0%, #7bd9fb 7%, #9adef3 19%, #cbe7e5 35%, #fff0d8 50%, #feecd1 55%, #fde2be 62%, #fcd29f 71%, #fabc73 80%, #f8a03d 90%, #f68100 100%);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #333;
        content: '';
      }

      div:nth-child(1) {
        font-size: px-to-vw(47);
      }

      div:last-child {
        &:before {
          position: absolute;
          top: px-to-vw(18);
          right: px-to-vw(-30);
          display: block;
          width: px-to-vw(27);
          height: px-to-vw(11);
          content: '';

          @include bg('sec2PcDts.webp');
        }
      }
    }
  }

  .item2 {
    width: px-to-vw(355);
    height: px-to-vw(190);
    padding: px-to-vw(35) px-to-vw(13);
    text-align: right;

    .title {
      margin: 0 0 0 auto;
      color: #000;
      font-size: px-to-vw(25);
    }
  }

  .item3 {
    display: flex;
    align-items: center;
    width: px-to-vw(187);
    height: px-to-vw(190);
    padding: px-to-vw(6);
    background-color: #000;

    .title {
      font-size: px-to-vw(29);
      background-image: linear-gradient(90deg, #93cd84 0%, #c3dca3 40%, #eee9bf 80%, #ffefca 100%);
    }
  }

  .item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px-to-vw(195);
    height: px-to-vw(198);
    padding: px-to-vw(14);
    background-color: #000;
    
    .title {
      font-size: px-to-vw(60);
      background-image: linear-gradient(90deg, #93cd84 0%, #9ed28a 12%, #bde29b 33%, #e5f6b2 55%, #e5f4b6 70%, #e5efc2 85%, #e6e8d7 100%);
    }

    .desc {
      color: transparent;
      font-size: px-to-vw(20);
      background-image: linear-gradient(90deg, #93cd84 0%, #c3dca3 40%, #eee9bf 80%, #ffefca 100%);
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  .item5 {
    display: flex;
    align-items: center;
    width: px-to-vw(345);
    height: px-to-vw(198);
    padding: px-to-vw(15);
    
    .title {
      color: #000;
      font-size: px-to-vw(35);
      text-align: center;

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #95d641;
        content: '';
      }
    }
  }

  .item6 {
    display: flex;
    align-items: center;
    width: px-to-vw(562);
    height: px-to-vw(237);
    padding: px-to-vw(60) px-to-vw(20) px-to-vw(20) px-to-vw(250);
    overflow: visible;
    background-image: linear-gradient(82deg, #fef6e5 -2.49%, #f9e7cd 22.62%, #edc290 76.8%, #e09b50 129.65%);

    .img_wrapper {
      top: unset;
      bottom: 0;
      left: px-to-vw(-40);
      width: px-to-vw(397);
      height: px-to-vw(256);
    }

    .title {
      color: #000;
      font-size: px-to-vw(32);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #cde7e6;
        content: '';
      }

      div:first-child {
        font-size: px-to-vw(39);
      }
    }
  }

  .item7 {
    width: px-to-vw(311);
    height: px-to-vw(302);
    padding: px-to-vw(22) px-to-vw(30);

    .title {
      color: #000;
      font-size: px-to-vw(23);
      
      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #99f;
        content: '';
      }
    }
  }

  .item8 {
    display: flex;
    align-items: center;
    width: px-to-vw(233);
    height: px-to-vw(133);
    padding: px-to-vw(20) px-to-vw(20) px-to-vw(20) px-to-vw(120);

    .title {
      font-size: px-to-vw(35);
      background-image: linear-gradient(90deg, #eba9d9 0%, #fdedcf 53%, #f5dbff 100%);
    }
  }

  .item9 {
    display: flex;
    align-items: center;
    width: px-to-vw(233);
    height: px-to-vw(152);
    padding: px-to-vw(20) px-to-vw(20) px-to-vw(20) px-to-vw(112);

    .title {
      font-size: px-to-vw(53);
      background-image: linear-gradient(90deg, #6dbeea .67%, #e6eff2 54.45%, #3a7ce7 103.93%);
    }

    .desc {
      color: transparent;
      font-size: px-to-vw(9);
      background-image: linear-gradient(90deg, #6dbeea .67%, #e6eff2 54.45%, #3a7ce7 103.93%);
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  .item10 {
    display: flex;
    align-items: center;
    width: px-to-vw(562);
    height: px-to-vw(177);
    padding: px-to-vw(30);

    .text_wrapper {
      text-align: center;
    }

    .title {
      color: #000;
      font-size: px-to-vw(31);
      
      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #96def5;
        content: '';
      }
    }
  }

  .item11 {
    width: px-to-vw(403);
    height: px-to-vw(435);
    padding: px-to-vw(30) px-to-vw(22);

    .title {
      color: #fff;
      font-size: px-to-vw(46);
      
      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #4796dd;
        content: '';
      }
    }
  }

  .item12 {
    width: px-to-vw(403);
    height: px-to-vw(300);
    padding: px-to-vw(12) px-to-vw(16);

    .title {
      color: #000;
      font-size: px-to-vw(39);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #f7860a;
        content: '';
      }
    }

    .desc {
      position: absolute;
      bottom: px-to-vw(28);
      left: px-to-vw(20);
      margin-top: px-to-vw(22);
      color: #000;
      font-weight: 700;
      font-size: px-to-vw(16);
      font-family: "HB";

      p {
        width: fit-content;
        margin-top: px-to-vw(3);
        margin-bottom: 0;
        font-size: inherit;
        font-family: inherit;
        background: inherit;
      }
    }

    .tips {
      position: absolute;
      bottom: px-to-vw(7);
      left: px-to-vw(18);
      color: #000;
      font-size: px-to-vw(12);
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
  }

  .type2_img {
    width: 100%;
  }
}

@media (max-width: $mobwidthPx) {
  .sec2 {
    .content {
      padding: px-to-vw-mb(93) 0 px-to-vw-mb(152);
    }

    .items {
      flex-direction: column;
      gap: px-to-vw-mb(30);
      width: px-to-vw-mb(838);
      margin: 0 auto;

      .sec2_tips {
        bottom: px-to-vw-mb(-30);
        font-size: px-to-vw-mb(16);
      }
    }

    .sec2_col {
      gap: px-to-vw-mb(24);
    }

    .item {
      border-radius: px-to-vw-mb(36);

      &.xxx {
        grid-area: 2 / 1 / 3 / 3;
        padding: px-to-vw-mb(35);

        .title {
          font-size: px-to-vw-mb(49);

          div:after {
            height: px-to-vw-mb(10);
          }

          div:nth-child(2) {
            font-size: px-to-vw-mb(41);
          }

          div:last-child {
            &:before {
              top: px-to-vw-mb(20);
              right: px-to-vw-mb(-40);
              width: px-to-vw-mb(30);
              height: px-to-vw-mb(13);
            }
          }
        }
      }
    }

    .item1 {
      width: px-to-vw-mb(839);
      height: px-to-vw-mb(496);
      padding: px-to-vw-mb(40) px-to-vw-mb(60);

      .title {
        font-size: px-to-vw-mb(60);

        div:nth-child(1) {
          font-size: px-to-vw-mb(70);
        }

        div:after {
          height: px-to-vw-mb(13);
        }

        div:last-child {
          &:before {
            top: px-to-vw-mb(24);
            right: px-to-vw-mb(-40);
            width: px-to-vw-mb(38);
            height: px-to-vw-mb(15);
          }
        }
      }
    }

    .item2 {
      width: px-to-vw-mb(530);
      height: px-to-vw-mb(283);
      padding: px-to-vw-mb(52) px-to-vw-mb(19);

      .title {
        font-size: px-to-vw-mb(37);
      }
    }

    .item3 {
      width: px-to-vw-mb(279);
      height: px-to-vw-mb(283);
      padding: px-to-vw-mb(12);

      .title {
        font-size: px-to-vw-mb(43);
      }
    }

    .item4 {
      width: px-to-vw-mb(291);
      height: px-to-vw-mb(295);
      padding: px-to-vw-mb(14) px-to-vw-mb(27);

      .title {
        font-size: px-to-vw-mb(90);
      }

      .desc {
        font-size: px-to-vw-mb(30);
      }
    }

    .item5 {
      width: px-to-vw-mb(515);
      height: px-to-vw-mb(295);
      padding: px-to-vw-mb(23);

      .title {
        font-size: px-to-vw-mb(52);
        
        div:after {
          height: px-to-vw-mb(13);
        }
      }
    }

    .item6 {
      width: px-to-vw-mb(839);
      height: px-to-vw-mb(352);
      padding: px-to-vw-mb(80) px-to-vw-mb(0) px-to-vw-mb(20) px-to-vw-mb(400);

      .img_wrapper {
        left: px-to-vw-mb(-40);
        width: px-to-vw-mb(588);
        height: px-to-vw-mb(381);
      }

      .title {
        font-size: px-to-vw-mb(44);
        
        div:after {
          height: px-to-vw-mb(13);
        }

        div:first-child {
          font-size: px-to-vw-mb(58);
        }
      }
    }

    .item7 {
      width: px-to-vw-mb(464);
      height: px-to-vw-mb(450);
      padding: px-to-vw-mb(34) px-to-vw-mb(43);

      .title {
        font-size: px-to-vw-mb(35);

        div:after {
          height: px-to-vw-mb(13);
        }
      }
    }

    .item8 {
      width: px-to-vw-mb(347);
      height: px-to-vw-mb(198);
      padding: px-to-vw-mb(20) px-to-vw-mb(20) px-to-vw-mb(20) px-to-vw-mb(185); 

      .title {
        font-size: px-to-vw-mb(52);
      }
    }

    .item9 {
      width: px-to-vw-mb(347);
      height: px-to-vw-mb(225);
      padding: px-to-vw-mb(20) px-to-vw-mb(20) px-to-vw-mb(20) px-to-vw-mb(150); 

      .title {
        font-size: px-to-vw-mb(79);
      }

      .desc {
        font-size: px-to-vw-mb(14);
      }
    }

    .item10 {
      width: px-to-vw-mb(837);
      height: px-to-vw-mb(263);
      padding: px-to-vw-mb(44); 

      .title {
        font-size: px-to-vw-mb(46);

        div:after {
          height: px-to-vw-mb(13);
        }
      }
    }

    .item11 {
      width: px-to-vw-mb(838);
      height: px-to-vw-mb(650);
      padding: px-to-vw-mb(34); 

      .title {
        font-size: px-to-vw-mb(95);

        div:after {
          height: px-to-vw-mb(13);
        }
      }
    }

    .item12 {
      width: px-to-vw-mb(838);
      height: px-to-vw-mb(447);
      padding: px-to-vw-mb(28) px-to-vw-mb(23); 

      .title {
        font-size: px-to-vw-mb(59);

        div:after {
          height: px-to-vw-mb(13);
        }
      }

      .desc {
        position: unset;
        margin-top: px-to-vw-mb(30);
        font-size: px-to-vw-mb(33);
      }

      .tips {
        bottom: px-to-vw-mb(7);
        left: px-to-vw-mb(30);
        font-size: px-to-vw-mb(26);
      }
    }
  }
}