@import '../vars';

.spark20pro5g .sec17 {
  padding: px-to-vw(200) 0 px-to-vw(300);

  .sec17_swiper {
    position: relative;

    .swiper-slide {
      .left {
        clip-path: inset(1px);
      }
      
      &.swiper-slide-active {
        .left {
          clip-path: inset(0);
        }
      }

      &:nth-child(3) {
        .left {
          background-image: radial-gradient(circle, #06649799, #000);
        }
      }
    }
  }

  .hios_item {
    display: flex;
    gap: px-to-vw(40);
    align-items: center;
    justify-content: center;
    height: px-to-vw(678);
  }

  .left {
    position: relative;
    width: px-to-vw(700);
    height: 100%;
    overflow: hidden;
    background-color: #1d1d1d;
    transform: skewX(-20deg);

    .img_wrap {
      position: absolute;
      bottom: 0;
      font-size: 0;
      transform: skewX(20deg);
    }

    .video_wrap {
      width: 100%;
      height: 100%;
      transform: skewX(20deg);

      .lazyload-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
  
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }

  .right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: px-to-vw(700);
    height: 100%;
    padding: px-to-vw(100);
    transform: skewX(-20deg);

    .text_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(275.16deg, rgba(28, 38, 31, .6) 21.2%, rgba(3, 24, 9, .6) 106.48%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text_wrap {
      transform: skewX(20deg);
    }
  }

  .button_wrap {
    position: absolute;
    bottom: 0;
    left: px-to-vw(1580);
    z-index: 1;
    display: flex;
    gap: px-to-vw(16);
    align-items: center;
  }

  .swiper_btn {
    width: px-to-vw(20);
    height: px-to-vw(20);
    background-color: #27372f;
    transform: skewX(-20deg);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &.active {
      width: px-to-vw(23);
      height: px-to-vw(23);
      background-color: #c91708;
    }
  }
}

@media (max-width: $mobwidthPx) {
  .spark20pro5g .sec17 {
    margin-top: px-to-vw-mb(-100);
    padding: px-to-vw-mb(300) 0 px-to-vw-mb(480);

    .swiper {
      overflow: visible;
    }

    .hios_item {
      flex-direction: column;
      gap: px-to-vw-mb(30);
      width: px-to-vw-mb(780);
      height: auto;
      margin: 0 auto;
    }

    .left {
      width: 100%;
      height: auto;
      transform: skewY(20deg);
      aspect-ratio: 1 / 1;

      .img_wrap {
        transform: skewY(-20deg);
      }

      .video_wrap {
        transform: skewY(-20deg);
      }
    }

    .right {
      width: 100%;
      padding: px-to-vw-mb(116);
      transform: skewY(20deg);
      aspect-ratio: 1 / 1;

      .text_wrap {
        transform: skewY(-20deg);

        .desc_18 {
          margin-top: px-to-vw-mb(80);
          font-size: px-to-vw-mb(30);
        }
      }
    }

    .button_wrap {
      bottom: px-to-vw-mb(-190);
      left: 50%;
      gap: px-to-vw-mb(18);
      transform: translateX(-50%);
    }

    .swiper_btn {
      width: px-to-vw-mb(30);
      height: px-to-vw-mb(30);

      &.active {
        width: px-to-vw-mb(35);
        height: px-to-vw-mb(35);
      }
    }
  }
}