@import '../vars';

.sec14 {
  padding: px-to-vw(400) 0 px-to-vw(120);

  .hios_title {
    max-width: 80%;
    margin: 0 auto;
    font-weight: 700;
    font-size: px-to-vw(96);
    font-family: 'HB';
    text-align: center; 
  }

  .hios {
    width: px-to-vw(936);
    height: px-to-vw(1326);
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .box_container {
    margin-top: px-to-vw(-200);
  }

  .tips {
    max-width: px-to-vw(1440);
    margin: px-to-vw(305) auto 0;
    color: #00000080;
    font-size: px-to-vw(21);
    text-align: center;
  }
}

@media (max-width: $mobwidthPx) {
  .sec14 {
    padding: px-to-vw-mb(400) 0 px-to-vw-mb(60);

    .hios_title {
      max-width: 90%;
      font-size: px-to-vw-mb(114);
    }

    .hios {
      width: px-to-vw-mb(936);
      height: px-to-vw-mb(1326);
      margin-top: px-to-vw-mb(60);
    }

    .box_container {
      margin-top: px-to-vw-mb(-50);
    }

    .tips {
      max-width: px-to-vw-mb(950);
      margin: px-to-vw-mb(330) auto 0;
      font-size: px-to-vw-mb(21);
    }
  }
}