@import '../vars';

.ear571h .sec2 {
  position: relative;
  z-index: 2;
  height: px-to-vw(776);
  padding-top: px-to-vw(112);

  .feature_items {
    display: flex;
    gap: px-to-vw(15);
    justify-content: center;
    width: var(--content-width);
    margin: 0 auto;
  }

  .feature_item {
    flex: 1;
  }

  .pdp_desc {
    margin-top: px-to-vw(40);
  }
}