@import '../vars';

.ear571h .sec2 {
  position: relative;
  z-index: 2;
  padding-top: px-to-vw(112);

  // &.active {
  //   .feature_item {
  //     transform: translate(0);
  //     opacity: 1;
  //     transition: all .5s;
  //   }
  // }

  .feature_items {
    display: flex;
    gap: px-to-vw(15);
    justify-content: center;
    width: var(--content-width);
    margin: 0 auto;
    overflow: hidden;
  }

  .feature_item {
    flex: 1;
    padding: px-to-vw(24) 0;
    border: 1px solid #66666690;
    transform: translateY(200px);
    opacity: 0;

    // transition: all .5s;

    // &:nth-child(2) {
    //   transition-delay: .2s;
    // }

    // &:nth-child(3) {
    //   transition-delay: .4s;
    // }
  }

  .text_wrap {
    text-align: center;
  }

  .pdp_desc {
    margin-top: px-to-vw(20);
    color: #999;
  }

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px-to-vw(53);
    height: px-to-vw(53);
    margin: px-to-vw(24) auto 0;
    overflow: hidden;
    font-size: px-to-vw(37);
    line-height: 1;
    background-color: #68705a;
    border-radius: 50%;
  }

  video {
    width: 100%;
  }
}