@import '../vars';

.tab30pro .sec3 {
  .sec3_wrap {
    padding: px-to-vw(200) 0;

    @include bg("pc/sec3_bg_pc.webp", false);
  }

  .sec3_items {
    display: flex;
    flex-direction: column;
    gap: px-to-vw(10);
    width: px-to-vw(1200);
    margin: 0 auto;
  }

  .item_wrap {
    display: flex;
    gap: px-to-vw(10);
  }

  .item_wrap1 {
    width: px-to-vw(602);
  }

  .item_wrap2 {
    width: px-to-vw(588);
  }

  .item_wrap3 {
    height: px-to-vw(237);
  }

  .item_wrap1,
  .item_wrap2 {
    display: flex;
    flex-direction: column;
    gap: px-to-vw(10);
  }

  .sec3_item {
    position: relative;
    flex-shrink: 0;
    padding: px-to-vw(36) px-to-vw(40);
    overflow: hidden;
    background-color: #f1f1f3;
    border-radius: px-to-vw(20);

    &:hover {
      .img_wrap {
        transform: scale(1.1);
      }
    }
  }

  .text_wrap {
    position: relative;
    z-index: 1;
  }

  .title {
    font-size: px-to-vw(37.5);
    font-family: "Medium";
  }

  .desc {
    color: #2e2e2e;
    font-size: px-to-vw(20.8);
    font-family: "Regular";
    line-height: 1.6;
    opacity: .8;
  }

  .img_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    transition: all .5s;

    img {
      width: 100%;
    }
  }

  .item1 {
    height: px-to-vw(548);

    .text_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .item2 {
    height: px-to-vw(355);

    .text_wrap {
      max-width: px-to-vw(230);
    }
  }

  .item3 {
    flex: 1;
    height: px-to-vw(425);
  }

  .item4 {
    height: px-to-vw(225);

    .text_wrap {
      max-width: px-to-vw(215);
    }
  }

  .item5 {
    height: px-to-vw(243);

    .text_wrap {
      max-width: px-to-vw(220);
    }
  }

  .item6 {
    width: px-to-vw(372);

    .desc2 {
      position: absolute;
      top: px-to-vw(100);
    }
  }

  .item7 {
    flex: 1;

    .text_wrap {
      max-width: px-to-vw(310);
    }
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec3 {
    .sec3_wrap {
      padding: px-to-vw-mb(150) 0;

      @include bg("mb/sec3_bg_mb.webp", false);
    }

    .sec3_items {
      gap: px-to-vw-mb(10);
      width: var(--content-width);

      &>.item_wrap {
        &:nth-child(2) {
          height: px-to-vw-mb(568);
        }
      }
    }

    .item_wrap {
      gap: px-to-vw-mb(10);
    }

    .item_wrap1 {
      flex: 1;
    }

    .item_wrap2 {
      flex: 1;
    }

    .sec3_item {
      padding: px-to-vw-mb(34) px-to-vw-mb(24);
      border-radius: px-to-vw-mb(20);
    }

    .title {
      font-size: px-to-vw-mb(29.1);
    }

    .desc {
      margin-top: px-to-vw-mb(10);
      font-size: px-to-vw-mb(20.8);
      line-height: 1.4;

      &:nth-child(1) {
        margin-top: 0;
        margin-bottom: px-to-vw-mb(10);
      }
    }

    .item1 {
      width: 100%;
      height: px-to-vw-mb(410);

      .text_wrap {
        max-width: px-to-vw-mb(250);
      }
    }

    .item2 {
      height: 100%;

      .text_wrap {
        max-width: unset;
      }
    }

    .item3 {
      height: px-to-vw-mb(437);
    }

    .item4 {
      width: 100%;
      height: px-to-vw-mb(197);

      .text_wrap {
        max-width: px-to-vw-mb(230);
      }
    }

    .item5 {
      flex: 1;

      .text_wrap {
        max-width: unset;
      }
    }

    .item6 {
      width: 100%;
      height: px-to-vw-mb(198);
      padding: px-to-vw-mb(18) px-to-vw-mb(34);

      .desc {
        font-size: px-to-vw-mb(19);
      }

      .desc2 {
        top: px-to-vw-mb(90);
      }
    }

    .item7 {
      height: px-to-vw-mb(201);

      .text_wrap {
        max-width: px-to-vw-mb(250);
      }
    }
  }
}