@import '../vars';

.s25ultra .sec18 {
  .sec18_wrap {
    padding: 0 0 px-to-vw(100);
  }

  .text_wrap {
    max-width: var(--content-width);
    margin: 0 auto;
    text-align: center;
  }

  .pic_wrap {
    position: relative;
    width: px-to-vw(1164);
    height: px-to-vw(550);
    margin: px-to-vw(40) auto 0;

    .img_wrap {
      position: relative;
    }
  }

  .video_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 98%;
    height: 92%;
    overflow: hidden;
    border-radius: px-to-vw(20);
    transform: translate(-50%, -51%);

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@media (max-width: $mobwidthPx) {}