@import '../vars';

.s25ultra .sec9 {
  .sec9_wrap {
    position: relative;

    // height: px-to-vw(1200);
    margin-top: px-to-vw(-10);
  }

  .sec9_bg {
    width: 100%;
    height: px-to-vw(961);
  }

  .text_wrap {
    position: absolute;
    top: px-to-vw(80);
    right: 0;
    left: 0;
    max-width: var(--content-width);
    margin: 0 auto;
    text-align: right;
  }

  .pic_wrap {
    position: absolute;
    top: px-to-vw(183);
    left: px-to-vw(415);
  }

  .stone1_wrap {
    position: absolute;
    bottom: 0;
    width: px-to-vw(691);
  }

  .phone_wrap {
    width: px-to-vw(880);
  }

  .stone2_wrap {
    position: absolute;
    bottom: px-to-vw(-5);
    left: px-to-vw(472);
    width: px-to-vw(211);
  }

  .stone3_wrap {
    position: absolute;
    bottom: px-to-vw(-152);
    left: px-to-vw(-135);
    width: px-to-vw(1289);
  }

  .data_wrap {
    display: flex;
    gap: px-to-vw(72);
    max-width: var(--content-width);
    margin: px-to-vw(64) auto 0;

    .title {
      font-size: px-to-vw(50);
      font-family: "Medium";

      .unit {
        font-size: px-to-vw(25);
        font-family: "Bold";
      }
    }

    .desc {
      font-size: px-to-vw(16);
      font-family: "Regular";
      opacity: .8;
    }
  }
}

@media (max-width: $mobwidthPx) {}