@import '../vars';

.ear571h .sec1 {
  overflow: hidden;

  .sec1_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .voice_icon {
    position: absolute;
    top: 2vw;
    right: 2vw;
    z-index: 1;
    width: px-to-vw(40);
    height: px-to-vw(40);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }
}