@import '../vars';

.s25ultra .sec4 {
  .sec4_wrap {
    position: relative;
  }

  .spec_part {
    position: absolute;
    z-index: 1;
    width: 100%;

    @include bg("pc/sec4_bg_pc.png");

    background-size: 100% 100%;
  }

  .content_wrap {
    position: relative;
    // height: 100vh;
    height: px-to-vw(1000);

    @include bg("pc/sec4_bg2_pc.png");

    background-size: 100% 100%;
  }

  .part {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: px-to-vw(60) 0;
  }

  .phone_wrap {
    position: absolute;
    top: px-to-vw(360);
    left: px-to-vw(45);
    width: px-to-vw(1802);
  }

  .phone_mask_wrap {
    position: absolute;
    top: px-to-vw(300);
    left: px-to-vw(240);
    width: px-to-vw(1350);
    opacity: 0;
  }

  .data_wrap {
    position: absolute;
    top: px-to-vw(640);
    display: flex;
    flex-wrap: wrap;
    gap: px-to-vw(50);
    padding: px-to-vw(40) px-to-vw(90);
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    opacity: 0;
    backdrop-filter: blur(10px);
  }

  .data {
    display: flex;
    gap: px-to-vw(16);
    align-items: center;
    width: calc((100% - (px-to-vw(50) * 2)) / 3);

    img {
      width: px-to-vw(36);
      height: fit-content;
    }

    .title {
      font-size: px-to-vw(33);
      font-family: "Medium";
    }

    .subtitle {
      font-size: px-to-vw(16);
    }
  }

  .part2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }

  .bottom_wrap {
    position: absolute;
    top: px-to-vw(650);
    left: 0;
    max-width: px-to-vw(600);
  }

  .corning_wrap {
    width: px-to-vw(116);
  }

  .warranty_wrap {
    position: absolute;
    top: px-to-vw(90);
    right: 0;
    width: px-to-vw(249);
  }
}

@media (max-width: $mobwidthPx) {}