@import '../index';

.sec13.pop8 {
  // padding-top: px-to-vw(328);

  &.false {
    .sec13_left,.sec13_right,.icon1,.icon2,.icon3 {
      background-image: unset !important;
    }
  }

  .title_box {
    .icon3 {
      width: px-to-vw(179);
      height: px-to-vw(179);

      @include bg('sec13PcIcon3.webp');
    }
  }

  .sec13_content {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: px-to-vw(150);

    .sec13_left {
      width: px-to-vw(927);
      height: px-to-vw(738);
      padding-top: px-to-vw(180);
      padding-left: px-to-vw(150);

      @include bg('sec13PcLeft.webp');
    }

    .sec13_right {
      width: px-to-vw(1053);
      height: px-to-vw(776);
      margin-left: -20vw;

      @include bg('sec13PcRight.webp');
    }

    .text_box {
      width: 33vw;

      .title {
        padding-left: px-to-vw(100);
      }

      .desc_18 {
        padding-left: px-to-vw(100);
      }
    }

    .params {
      flex-direction: column;
      gap: px-to-vw(22);
      margin-top: px-to-vw(60);

      .big_text {
        color: rgba(250, 255, 0, 1);
      }
    }
  }

  .tips {
    padding-bottom: px-to-vw(145);
    padding-left: px-to-vw(1383);
  }
}

@media (width < $mobwidthPx) {
  .sec13.pop8 {
    padding-top: px-to-vw-mb(350);
    padding-bottom: px-to-vw-mb(400);

    .title_box {
      padding-left: px-to-vw-mb(137);

      .title {
        font-size: px-to-vw-mb(85) !important;
      }

      .icon1 {
        width: px-to-vw-mb(156);
        height: px-to-vw-mb(156);
      }
      
      .icon2 {
        width: px-to-vw-mb(177);
        height: px-to-vw-mb(130);
      }
      
      .icon3 {
        width: px-to-vw-mb(134);
        height: px-to-vw-mb(134);
      }
    }

    .sec13_content {
      flex-direction: column-reverse;
      margin-top: px-to-vw-mb(140);

      .sec13_left {
        position: relative;
        width: px-to-vw-mb(1080);
        height: px-to-vw-mb(766);
        margin-top: px-to-vw-mb(-300);
        padding-top: px-to-vw-mb(280);
        padding-left: px-to-vw-mb(200);

        @include bg('sec13MobF2.webp');
      }

      .sec13_right {
        z-index: 1;
        width: px-to-vw-mb(1080);
        height: px-to-vw-mb(880);

        @include bg('sec13MobF1.webp');
      }

      .text_box {
        width: px-to-vw-mb(570);

        .title {
          font-size: px-to-vw-mb(48);
        }

        .desc_18 {
          padding-left: 0;
        }
      }

      .params {
        position: absolute;
        right: px-to-vw-mb(60);
        bottom: px-to-vw-mb(-200);
        left: px-to-vw-mb(60);
        flex-direction: row;
        gap: px-to-vw-mb(125);

        .big_text {
          font-size: px-to-vw-mb(50);
        }

        .small_text {
          font-size: px-to-vw-mb(32);
        }
      }
    }
  }
}