@import '../vars';

.sec2 {
  .content {
    position: relative;
    padding: px-to-vw(240) 0;
    background-color: #fff;
  }

  .items {
    position: relative;
    display: flex;
    gap: px-to-vw(25);
    justify-content: center;
  }

  .sec2_col {
    display: flex;
    flex-direction: column;
    gap: px-to-vw(20);
    justify-content: space-between;
  }

  .sec2_row {
    display: flex;
    gap: px-to-vw(20);
    justify-content: space-between;
  }

  .item {
    position: relative;
    overflow: hidden;
    border-radius: px-to-vw(36);

    .img_wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text_wrapper {
      position: relative;
    }

    .title {
      width: fit-content;
      color: transparent;
      line-height: 1;
      -webkit-background-clip: text;
      background-clip: text;
      
      div {
        position: relative;
        width: inherit;
        background: inherit;

        span {
          position: relative;
          z-index: 1;
          background: inherit;
        }
      }
    }
  }

  .item1 {
    width: px-to-vw(498);
    height: px-to-vw(294);
    padding: px-to-vw(28) px-to-vw(68);
    background-color: #000;

    .title {
      font-size: px-to-vw(36);
      background-image: linear-gradient(90deg, #ffd67c 0%, #ffd987 10%, #ffe1a6 27%, #fff0d8 50%, #feecd1 55%, #fde2be 62%, #fcd29f 70%, #fabc73 80%, #f8a03d 90%, #f68100 100%);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #333;
        content: '';
      }

      div:nth-child(1) {
        font-size: px-to-vw(42);
      }

      div:last-child {
        &:before {
          position: absolute;
          top: px-to-vw(24);
          right: px-to-vw(-24);
          display: block;
          width: px-to-vw(20);
          height: px-to-vw(9);
          content: '';

          @include bg('sec1PcDts.png');
        }
      }
    }
  }

  .item2 {
    width: px-to-vw(314);
    height: px-to-vw(168);
    padding: px-to-vw(28) px-to-vw(22);

    .title {
      color: #000;
      font-size: px-to-vw(22);
    }
  }

  .item3 {
    width: px-to-vw(168);
    height: px-to-vw(168);
  }

  .item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px-to-vw(333);
    height: px-to-vw(173);
    background-color: #000;
    
    .title {
      font-size: px-to-vw(45);
      text-align: center;
      background-image: linear-gradient(90deg, #93cd84 0%, #9ed28a 12%, #bde29b 33%, #e5f6b2 55%, #e5f4b6 70%, #e5efc2 85%, #e6e8d7 100%);
    }
  }

  .item5 {
    width: px-to-vw(140);
    height: px-to-vw(173);
    padding: px-to-vw(26) px-to-vw(18);
    
    .title {
      color: #000;
      font-size: px-to-vw(17);
      text-align: center;
    }
  }

  .item6 {
    display: flex;
    align-items: center;
    width: px-to-vw(498);
    height: px-to-vw(156);
    padding: px-to-vw(20) px-to-vw(20) px-to-vw(20) px-to-vw(231);

    .title {
      color: #fff;
      font-size: px-to-vw(26);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #87d7ad;
        content: '';
      }
    }
  }

  .item7 {
    width: px-to-vw(587);
    height: px-to-vw(517);
    padding: px-to-vw(28) px-to-vw(50);

    .title {
      color: #000;
      font-size: px-to-vw(44);
      
      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #d2c8e6;
        content: '';
      }

      div:nth-child(1) {
        font-size: px-to-vw(60);
      }
    }
  }

  .item8 {
    display: flex;
    align-items: center;
    width: px-to-vw(325);
    height: px-to-vw(138);
    padding: px-to-vw(20) px-to-vw(20) px-to-vw(20) px-to-vw(140);

    .title {
      font-size: px-to-vw(29);
      background-image: linear-gradient(90deg, #eba9d9 0%, #fdedcf 53%, #f5dbff 100%);
    }
  }

  .item9 {
    display: flex;
    align-items: center;
    width: px-to-vw(243);
    height: px-to-vw(138);
    padding: px-to-vw(20) px-to-vw(20) px-to-vw(20) px-to-vw(112);

    .title {
      font-size: px-to-vw(24);
      background-image: linear-gradient(90.02deg, #b3d3ff -.02%, #fce3da 51.97%, #597ae6 96.13%);
    }
  }

  .item10 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px-to-vw(325);
    height: px-to-vw(158);
    padding: px-to-vw(20) px-to-vw(195) px-to-vw(20) px-to-vw(20);

    .title {
      font-size: px-to-vw(89);
      background-image: linear-gradient(90deg, #93cd84 0%, #9ed28a 12%, #bde29b 33%, #e5f6b2 55%, #e5f4b6 70%, #e5efc2 85%, #e6e8d7 100%);
    }
  }

  .item11 {
    display: flex;
    align-items: center;
    width: px-to-vw(243);
    height: px-to-vw(158);
    padding: px-to-vw(20) px-to-vw(20) px-to-vw(20) px-to-vw(108);

    .title {
      font-size: px-to-vw(54);
      background-image: linear-gradient(90deg, #6bbde9 0%, #79c2ea 3%, #a0d2ec 14%, #bedfef 24%, #d4e7f0 34%, #e1edf1 43%, #e6eff2 52%, #e2ecf1 60%, #d6e4f0 67%, #c3d8ef 74%, #a9c6ed 81%, #86afeb 88%, #5d93e8 95%, #387be6 100%);
    }
  }

  .item12 {
    width: px-to-vw(465);
    height: px-to-vw(485);
    padding: px-to-vw(28) px-to-vw(36);

    .title {
      font-size: px-to-vw(48);
      background-image: linear-gradient(90deg, #ffd67c 0%, #ffd987 10%, #ffe1a6 27%, #fff0d8 50%, #feecd1 55%, #fde2be 62%, #fcd29f 70%, #fabc73 80%, #f8a03d 90%, #f68100 100%);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #4796dd;
        content: '';
      }
    }
  }

  .item13 {
    width: px-to-vw(465);
    height: px-to-vw(346);
    padding: px-to-vw(25) px-to-vw(23);

    .desc {
      margin-top: px-to-vw(22);
      color: transparent;
      font-weight: 700;
      font-size: px-to-vw(18);
      font-family: "HB";
      background-image: linear-gradient(90deg, #6cbde9 -.03%, #fff 51.01%, #7aa7eb 97.88%);
      -webkit-background-clip: text;
      background-clip: text;

      p {
        width: fit-content;
        margin-top: px-to-vw(3);
        background: inherit;
      }

      .data1 {
        background-image: linear-gradient(90deg, #6cbde9 -.03%, #fff 51.01%, #7aa7eb 97.88%);
      }

      .data2 {
        background-image: linear-gradient(89.87deg, #f6d0d4 -1.1%, #fcead8 51.48%, #f8e2ef 99.86%);
      }
    }

    .title {
      font-size: px-to-vw(45);
      background-image: linear-gradient(90deg, #0261ab 0%, #a2ffff 99%);

      div:after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: px-to-vw(10);
        background-color: #333;
        content: '';
      }
    }

    .tips {
      position: absolute;
      bottom: px-to-vw(7);
      left: px-to-vw(24);
      color: #adadad;
      font-size: px-to-vw(15);
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
  }
}

@media (max-width: $mobwidthPx) {
  .sec2 {
    .content {
      padding: px-to-vw-mb(93) 0 px-to-vw-mb(152);
    }

    .items {
      grid-template-rows: px-to-vw-mb(422) px-to-vw-mb(486) px-to-vw-mb(257) px-to-vw-mb(257) px-to-vw-mb(164) px-to-vw-mb(156);
      grid-template-columns: px-to-vw-mb(316) px-to-vw-mb(134) px-to-vw-mb(466);
      gap: px-to-vw-mb(28);
    }

    .item {
      border-radius: px-to-vw-mb(36);

      &:nth-child(1) {
        grid-area: 2 / 1 / 3 / 3;
        padding: px-to-vw-mb(35);

        .title {
          font-size: px-to-vw-mb(49);

          div:after {
            height: px-to-vw-mb(10);
          }

          div:nth-child(2) {
            font-size: px-to-vw-mb(41);
          }

          div:last-child {
            &:before {
              top: px-to-vw-mb(20);
              right: px-to-vw-mb(-40);
              width: px-to-vw-mb(30);
              height: px-to-vw-mb(13);
            }
          }
        }
      }

      &:nth-child(2) {
        grid-area: 5 / 1 / 6 / 2;

        .title {
          font-size: px-to-vw-mb(52);

          div:nth-child(2) {
            font-size: px-to-vw-mb(47);
          }
        }
      }

      &:nth-child(3) {
        grid-area: 5 / 2 / 6 / 3;
        padding: px-to-vw-mb(24) px-to-vw-mb(10);

        .title {
          font-size: px-to-vw-mb(17);
        }
      }

      &:nth-child(4) {
        grid-area: 6 / 1 / 7 / 3;
        padding: px-to-vw-mb(45) px-to-vw-mb(10) px-to-vw-mb(10) px-to-vw-mb(220);

        .mah {
          top: px-to-vw-mb(50);
          left: px-to-vw-mb(184);
          font-size: px-to-vw-mb(12);
        }

        .title {
          font-size: px-to-vw-mb(33);

          div:after {
            height: px-to-vw-mb(10);
          }
        }
      }

      &:nth-child(5) {
        display: flex;
        grid-area: 1 / 1 / 2 / 4;
        align-items: center;
        padding: px-to-vw-mb(30) px-to-vw-mb(440) px-to-vw-mb(30) px-to-vw-mb(60);

        .title {
          font-size: px-to-vw-mb(72);

          div:after {
            height: px-to-vw-mb(10);
          }
        }

        .desc {
          margin-top: px-to-vw-mb(16);
          font-size: px-to-vw-mb(54);
        }
      }

      &:nth-child(6) {
        grid-area: 3 / 1 / 5 / 3;
        padding: px-to-vw-mb(36);

        .title {
          font-size: px-to-vw-mb(59);

          div:after {
            height: px-to-vw-mb(10);
          }
        }
      }

      &:nth-child(7) {
        grid-area: 3 / 3 / 4 / 4;
        padding: px-to-vw-mb(24);

        .title {
          font-size: px-to-vw-mb(28);
        }
      }

      &:nth-child(8) {
        grid-area: 4 / 3 / 5 / 4;

        .title {
          font-size: px-to-vw-mb(94);
        }

        .desc {
          font-size: px-to-vw-mb(19);
        }
      }

      &:nth-child(9) {
        grid-area: 2 / 3 / 3 / 4;
        padding: px-to-vw-mb(36);

        .title {
          font-size: px-to-vw-mb(52);

          div:after {
            height: px-to-vw-mb(10);
          }
        }
      }

      &:nth-child(10) {
        grid-area: 5 / 3 / 7 / 4;
        padding: px-to-vw-mb(36);

        .desc {
          margin-top: px-to-vw-mb(12);
          font-size: px-to-vw-mb(15);
        }

        .title {
          font-size: px-to-vw-mb(43);

          div:after {
            height: px-to-vw-mb(10);
          }

          &>span {
            top: px-to-vw-mb(30);
            font-size: px-to-vw-mb(13);

            &.data1 {
              left: px-to-vw-mb(96);
            }
          }
        }

        .tips {
          bottom: px-to-vw-mb(23);
          left: px-to-vw-mb(36);
          font-size: px-to-vw-mb(12);
        }
      }
    }
  }
}