:root {
  --width: 2560;
  --height: 1440;
}

.aa {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 64px;

  .num {
    color: #fff;
  }
}

.ma {
  color: #fff;
  font-size: 63px;
}

.product-toolbar {
  display: none !important;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #000;
}

@mixin c-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin c-width($width:2560) {
  width: calc(#{$width} / var(--width) * 100vw);
}

@mixin c-height($height) {
  height: calc(#{$height} / var(--height) * 100vh);
}

@mixin c-fontsize($fontSize) {
  font-size: calc(#{$fontSize} * (1 / 25.6) * 1vw);
}

@mixin c-bg($url) {
  background-image: url('../../assets/img/#{$url}');
  background-repeat: no-repeat;
  background-size: contain;
}

@function px-to-vw($value) {

  @return #{$value * calc(1 / 25.6)}vw;
}

@function px-to-vw-mb($value) {

  @return #{$value * calc(1 / 10.8)}vw;
}

@function px-to-vh($value) {

  @return #{$value * calc(1 / 14.4)}vh;
}

section {
  box-sizing: border-box;
  width: 100%;
  margin-top: -1px;
  overflow: hidden;
  background-color: #000;
  background-position: top center;
}

@font-face {
  font-family: 'HurmeGeometricSans';
  src: url('../../assets/font/HurmeGeometricSans_No3_4_Regular.otf');
}

@font-face {
  font-family: 'Korataki';
  src: url('../../assets/font/korataki-rg.otf');
}

.Kfont {
  font-family: 'Korataki';
}

.Hfont {
  font-family: 'HurmeGeometricSans';
}

.title {
  font-size: px-to-vw(60) !important;
  text-transform: uppercase;
}

.sub {
  font-weight: 700;
}

.groupTop,.groupB,.groupC,.groupD {
  position: relative;
}

// .groupD {
//   height: px-to-vw(2982);
// }

.sec1 {
  position: relative;
  height: px-to-vw(1246);

  .name {
    position: absolute;
    top: px-to-vw(435);
    left: px-to-vw(218);
    width: px-to-vw(752);
    height: px-to-vw(136);

    @include c-bg('section01/f1.png');
  }

  .product {
    position: absolute;
    top: px-to-vw(33);
    left: px-to-vw(684);
    width: px-to-vw(1135);
    height: px-to-vw(1070);

    @include c-bg('section01/f2.png');
  }

  .slogan {
    position: absolute;
    top: px-to-vw((419));
    left: px-to-vw(1773);
    width: px-to-vw(467);
    height: px-to-vw(168);

    @include c-bg('section01/f3.png');
  }

  .line {
    width: 2px;
    height: 16px;
    margin: 0 px-to-vw(10) 0 px-to-vw(30);
    background: #fff;
    transform: skewX(-10deg);
  }

  .title_wrap {
    position: absolute;
    top: px-to-vw(908);
    left: px-to-vw(1412);
    display: flex;
    align-items: center;
    color: #fff;

    @include c-fontsize(18.79);
  }
}

.sec2 {
  position: absolute;
  top: px-to-vw(1246);
  z-index: 2;
  height: px-to-vw(1174);
  padding-right: px-to-vw(218);
  padding-left: px-to-vw(240);

  @include c-bg('add/top.png');

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: px-to-vw(246);
  }

  .box {
    position: relative;
    width: px-to-vw(976);
    height: px-to-vw(233);
    margin-top: px-to-vw(70);
    transition: all .3s ease-in-out;
  }

  .box1 {

    @include c-bg("section02/fa.png");
  }

  .box2 {

    @include c-bg("section02/fe.png");
  }

  .box3 {

    @include c-bg("section02/fd.png");
  }

  .box4 {

    @include c-bg("section02/fb.png");
  }

  .box5 {

    @include c-bg("section02/fc.png");
  }

  .box:hover {
    transform: scale(1.1);
  }

  .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: px-to-vw(50);
    z-index: 3;
    height: fit-content;
    margin: auto;
    color: #fff;
    font-weight: 400;

    @include c-fontsize(45);
  }
}

.sec3 {
  position: relative;
  z-index: 3;
  padding-bottom: px-to-vw(212);

  .box {
    position: relative;
    width: px-to-vw(1854);
    height: px-to-vw(1039);
    margin: 0 auto;

    @include c-bg('section03/f1.png');
  }

  .play {
    width: px-to-vw(104);
    height: px-to-vw(119);

    @include c-bg('section03/f2.png');

    @include c-position;
  }
}

.groupA,.groupB {
  position: relative;
  height: px-to-vw(1885);
}

.sec4 {
  position: relative;
  height: px-to-vw(2018);
  background: #000;
  background-position: center bottom;

  @include c-bg('add/bg.png');

  .color_title {
    position: absolute;
    top: px-to-vw(350);
    left: px-to-vw(218);
    z-index: 99;
    display: flex;
    flex-direction: column;
    width: px-to-vw(1212);
    height: fit-content;
    color: transparent;
    font-size: px-to-vw(120);
    text-transform: uppercase;
    background: linear-gradient(213.85deg, #6ba3ee 14.91%, #005ad2 79.93%);

    // background: linear-gradient(277deg, #6ba3ee 14.91%, #005ad2 79.93%);
    // background-position: 100% 50%;
    // background-size: 200% 200%;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 1s;
    -webkit-text-fill-color: transparent;

    div {
      line-height: 1.2;
    }
  }

  &.active {
    .color_title {
      background-position: 0% 50%;
    }
  }

  .light_wrap {
    position: absolute;
    top: px-to-vw(330);
    left: px-to-vw(900);
    z-index: 99;
    width: 180px;
    height: 480px;

    .light {
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg,hsla(233deg, 65%, 41%, 0),hsla(0deg,0%,100%,.9) 47.98%,hsla(226deg, 44%, 38%, 0));

      // background: linear-gradient(90deg,transparent,#000 40%,#000 60%,transparent);

      background: linear-gradient(90deg,transparent,#000 40%,#000 60%,transparent);
      transform: rotate(10deg);
      opacity: .5;
    }
  }

  .roboat {
    position: absolute;
    top: px-to-vw(-87);
    right: px-to-vw(112);
    width: px-to-vw(1694);
    height: px-to-vw(1694);

    @include c-bg('section04/f2.png');
  }
}

.sec5 {
  position: relative;
  z-index: 6;
  margin-top: px-to-vw(-490);
  overflow: hidden;
  background: linear-gradient(transparent 0, transparent 40%, black 40%, black 100%);

  @include c-bg('add/top.png');

  .title {
    width: fit-content;
    margin: px-to-vw(288) auto 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .slogan {
    width: px-to-vw(564);
    height: px-to-vw(158);
    margin: px-to-vw(64) auto 0;
    color: #186bd9;
    font-weight: 700;
    font-size: px-to-vw(48);
    line-height: px-to-vw(158);
    white-space: nowrap;
    text-align: center;

    @include c-bg('section05/f6.png');
  }

  .desc {
    width: px-to-vw(1000);
    margin: px-to-vw(64) auto 0;
    color: #fff;
    text-align: center;

    @include c-fontsize(32);
  }

  .phoneBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: px-to-vw(185);
  }

  .left {
    width: 100%;
    height: px-to-vw(407);
    margin-left: px-to-vw(-46);
    background-position: left center;

    @include c-bg('section05/f2.png');
  }

  .right {
    position: relative;
    z-index: 3;
    width: 100%;
    height: px-to-vw(406);
    margin-top: px-to-vw(83);
    margin-left: px-to-vw(70);
    background-position: right center;

    @include c-bg('section05/f4.png');
  }

  .phone {
    position: absolute;
    right: 0;
    bottom: px-to-vw(-20);
    left: 0;
    width: px-to-vw(890);
    height: px-to-vw(1030);
    margin: auto;

    @include c-bg('section05/f3.png');
  }

  .phonside {
    width: px-to-vw(728);
    height: px-to-vw(44);
    margin-top: px-to-vw(179);
    margin-left: px-to-vw(824);

    @include c-bg('section05/f5.png');
  }
}

.sec6 {
  overflow: hidden;

  .phoneBox {
    display: flex;
    gap: px-to-vw(75);
    width: fit-content;
    margin: px-to-vw(270) auto 0;
  }

  .com {
    display: flex;
    flex-direction: column;
  }

  .name {
    margin: 0 auto px-to-vw(75);
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(19);
  }

  .f1 .phone {
    width: px-to-vw(361);
    height: px-to-vw(1186);

    @include c-bg('section06/f1.png');

    background-size: 100% 150%;
  }

  .f2 .phone {
    width: px-to-vw(361);
    height: px-to-vw(1186);

    @include c-bg('section06/f2.png');

    background-size: 100% 150%;
  }

  .f3 .phone {
    width: px-to-vw(361);
    height: px-to-vw(1186);

    @include c-bg('section06/f3.png');

    background-size: 100% 150%;
  }

  .phone {
    transition: all .5s;
  }

  .phone:hover {
    transform: scale(1.05);
  }
}

.sec7 {
  margin-top: px-to-vw(-50);
  background-color: transparent;

  .light_wrap {
    left: px-to-vw(1300);
  }
}

.sec8 {
  position: relative;
  height: px-to-vw(1440);
  margin-top: px-to-vw(-490);
  padding-right: px-to-vw(219);
  padding-left: px-to-vw(208);
  overflow: hidden;
  background: linear-gradient(transparent 0, transparent 40%, black 40%, black 100%);

  @include c-bg('add/top.png');

  .movie {
    position: absolute;
    top: px-to-vw(350);
    left: px-to-vw(208);
    z-index: 2;
    width: px-to-vw(1006);
    height: px-to-vw(795);

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  .box {
    position: absolute;
    top: px-to-vw(350);
    left: px-to-vw(1443);
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .box1 {
    top: px-to-vw(350);
    left: px-to-vw(1443);

    .f1 {
      width: px-to-vw(564);
      height: px-to-vw(20);
      margin-top: px-to-vw(64);

      @include c-bg('section13/f3.png');
    }

    .sub {
      margin: px-to-vw(30) 0;
      color: #186bd9;
      font-weight: 700;

      @include c-fontsize(48);
    }

    .f2 {
      width: px-to-vw(564);
      height: px-to-vw(20);

      @include c-bg('section13/f4.png');
    }
  }

  .left {
    width: px-to-vw(1006);
    height: px-to-vw(795);

    @include c-bg('section08/f1.png');
  }

  .right {
    width: px-to-vw(898);
    margin-top: px-to-vw(28);
  }

  .title {
    color: #fff;
    font-size: px-to-vw(64) !important;
    line-height: calc(77 / 64);
    text-transform: uppercase;
  }

  .img {
    width: px-to-vw(759);
    height: px-to-vw(24);
    margin-top: px-to-vw(64);

    @include c-bg('section08/f3.png');
  }

  .desc {
    width: px-to-vw(898);
    margin-top: px-to-vw(64);
    color: #fff;
    line-height: 1.2;

    @include c-fontsize(32);
  }

  .params {
    display: flex;
    gap: px-to-vw(86);
    margin-top: px-to-vw(140);
  }

  .param {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .big {
    color: #006dff;
    line-height: 1.2;

    @include c-fontsize(62);
  }

  .small {
    color: #fff;
    line-height: 1.2;

    @include c-fontsize(20);
  }
}

.sec9 {
  padding: px-to-vw(278) 0 px-to-vw(305);

  .box {
    display: flex;
    gap: px-to-vw(322);
    align-items: center;
    margin-left: px-to-vw(220);
  }

  .left {
    height: fit-content;
  }

  .title {
    color: #fff;
    line-height: calc(77 / 64);
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .img {
    width: px-to-vw(379);
    height: px-to-vw(11);
    margin-top: px-to-vw(64);

    @include c-bg('section08/f3.png');
  }

  .desc {
    width: px-to-vw(1050);
    margin-top: px-to-vw(64);
    color: #fff;
    font-weight: 400;
    line-height: 1.2;

    @include c-fontsize(32);
  }

  .params {
    display: flex;
    gap: px-to-vw(108);
    margin-top: px-to-vw(66);
    color: #fff;
    line-height: 1.2;

    @include c-fontsize(24);
  }

  .right {
    display: flex;
  }

  .f1 {
    position: relative;
    z-index: 2;
    width: px-to-vw(367);
    height: px-to-vw(803);

    @include c-bg('section10/f1.png');
  }

  .f2 {
    width: px-to-vw(320);
    height: px-to-vw(752);
    margin-top: px-to-vw(20);
    margin-left: px-to-vw(-70);

    @include c-bg('section10/f2.png');
  }

  .img1 {
    width: px-to-vw(128);
    height: px-to-vw(128);

    @include c-bg('section08/aa.png');
  }

  .img2 {
    width: px-to-vw(128);
    height: px-to-vw(128);

    @include c-bg('section08/bb.png');
  }

  .img3 {
    width: px-to-vw(128);
    height: px-to-vw(128);

    @include c-bg('section08/cc.png');
  }

  .img4 {
    width: px-to-vw(128);
    height: px-to-vw(128);

    @include c-bg('section08/dd.png');
  }
}

.sec10 {
  .color_title {
    width: px-to-vw(1700);
  }

  .light_wrap {
    left: px-to-vw(1700);
  }
}

.sec11 {
  position: relative;
  margin-top: px-to-vw(-490);
  background: linear-gradient(transparent 0, transparent 40%, black 40%, black 100%);

  .head {
    position: absolute;
    top: 0;
    z-index: 6;
    width: 100vw;
    height: px-to-vw(1625);

    @include c-bg('add/top3.png');
  }

  .title {
    position: relative;
    z-index: 7;
    margin-top: px-to-vw(300);
    color: #fff;
    line-height: 1.2;
    text-align: center;

    @include c-fontsize(64);
  }

  .box {
    position: relative;
    z-index: 7;
    display: flex;
    gap: px-to-vw(254);
    width: fit-content;
    margin: px-to-vw(120) auto 0;
  }

  .left , .right {
    display: flex;
    flex-direction: column;
    width: px-to-vw(733);
    text-align: center;
  }

  .f1, .f2 {
    width: px-to-vw(733);
    height: px-to-vw(27);
  }

  .f1 {

    @include c-bg('section13/f3.png');
  }

  .f2 {
    margin-top: px-to-vw(40);

    @include c-bg('section13/f4.png');
  }

  .sub {
    margin-top: px-to-vw(39);
    color: #186bd9;
    font-weight: 700;
    line-height: 1.2;

    @include c-fontsize(48);
  }

  .left .desc {
    width: px-to-vw(670);
  }

  .desc {
    margin-top: px-to-vw(32);
    color: #fff;
    line-height: 1.2;

    @include c-fontsize(32);
  }

  .videoBox {
    margin-top: px-to-vw(-280);
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sec12 {
  position: relative;
  z-index: 9;
  height: px-to-vw(1261);
  margin-top: px-to-vw(-150);
  padding-right: px-to-vw(220);
  padding-left: px-to-vw(208);
  background: linear-gradient(transparent 0, transparent 20%, black 20%, black 100%);

  @include c-bg('add/bg06.png');

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    width: 100%;
    margin-top: px-to-vw(300);
  }

  .title {
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-align: left;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .left {
    height: fit-content;
  }

  .sub {
    margin-top: px-to-vw(53);
    color: #186bd9;
    line-height: 1.2;

    @include c-fontsize(64);
  }

  .desc {
    margin-top: px-to-vw(54);
    color: #fff;
    line-height: 1.2;
    white-space: nowrap;

    @include c-fontsize(32);
  }

  .right {
    position: relative;
    width: px-to-vw(1065);
    height: px-to-vw(746);
  }

  .outer {
    position: absolute;
    top: 0;
    width: px-to-vw(1070);
    height: px-to-vw(751);

    @include c-bg('add/border.png');
  }

  .videoBox {
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sec13 {
  overflow: hidden;

  .title {
    margin-top: px-to-vw(222);
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .line {
    width: px-to-vw(757);
    height: px-to-vw(11);
    margin: px-to-vw(64) auto 0;

    @include c-bg('section14/f3.png');
  }

  .desc {
    width: px-to-vw(978);
    margin: px-to-vw(64) auto 0;
    color: #fff;
    line-height: 1.2;
    text-align: center;

    @include c-fontsize(32);
  }

  .img {
    width: px-to-vw(1153);
    height: px-to-vw(909);
    margin: px-to-vw(78) auto 0;

    @include c-bg('section14/f1.png');
  }
}

.sec14 {
  position: relative;
  z-index: 3;
  height: px-to-vw(1261);
  margin-top: px-to-vw(-100);
  padding-right: px-to-vw(220);
  padding-left: px-to-vw(220);
  background: linear-gradient(transparent 0, transparent 20%, black 20%, black 100%);

  @include c-bg('add/bg06.png');

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: px-to-vw(278);
  }

  .title {
    color: #fff;
    line-height: 1.2;
    text-align: left;

    @include c-fontsize(64);
  }

  .img {
    width: px-to-vw(678);
    height: px-to-vw(21);
    margin-top: px-to-vw(60);

    @include c-bg('section15/f2.png');
  }

  .desc {
    width: px-to-vw(920);
    margin-top: px-to-vw(60);
    color: #fff;
    line-height: 1.2;
    text-align: left;

    @include c-fontsize(32);
  }

  .logBox {
    display: flex;
    gap: px-to-vw(37);
    margin-top: px-to-vw(96);
  }

  .logo {
    width: px-to-vw(191);
    height: px-to-vw(79);

    @include c-bg('section15/f3.png');
  }

  .audo {
    width: px-to-vw(78);
    height: px-to-vw(79);

    @include c-bg('section15/f4.png');
  }

  .right {
    width: px-to-vw(900);

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sec15 {
  padding-top: px-to-vw(234);
  padding-bottom: px-to-vw(326);

  .box {
    display: flex;
    gap: px-to-vw(174);
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  .left {
    width: px-to-vw(834);
  }

  .title {
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .img {
    width: px-to-vw(544);
    height: px-to-vw(16);
    margin-top: px-to-vw(60);

    @include c-bg('section15/f2.png');
  }

  .desc {
    margin-top: px-to-vw(60);
    color: #fff;
    line-height: 1.2;

    @include c-fontsize(32);
  }

  .right {
    width: px-to-vw(1065);
    height: px-to-vw(746);

    @include c-bg('section16/f1.png');
  }
}

.sec16 {
  background-color: transparent;

  .color_title {
    width: px-to-vw(1300);
  }

  .light_wrap {
    left: px-to-vw(1300);
  }
}

.sec17 {
  position: relative;
  height: px-to-vw(1351);
  min-height: 100vh;
  margin-top: px-to-vw(-490);
  background: linear-gradient(transparent 0, transparent 40%, black 40%, black 100%);

  @include c-bg('add/top.png');

  .title {
    margin-top: px-to-vw(270);
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .sub {
    margin-top: px-to-vw(48);
    color: #186bd9;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    @include c-fontsize(64);
  }

  .img {
    width: px-to-vw(2023);
    height: px-to-vw(404);
    margin: px-to-vw(300) auto 0;
    background-position: center center;

    @include c-bg('section17/f1.png');
  }

  .phone {
    position: absolute;
    right: 0;
    bottom: px-to-vw(-950);
    left: px-to-vw(-98);
    width: px-to-vw(710);
    height: px-to-vw(1552);
    margin: auto;

    @include c-bg('section17/f2.png');
  }

  .bigImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: px-to-vw(1174);
    min-height: 100vh;
    margin: auto;
    background-position: center center;

    @include c-bg('section18/f1.png');

    background-size: cover;
  }
}

.sec18 {
  height: px-to-vw(1174);

  @include c-bg('section18/f1.png');

  background-position: center center;
  background-size: cover;
}

.sec19 {
  position: relative;
  height: px-to-vw(1550);
  padding-top: px-to-vw(251);
  padding-right: px-to-vw(370);
  padding-left: px-to-vw(260);

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include c-bg('section19/f3.png');

  .right {
    position: relative;
    width: px-to-vw(757);
    height: px-to-vw(1009);

    .videoBox {
      overflow: hidden;
    }

    video {
      width: 100%;
      height: 100%;
    }
  }

  .outer {
    position: absolute;
    z-index: 2;
    width: px-to-vw(880);
    height: px-to-vw(1018);

    @include c-bg('section19/f4.png');
  }

  .title {
    color: #fff;
    line-height: 1.2;
    text-transform: unset;

    @include c-fontsize(64);
  }
}

.sec20 {
  padding-top: px-to-vw(204);
  padding-bottom: px-to-vw(313);

  .title {
    color: #fff;
    text-align: center;

    @include c-fontsize(64);
  }

  .box {
    width: fit-content;
    margin: px-to-vw(64) auto 0;
  }

  .f1 {
    width: px-to-vw(564);
    height: px-to-vw(20);

    @include c-bg('section13/f3.png');
  }

  .text {
    margin: px-to-vw(30) 0;
    color: #186bd9;
    font-weight: 700;

    @include c-fontsize(48);
  }

  .f2 {
    width: px-to-vw(564);
    height: px-to-vw(20);

    @include c-bg('section13/f4.png');
  }

  .desc {
    margin-top: px-to-vw(64);
    color: #fff;
    text-align: center;

    @include c-fontsize(32);
  }

  .top {
    height: px-to-vw(433);
    margin-top: px-to-vw(120);

    @include c-bg('section20/f1.png');

    background-size: cover;
  }

  .bot {
    height: px-to-vw(433);
    margin-top: px-to-vw(24);
    background-position: right;

    @include c-bg('section20/f2.png');

    background-size: cover;
  }
}

.sec21 {
  height: px-to-vw(1509);
  padding-left: px-to-vw(217);

  @include c-bg('section21/f2.png');

  .title {
    margin-top: px-to-vw(257);
    color: #fff;
    text-transform: uppercase;

    @include c-fontsize(62);
  }

  .img {
    display: flex;
    gap: px-to-vw(30);
    height: px-to-vw(787);
    margin-top: px-to-vw(125);
    background-size: cover;

    div {
      flex-shrink: 0;
      width: px-to-vw(1050);
      height: px-to-vw(787);
    }

    .img1 {
      transform-origin: top;

      @include c-bg('section21/fa.png');
    }

    .img2 {

      @include c-bg('section21/fb.png');
    }

    .img3 {

      @include c-bg('section21/fc.png');
    }

    .img4 {

      @include c-bg('section21/fd.png');
    }
  }
}

.sec22 {
  .log {
    position: absolute;
    top: px-to-vw(363);
    right: px-to-vw(212);
    width: px-to-vw(313);
    height: px-to-vw(409);

    @include c-bg('section21/f3.png');
  }

  .color_title {
    width: px-to-vw(1300);
  }

  .light_wrap {
    left: px-to-vw(1400);
  }
}

.sec23 {
  position: relative;
  z-index: 3;
  margin-top: px-to-vw(-400);
  background: linear-gradient(transparent 0, transparent 20%, black 20%, black 100%);

  @include c-bg('add/top.png');

  .title {
    position: relative;
    margin-top: px-to-vw(329);
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .img {
    width: px-to-vw(757);
    height: px-to-vw(12);
    margin: px-to-vw(64) auto 0;

    @include c-bg('section14/f3.png');
  }

  .desc {
    margin: px-to-vw(64) auto 0;
    color: #fff;
    text-align: center;

    @include c-fontsize(32);
  }

  .phone {
    display: flex;
    justify-content: space-between;
    width: px-to-vw(1442);
    height: px-to-vw(862);
    margin: px-to-vw(96) auto 0;

    div {
      width: px-to-vw(287);
      height: px-to-vw(626);
    }
  }

  .img1 {

    @include c-bg("section22/fa.png");
  }

  .img2 {

    @include c-bg("section22/fb.png");
  }

  .img3 {
    transform-origin: top center;

    @include c-bg("section22/fc.png");
  }

  .img4 {

    @include c-bg("section22/fd.png");
  }

  .img5 {

    @include c-bg("section22/fe.png");
  }
}

.secPar {
  .title {
    margin-top: px-to-vw(329);
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .desc {
    margin: px-to-vw(64) auto 0;
    color: #fff;
    text-align: center;

    @include c-fontsize(32);
  }

  .params {
    display: flex;
    justify-content: space-between;
    height: px-to-vw(469);
    margin-top: px-to-vw(163);
    padding: 0 px-to-vw(218);

    @include c-bg('section23/f1.png');

    .title {
      margin-top: px-to-vw(106);
      text-align: left;
    }

    .desc {
      text-align: left;
    }
  }

  .right {
    display: flex;
    gap: px-to-vw(81);
    padding-top: px-to-vw(191);
  }

  .com {
    display: flex;
    flex-direction: column;
  }

  .top {
    color: #fff;

    @include c-fontsize(24);
  }

  .bot {
    margin-top: px-to-vw(18);
    color: #005ad2;

    @include c-fontsize(72);
  }

  .out {
    display: flex;
    gap: px-to-vw(19);
  }

  .up {
    width: px-to-vw(81);
    height: px-to-vw(102);
    margin-top: px-to-vw(30);

    @include c-bg('section23/f2.png');
  }
}

.sec24 {
  height: px-to-vw(1473);
  padding: px-to-vw(306) px-to-vw(201)  px-to-vw(269) 0;

  @include c-bg('section24/bg07.png');

  .box {
    display: flex;
  }

  .left {
    flex: 1;
    background-position: center 30%;
    background-size: cover;
  }

  .title {
    color: #fff;

    @include c-fontsize(64);
  }

  .f1 {
    width: px-to-vw(810);
    height: px-to-vw(18);
    margin-top: px-to-vw(64);

    @include c-bg('section24/f3.png');
  }

  .f2 {
    width: px-to-vw(810);
    height: px-to-vw(18);

    @include c-bg('section24/f4.png');
  }

  .sub {
    width: px-to-vw(810);
    margin: px-to-vw(30) 0;
    color: #186bd9;
    font-weight: 700;

    @include c-fontsize(48);
  }

  .desc {
    width: px-to-vw(720);
    margin-top: px-to-vw(64);
    color: #fff;

    @include c-fontsize(32);
  }

  .params {
    display: flex;
    gap: px-to-vw(169);
    margin-top: px-to-vw(74);
  }

  .com {
    display: flex;
    flex-direction: column;
  }

  .top {
    color: #005ad2;

    @include c-fontsize(72);
  }

  .bot {
    color: #fff;

    @include c-fontsize(24);
  }

  .up {
    width: px-to-vw(81);
    height: px-to-vw(102);

    @include c-bg('section24/f5.png');
  }

  .low {
    width: px-to-vw(81);
    height: px-to-vw(102);

    @include c-bg('section24/f6.png');
  }
}

.sec25 {
  position: relative;
  height: px-to-vw(1261);
  padding-left: px-to-vw(218);

  @include c-bg('add/bg07.png');

  .box {
    position: relative;
    z-index: 3;
  }

  .title {
    margin-top: px-to-vw(397);
    color: #fff;

    @include c-fontsize(64);
  }

  .f1 {
    width: px-to-vw(639);
    height: px-to-vw(18);
    margin-top: px-to-vw(64);

    @include c-bg('section26/f3.png');
  }

  .sub {
    width: px-to-vw(639);
    margin: px-to-vw(30) 0;
    color: #186bd9;
    font-weight: 700;

    @include c-fontsize(48);
  }

  .f2 {
    width: px-to-vw(639);
    height: px-to-vw(18);

    @include c-bg('section26/f4.png');
  }

  .desc {
    width: px-to-vw(896);
    margin-top: px-to-vw(64);
    color: #fff;

    @include c-fontsize(32);
  }

  .movie {
    position: absolute;
    top: px-to-vw(395);
    right: px-to-vw(-30);
    width: px-to-vw(1600);
    height: px-to-vw(800);

    @include c-bg('ani/100.png');

    canvas {
      width: px-to-vw(1600);
      height: px-to-vw(800);
    }
  }
}

.sec26 {
  padding-bottom: px-to-vh(265);
  background-position: center;

  .title {
    margin-top: px-to-vw(212);
    color: #fff;
    text-align: center;

    @include c-fontsize(64);
  }

  .f1 {
    width: px-to-vw(564);
    height: px-to-vw(20);
    margin: px-to-vw(64) auto 0;

    @include c-bg('section13/f3.png');
  }

  .sub {
    margin: px-to-vw(30) auto;
    color: #186bd9;
    font-weight: 700;
    text-align: center;

    @include c-fontsize(48);
  }

  .f2 {
    width: px-to-vw(564);
    height: px-to-vw(20);
    margin: auto;

    @include c-bg('section13/f4.png');
  }

  .desc {
    margin-top: px-to-vw(64);
    color: #fff;
    text-align: center;

    @include c-fontsize(32);
  }

  .img {
    position: relative;
    width: px-to-vw(2560);
    height: px-to-vw(1200);
    margin-top: px-to-vw(180);

    .swiper {
      height: 100%;

      .swiper-pagination-bullet {
        width: px-to-vw(15);
        height: px-to-vw(15);
        background: #fff;
      }
    }

    .imgs {
      width: px-to-vw(2560);
      height: px-to-vw(1127);
    }

    .fa {

      @include c-bg('section26/fa.png');
    }

    .fb {

      @include c-bg('section26/fb.png');
    }

    .fc {

      @include c-bg('section26/fc.png');
    }

    .fd {

      @include c-bg('section26/fd.png');
    }
  }
}

.sec27 {
  position: relative;
  height: px-to-vw(1509);

  @include c-bg('section21/f2.png');

  .box {
    position: relative;
    z-index: 2;
  }

  .title {
    margin-top: px-to-vw(385);
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include c-fontsize(64);
  }

  .botImg {
    position: absolute;
    top: px-to-vw(750);
    z-index: 1;
    width: 100vw;
    height: px-to-vw(470);

    @include c-bg('section27/bg.png');
  }

  .f1 {
    width: px-to-vw(388);
    height: px-to-vw(17);
    margin: px-to-vw(64) auto 0;

    @include c-bg('section26/f5.png');
  }

  .sub {
    width: px-to-vw(388);
    margin: px-to-vw(30) auto;
    color: #186bd9;
    font-weight: 700;
    text-align: center;

    @include c-fontsize(48);
  }

  .f2 {
    width: px-to-vw(388);
    height: px-to-vw(17);
    margin: 0 auto;

    @include c-bg('section26/f6.png');
  }

  .params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: px-to-vw(112);
    padding-right: px-to-vw(674);
    padding-left: px-to-vw(700);
    color: #fff;
    text-align: center;

    div {
      width: 33.33%;
    }

    .bot {
      margin-top: px-to-vw(128);
    }

    @include c-fontsize(32);
  }
}

@media screen and (width <= 768px) {
  section {
    height: unset;
  }

  .sec1 {
    height: px-to-vw-mb(1620);

    .name {
      display: none;
    }

    .slogan {
      display: none;
    }

    .title_wrap {
      display: none;
    }

    .nameGroup {
      position: absolute;
      top: px-to-vw-mb(210);
      right: 0;
      left: 0;
      width: px-to-vw-mb(570);
      height: px-to-vw-mb(168);
      margin: auto;

      @include c-bg("mob/section01/f2.png");
    }

    .product {
      top: px-to-vw-mb(465);
      right: px-to-vw-mb(43);
      left: unset;
      width: px-to-vw-mb(1180);
      height: px-to-vw-mb(1112);

      @include c-bg("mob/section01/f1.png");
    }
  }
}
