@import '../vars';

.tab30pro .sec16 {
  .sec16_wrap {
    position: relative;
    padding: px-to-vw(200) 0;
  }

  .text_wrap {
    display: flex;
    gap: px-to-vw(90);
    justify-content: space-between;
    max-width: var(--content-width);
    margin: 0 auto;

    .left_wrap {
      flex-shrink: 0;
      width: px-to-vw(585);
    }

    .desc_16 {
      margin-top: 0;
    }
  }

  .phone_wrap {
    width: px-to-vw(1520);
    height: px-to-vw(785);
    margin: px-to-vw(48) auto 0;
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec16 {
    .sec16_wrap {
      padding: px-to-vw-mb(150) 0;
    }

    .text_wrap {
      display: block;

      .left_wrap {
        width: 100%;
      }

      .desc_16 {
        margin-top: px-to-vw-mb(24);
      }
    }

    .phone_wrap {
      width: var(--content-width);
      height: px-to-vw-mb(355);
      margin: px-to-vw-mb(48) auto 0;
    }
  }
}