@import "./vars";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.ear571h {
  box-sizing: border-box;
  width: 100%;

  // overflow: hidden;
  color: #000;
  font-family: "DysonCHS-Book";
  line-height: initial;
  background-color: #fff;
  background-image: none !important;

  --content-width: calc(976vw / 11.8);

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DysonCHS-Book";
  }

  section {
    // position: relative;
    // top: 0;
    // will-change: transform;
  }

  button {
    background-color: unset;
    border: unset;
  }

  .img_wrap {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  .pdp_title {
    margin: 0;
    font-size: px-to-vw(40);
    line-height: 1.3;
  }

  .pdp_desc {
    font-size: px-to-vw(21);
    line-height: 1.28;
  }

  .sec3_video_wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    pointer-events: none;

    // &.active {
    //   video {
    //     transform: translateY(0);
    //     opacity: 1;
    //     transition: all .5s;
    //   }
    // }

    &.slide-up {
      video {
        transform: translateY(-100%);
        transition: all .5s;
      }
    }

    &.slide-down {
      video {
        transform: translateY(100%);
        transition: all .5s;
      }
    }

    video {
      // width: 100%;
      position: absolute;
      top: px-to-vw(30);
      left: px-to-vw(102);
      width: px-to-vw(1800);
      transition: all .5s;

      // transform: translateY(200px);
      // opacity: 0;
      // transition: all .5s;
    }
  }

  .ani_ele {
    transform: translateY(200);
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .section.active {
    .ani_ele {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .fp-overflow {
    height: 100%;
  }

  .sec1,
  .sec2 {
    color: #fff;
    background-color: #000;
  }

  .sec3,
  .sec32 {
    color: #fff;
  }

  .sec4,
  .sec5,
  .sec6,
  .bottom_part {
    background-color: #fff;
  }

  .fp-watermark {
    display: none;
  }
}