@import '../vars';

.spark20pro5g .sec2 {
  padding: 0 0 px-to-vw(200);

  .h_full {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ctt {
    // width: 100%;
    // height: px-to-vw(626);
  }

  .items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .item {
    width: px-to-vw(1686);

    img {
      width: 100%;
    }
  }

  // .img_wrap {
  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  // .text_wrap {
  //   position: absolute;
  //   top: 50%;
  //   text-align: center;
  //   transform: translateY(-50%);
  // }

  // .highlight_title {
  //   font-size: px-to-vw(32);
  //   font-style: italic;
  // }
}