@import '../vars';

.tab30pro .sec15 {
  .sec15_wrap {
    position: relative;
    height: px-to-vw(1090);
  }

  .bg_wrap2 {
    opacity: 0;
  }

  .text_wrap {
    position: absolute;
    top: px-to-vw(100);
    left: px-to-vw(360);
    z-index: 1;
    width: var(--content-width);
    margin: 0 auto;
    color: #fff;

    .desc_16 {
      color: #fff;
    }
  }

  .text_wrap2 {
    opacity: 0;
  }

  .datas {
    position: absolute;
    top: px-to-vw(720);
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: var(--content-width);
    min-height: px-to-vw(150);
    margin: 0 auto;
    color: #fff;
    background-size: 100% 100% !important;
    opacity: 0;

    @include bg("pc/sec15_data_bg_pc.webp", false);

    .data_title {
      font-size: px-to-vw(29);
      font-family: "Regular";
    }

    .data_desc {
      margin-top: px-to-vw(8);
      font-size: px-to-vw(16.6);
      font-family: "Regular";
    }

    .data_line {
      display: block;
      width: 1px;
      height: px-to-vw(53);
      background-color: #fff;
    }
  }
}

@media (max-width: $mobwidthPx) {
  .tab30pro .sec15 {
    .sec15_wrap {
      height: px-to-vw-mb(1111);
    }

    .text_wrap {
      top: px-to-vw-mb(150);
      left: calc((100vw - var(--content-width)) / 2);
    }

    .datas {
      top: px-to-vw-mb(850);
      min-height: px-to-vw-mb(136);
      padding: px-to-vw-mb(24);

      @include bg("mb/sec15_data_bg_mb.png", false);

      .data_title {
        font-size: px-to-vw-mb(27);
      }

      .data_desc {
        font-size: px-to-vw-mb(20.8);
      }
    }
  }
}