@font-face {
  font-family: 'HR';
  src: url('../src/assets/font/HurmeGeometricSans_No3_4_Regular.otf');
}

@font-face {
  font-family: 'HB';
  src: url('../src/assets/font/HurmeGeometricSans_No3_6_Bold.otf');
}

@font-face {
  font-family: 'KT';
  src: url('../src/assets/font/korataki-rg.otf');
}
