@font-face {
  font-family: "Bold";
  src: url("/src/assets/font/MarkOT-Bold.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/src/assets/font/MarkOT-Medium.otf");
}

@font-face {
  font-family: "Light";
  src: url("/src/assets/font/MarkOT-Light.otf");
}

@font-face {
  font-family: "Book";
  src: url("/src/assets/font/MarkOT-Book.otf");
}

@font-face {
  font-family: "Normal";
  src: url("/src/assets/font/MarkOT.otf");
}

// @font-face {
//   font-family: "Bold";
//   src: url("/src/assets/font/HelveticaNeueWorld-75Bold.otf");
// }

// @font-face {
//   font-family: "Medium";
//   src: url("/src/assets/font/HelveticaNeueWorld-55Roman.otf");
// }

// @font-face {
//   font-family: "Light";
//   src: url("/src/assets/font/HelveticaNeueWorld-55Roman.otf");
// }

// @font-face {
//   font-family: "Book";
//   src: url("/src/assets/font/HelveticaNeueWorld-55Roman.otf");
// }

// @font-face {
//   font-family: "Normal";
//   src: url("/src/assets/font/HelveticaNeueWorld-55Roman.otf");
// }
