@import '../vars';

.spark20pro5g .sec8 {
  position: relative;
  padding: px-to-vw(400) 0 0 0;

  .bg_wrap {
    // position: absolute;
    // right: 0;
    // bottom: 0;
    width: px-to-vw(1783);
    height: px-to-vw(627);
    margin: 0 0 0 auto;

    img {
      width: 100%;
    }
  }

  .img_wrap {
    position: absolute;
    right: 0;
    bottom: px-to-vw(67);
    width: px-to-vw(914);
    font-size: 0;

    img {
      width: 100%;
    }
  }

  .text_wrap {
    position: absolute;
    bottom: px-to-vw(70);
    left: px-to-vw(460);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: px-to-vw(500);
    height: px-to-vw(530);
  }
}

@media (max-width: $mobwidthPx) {
  .spark20pro5g .sec8 {
    padding: 0;

    .text_wrap {
      position: unset;
      display: block;
      width: auto;
      height: auto;
      margin: 0 px-to-vw-mb(120);
    }

    .bg_wrap {
      width: 100%;
      height: px-to-vw-mb(709);
      margin: px-to-vw-mb(400) 0 0;
    }

    .img_wrap {
      bottom: px-to-vw-mb(116);
      width: px-to-vw-mb(965);
      height: px-to-vw-mb(983);
    }
  }
}