@import '../vars';

.spark20 .sec12 {
  .special_text_container {
    width: 90%;
    background-image: linear-gradient(101.44deg, #b7b6f0 33.33%, #d0cdf6 50.52%, #9596e8 100%);
  }
}

@media (max-width: $mobwidthPx) {
  .spark20 .sec12 {
    .special_text_container {
      .special_title {
        font-size: px-to-vw-mb(115);
      }
    }
  }
}