@import '../vars';

.spark20 .sec12 {
  .special_text_container {
    width: 90%;
    background-image: linear-gradient(90deg, #ffd67c 0%, #ffd987 10%, #ffe1a6 27%, #fff0d8 50%, #feecd1 55%, #fde2be 62%, #fcd29f 70%, #fabc73 80%, #f8a03d 90%, #f68100 100%);
  }
}

@media (max-width: $mobwidthPx) {
  .spark20 .sec12 {
    .special_text_container {
      .special_title {
        font-size: 10.6vw;
      }
    }
  }
}