@import '../../vars';

.button_component {
  position: absolute;
  bottom: px-to-vw(70);
  left: 50%;
  width: px-to-vw(336);
  padding: px-to-vw(12) px-to-vw(20);
  background: #ffffff1a;
  border-radius: px-to-vw(46);
  box-shadow: 0 2px 2px 0 #00000040;
  transform: translateX(-50%);
  cursor: pointer;

  &.open {
    .button_block {
      transform: translateX(px-to-vw(142));
    }
  }

  .button_block {
    position: relative;
    width: px-to-vw(154);
    height: px-to-vw(62);
    background: #2e4769;
    border-radius: px-to-vw(54);
    box-shadow: 0 2px 3px 0 #0000001a;
    transition: all .3s;
  }
  
  .text {
    position: absolute;
    top: 50%;
    color: transparent;
    font-size: px-to-vw(32);
    font-family: "HB";
    background: linear-gradient(92.78deg, #7ad0e0 0%, #e5f5b6 80.41%);
    -webkit-background-clip: text;
    background-clip: text;
    transform: translateY(-50%);
  }
  
  .on {
    left: px-to-vw(60);
  }
  
  .off {
    right: px-to-vw(60);
  }
}

@media (max-width: $mobwidthPx) {
  .button_component {
    bottom: px-to-vw-mb(98);
    width: px-to-vw-mb(452);
    padding: px-to-vw-mb(17) px-to-vw-mb(28);
    border-radius: px-to-vw-mb(62);

    &.open {
      .button_block {
        transform: translateX(px-to-vw-mb(189));
      }
    }

    .button_block {
      width: px-to-vw-mb(207);
      height: px-to-vw-mb(84);
      border-radius: px-to-vw-mb(73);
    }
    
    .text {
      font-size: px-to-vw-mb(43);
    }
    
    .on {
      left: px-to-vw-mb(85);
    }
    
    .off {
      right: px-to-vw-mb(85);
    }
  }
}