@import '../vars';

.sec1 {
  position: relative;
  background-color: #fff;

  .content {
    position: absolute;
    top: px-to-vw(315);
    left: px-to-vw(116);
    text-align: center;
  }

  .kv {
    height: px-to-vw(960);
  }

  .slogn {
    height: px-to-vw(60);
  }

  .title {
    margin: px-to-vw(8) 0 px-to-vw(14);
    font-size: px-to-vw(52);
    font-family: "HR";
  }

  .items {
    display: flex;
    margin-bottom: px-to-vw(66);
    text-align: left;

    .item {
      display: flex;
      align-items: center;

      &:after {
        display: inline-block;
        width: 1px;
        height: 100%;
        margin: 0 px-to-vw(16);
        background-color: #959595;
        content: '';
      }

      &:last-child:after {
        display: none;
      }
    }

    .item_title {
      margin-right: px-to-vw(7);
      font-size: px-to-vw(32);
    }

    .item_desc {
      font-size: px-to-vw(12);
    }

    .dts_logo {
      align-self: flex-start;
      width: px-to-vw(16);
      height: px-to-vw(7);
      margin: px-to-vw(10) 0 0 px-to-vw(2);

      @include bg('sec1PcDts.png'); }
  }

  .pic2 {
    height: px-to-vw(73);
  }
}

@media (max-width: $mobwidthPx) {
  .sec1 {
    .content {
      top: px-to-vw-mb(250);
      left: 50%;
      width: 88%;
      transform: translateX(-50%);
    }

    .kv {
      height: px-to-vw-mb(2367);
    }

    .slogn {
      height: px-to-vw-mb(108);
    }

    .title {
      margin: px-to-vw-mb(14) 0 px-to-vw-mb(22);
      font-size: px-to-vw-mb(90);
    }

    .items {
      .item {
        &:after {
          height: 80%;
          margin: 0 px-to-vw-mb(25);
        }
      }

      .item_title {
        font-size: px-to-vw-mb(56);
      }

      .item_desc {
        font-size: px-to-vw-mb(21);
      }

      .dts_logo {
        width: px-to-vw-mb(26);
        height: px-to-vw-mb(10);
        margin: px-to-vw-mb(18) 0 0 px-to-vw-mb(10);
      }
    }

    .pic2 {
      height: px-to-vw-mb(122);
    }
  }
}